Repository intel-analytics/ipex-llm, pull requests merged in 2021-11, with the labels that each got.

#3326 Chronos: Update link and doc in chronos src
  python/chronos/src/bigdl/chronos/README.md
  python/chronos/src/bigdl/chronos/autots/deprecated/forecast.py
  python/chronos/src/bigdl/chronos/autots/deprecated/regression/base_predictor.py
  python/chronos/src/bigdl/chronos/autots/deprecated/regression/time_sequence_predictor.py
Labels: Chronos

#3342 Chronos: Update use-case link and readme
  python/chronos/use-case/AIOps/AIOps_anomaly_detect_unsupervised_forecast_based.ipynb
  python/chronos/use-case/AIOps/README.md
  python/chronos/use-case/fsi/README.md
  python/chronos/use-case/fsi/stock_prediction_prophet.ipynb
  python/chronos/use-case/network_traffic/README.md
  python/chronos/use-case/network_traffic/network_traffic_autots_customized_model.ipynb
  python/chronos/use-case/network_traffic/network_traffic_autots_forecasting.ipynb
  python/chronos/use-case/network_traffic/network_traffic_autots_forecasting_deprecated.ipynb
  python/chronos/use-case/network_traffic/network_traffic_model_forecasting.ipynb
  python/chronos/use-case/network_traffic/network_traffic_multivariate_multistep_tcnforecaster.ipynb
Labels: Chronos

#3336 Chronos: Update environment variable name in chronos dev
  python/chronos/dev/colab-notebook/run-notebook-pytorch.sh
  python/chronos/dev/example/run-example-tests-pip-ray.sh
Labels: Chronos

#3343 Chronos: Update chronos example link and readme
  python/chronos/example/auto_model/README.md
  python/chronos/example/distributed/README.md
  python/chronos/example/onnx/README.md
  python/chronos/example/tcmf/README.md
Labels: Chronos

#3391 Chronos: Optimize AppTest operation
  python/chronos/dev/app/run-app-tests-pip.sh
Labels: Chronos

#3395 Chronos: link updates for api docs
  docs/readthedocs/source/doc/PythonAPI/Chronos/forecasters.rst
Labels: document, Chronos

#3397 Update Init_orca_context
  python/orca/src/bigdl/orca/common.py
Labels: orca

#3167 Chronos: add lstm forecaster support sep settings by layer
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/model/VanillaLSTM_pytorch.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
Labels: Chronos

#3377 Chronos: change default search space for autoprophet
  python/chronos/example/auto_model/autoprophet_nyc_taxi.py
  python/chronos/src/bigdl/chronos/autots/model/auto_prophet.py
Labels: Chronos

#3413 Chronos: split chronos ut to two parts and shrink some of the tests
  python/chronos/dev/test/run-pytests.sh
  python/chronos/test/bigdl/chronos/forecaster/test_mtnet_forecaster.py
  python/chronos/test/bigdl/chronos/model/test_Seq2Seq.py
  python/chronos/test/bigdl/chronos/model/test_mtnet.py
Labels: Chronos

#3224 Chronos: Fix wrong error message format in chronos
  python/chronos/src/bigdl/chronos/autots/autotsestimator.py
  python/chronos/src/bigdl/chronos/autots/model/auto_prophet.py
  python/chronos/src/bigdl/chronos/autots/model/base_automodel.py
  python/chronos/src/bigdl/chronos/data/experimental/xshards_tsdataset.py
  python/chronos/src/bigdl/chronos/data/repo_dataset.py
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/impute.py
  python/chronos/src/bigdl/chronos/data/utils/resample.py
  python/chronos/src/bigdl/chronos/detector/anomaly/ae_detector.py
  python/chronos/src/bigdl/chronos/detector/anomaly/th_detector.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/src/bigdl/chronos/model/Seq2Seq_pytorch.py
  python/chronos/src/bigdl/chronos/model/tcn.py
  python/chronos/src/bigdl/chronos/simulator/doppelganger/util.py
Labels: Chronos

#3211 Chronos: Change the redownload method
  docs/readthedocs/source/doc/PythonAPI/Chronos/tsdataset.rst
  python/chronos/example/auto_model/autolstm_nyc_taxi.py
  python/chronos/example/distributed/distributed_training_network_traffic.py
  python/chronos/example/onnx/onnx_autotsestimator_nyc_taxi.py
  python/chronos/example/onnx/onnx_forecaster_network_traffic.py
  python/chronos/src/bigdl/chronos/data/repo_dataset.py
  python/chronos/src/bigdl/chronos/data/utils/public_dataset.py
  python/chronos/test/bigdl/chronos/data/utils/test_public_dataset.py
Labels: Chronos

#3476 Chronos: remove the non-zero check in `mtnet test_predict_with_uncertainty`
  python/chronos/test/bigdl/chronos/model/test_mtnet.py
Labels: Chronos

#3441 Chronos: Forecaster in doc shows more friendly
  docs/readthedocs/source/doc/PythonAPI/Chronos/forecasters.rst
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: document, Chronos

#3411 Changed KafkaSource to be consistent with Redis
  scala/serving/src/main/scala/com/intel/analytics/bigdl/serving/flink/FlinkKafkaSource.scala
Labels: contribute

#3380 Fix the issue that NPE thrown by ClusterServing.jedisPool with Kafka
  scala/serving/src/main/scala/com/intel/analytics/bigdl/serving/preprocessing/PreProcessing.scala
Labels: contribute

#3166 Chronos: fix tsdataset bug when lookback > len(df)
  python/chronos/src/bigdl/chronos/data/utils/roll.py
Labels: Chronos

#3356 Chronos: lazily import tsfresh to help no `[all]` installation.
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/feature.py
Labels: Chronos

#3474 Chronos: Autotsest `future_seq_len` support list input
  python/chronos/src/bigdl/chronos/autots/autotsestimator.py
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/roll.py
  python/chronos/test/bigdl/chronos/autots/test_autotsestimator.py
Labels: Chronos

#3506 Chronos: add `forecaster.fit`'s support on dataloader
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
  python/orca/src/bigdl/orca/automl/model/base_pytorch_model.py
Labels: Chronos

#3475 Chronos: Fixed the need to manually divide batch_size in `distributed`
  python/chronos/example/distributed/README.md
  python/chronos/example/distributed/distributed_training_network_traffic.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#3495 Chronos: add two version fix for ray[tune] dependencies
  python/chronos/src/setup.py
Labels: Chronos

#3555 Chronos: add import changing for chronos.autots
  python/chronos/src/bigdl/chronos/autots/__init__.py
Labels: Chronos

#3589 Fix init_spark_on_k8s
  python/dllib/src/bigdl/dllib/utils/spark.py
Labels: orca, k8s

#3608 Chronos: add independent `chronos.metric`
  python/chronos/src/bigdl/chronos/metric/__init__.py
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
  python/chronos/test/bigdl/chronos/metric/__init__.py
  python/chronos/test/bigdl/chronos/metric/test_forecast_metrics.py
Labels: Chronos

#3504 Chronos: Add cycle length auto detection in TSDataset and AutoTSEstimator
  python/chronos/src/bigdl/chronos/data/utils/cycle_detection.py
  python/chronos/test/bigdl/chronos/data/utils/test_cycle_detection.py
Labels: Chronos
