Repository intel-analytics/ipex-llm, pull requests merged in 2021-12, with the labels that each got.

#3497 Cluster Serving add kafka client.
  python/serving/src/bigdl/serving/kafka/client.py
  python/serving/src/setup.py
Labels: contribute

#3539 Chronos: pytorch based forecasters on bigdl-nano
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/src/bigdl/chronos/model/Seq2Seq_pytorch.py
  python/chronos/src/bigdl/chronos/model/VanillaLSTM_pytorch.py
  python/chronos/src/bigdl/chronos/model/tcn.py
  python/chronos/src/bigdl/chronos/model/utils.py
  python/chronos/src/setup.py
  python/chronos/test/bigdl/chronos/detector/anomaly/test_th_detector.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#3690 Chronos: Fix forecaster doc
  docs/readthedocs/requirements-doc.txt
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: document, Chronos

#3653 Chronos: Add cycle_length to `tsdataset` and `autotsest`
  python/chronos/src/bigdl/chronos/autots/autotsestimator.py
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/cycle_detection.py
  python/chronos/test/bigdl/chronos/autots/test_autotsestimator.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#3720 Chronos: Remove tf1 from dependencies
  python/chronos/src/bigdl/chronos/forecaster/__init__.py
  python/chronos/src/setup.py
Labels: Chronos

#3609 Chronos: TSPipeline on bigdl-nano
  python/chronos/src/bigdl/chronos/autots/autotsestimator.py
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
Labels: Chronos

#3744 Chronos: Fix chronos colab-notebook torchtext version conflict
  python/chronos/colab-notebook/chronos_autots_nyc_taxi.ipynb
  python/chronos/colab-notebook/chronos_minn_traffic_anomaly_detector.ipynb
  python/chronos/colab-notebook/chronos_nyc_taxi_tsdataset_forecaster.ipynb
Labels: Chronos

#3735 Chronos: TCN model changes (weightnorm -> batchnorm, resort the layers)
  python/chronos/dev/app/run-app-tests-pip.sh
  python/chronos/src/bigdl/chronos/model/tcn.py
  python/chronos/use-case/network_traffic/network_traffic_multivariate_multistep_tcnforecaster.ipynb
Labels: Chronos

#3745 Chronos: AutoProphet & AutoARIMA without orca when inference
  python/chronos/example/auto_model/autoprophet_nyc_taxi.py
  python/chronos/src/bigdl/chronos/autots/model/auto_arima.py
  python/chronos/src/bigdl/chronos/autots/model/auto_prophet.py
  python/chronos/src/bigdl/chronos/forecaster/arima_forecaster.py
  python/chronos/src/bigdl/chronos/model/arima.py
  python/chronos/src/bigdl/chronos/model/prophet.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_prophet.py
  python/orca/src/bigdl/orca/automl/search/ray_tune/ray_tune_search_engine.py
Labels: Chronos

#3766 Chronos: fix broken api doc in autots
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
Labels: document, Chronos

#3624 Chronos: Change `n_sampling` to the total number of searches
  python/chronos/dev/app/run-app-tests-pip.sh
  python/chronos/dev/example/run-example-tests-pip-ray.sh
  python/chronos/example/auto_model/autolstm_nyc_taxi.py
  python/chronos/example/auto_model/autoprophet_nyc_taxi.py
  python/chronos/example/onnx/README.md
  python/chronos/example/onnx/onnx_autotsestimator_nyc_taxi.py
  python/chronos/src/bigdl/chronos/autots/autotsestimator.py
  python/chronos/src/bigdl/chronos/autots/model/auto_arima.py
  python/chronos/src/bigdl/chronos/autots/model/auto_prophet.py
  python/chronos/src/bigdl/chronos/autots/model/base_automodel.py
  python/chronos/src/bigdl/chronos/autots/utils.py
  python/chronos/use-case/network_traffic/network_traffic_autots_forecasting.ipynb
Labels: Chronos

#3732 Chronos: improvement of the nano setting of forecasters
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
Labels: Chronos

#3788 Chronos: add statsmodels to chronos setup
  python/chronos/src/setup.py
Labels: Chronos, bug

#3755 Chronos: Modify forecast metrics
  python/chronos/dev/test/run-pytests.sh
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
  python/chronos/test/bigdl/chronos/metric/test_forecast_metrics.py
Labels: Chronos

#3795 Chronos: New built-in dataset (ElectricityLoadDiagrams)
  docs/readthedocs/source/doc/Chronos/Overview/data_processing_feature_engineering.md
  python/chronos/src/bigdl/chronos/data/repo_dataset.py
  python/chronos/src/bigdl/chronos/data/utils/public_dataset.py
  python/chronos/test/bigdl/chronos/data/utils/test_public_dataset.py
Labels: Chronos
