Repository intel-analytics/ipex-llm, pull requests merged in 2022-01, with the labels that each got.

#3804 Chronos: Add NBeats model to chronos.model
  python/chronos/src/bigdl/chronos/model/nbeats_pytorch.py
  python/chronos/test/bigdl/chronos/model/test_nbeats_pytorch.py
Labels: Chronos

#3777 Chronos: Add forecasters' dataloader ut when distributed=True
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#3803 Chronos: Turn off the Forecaster auto-save checkpoint method
  python/chronos/src/bigdl/chronos/forecaster/__init__.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
Labels: Chronos

#3774 Chronos: Add setup for bigdl-chronos-lite
  python/chronos/src/bigdl/chronos/forecaster/__init__.py
  python/chronos/src/setup-lite.py
Labels: Chronos

#3821 Chronos: Fix the wrong type of `uci_electricity` target column
  python/chronos/src/bigdl/chronos/data/utils/public_dataset.py
Labels: Chronos

#3839 Chronos: Refactor document structure.
  docs/readthedocs/source/doc/Chronos/Overview/deep_dive.rst
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-anomaly-detector.md
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-autotsest-quickstart.md
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-tsdataset-forecaster-quickstart.md
  docs/readthedocs/source/doc/Chronos/QuickStart/index.md
  docs/readthedocs/source/index.rst
  python/chronos/src/bigdl/chronos/README.md
Labels: document, Chronos

#3852 Chronos: Simplify the requirement version and deps
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/setup.py
Labels: Chronos

#3792 Chronos: TSPipeline supports input data creator
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/test/bigdl/chronos/autots/test_tspipeline.py
Labels: Chronos

#3844 Chronos: Use `ray` output instead of `tqdm` for a clearer log in tuning
  python/chronos/use-case/network_traffic/network_traffic_autots_customized_model.ipynb
  python/orca/src/bigdl/orca/automl/model/base_pytorch_model.py
  python/orca/src/bigdl/orca/automl/search/ray_tune/ray_tune_search_engine.py
Labels: Chronos

#3868 Chronos: Move use-case to `chronos-tutorial` and modify page layout
  docs/readthedocs/source/doc/Chronos/Overview/deep_dive.rst
  docs/readthedocs/source/doc/Chronos/QuickStart/index.md
Labels: document, Chronos

#3897 Orca.automl: fix pytorch cpu thread allocation in each trail
  python/orca/src/bigdl/orca/automl/model/base_keras_model.py
  python/orca/src/bigdl/orca/automl/search/ray_tune/ray_tune_search_engine.py
Labels: Chronos, bug, orca

#3908 Chronos: change critical test for chronos-lite
  python/chronos/test/bigdl/chronos/autots/test_tspipeline.py
  python/chronos/test/bigdl/chronos/detector/anomaly/test_ae_detector.py
  python/chronos/test/bigdl/chronos/detector/anomaly/test_dbscan_detector.py
  python/chronos/test/bigdl/chronos/detector/anomaly/test_th_detector.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/lstm_tsppl_ckpt/best_config.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/lstm_tsppl_ckpt/best_model.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/lstm_tsppl_ckpt/data_process.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/lstm_tsppl_ckpt/model_init.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/s2s_tsppl_ckpt/best_config.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/s2s_tsppl_ckpt/best_model.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/s2s_tsppl_ckpt/data_process.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/s2s_tsppl_ckpt/model_init.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/tcn_tsppl_ckpt/best_config.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/tcn_tsppl_ckpt/best_model.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/tcn_tsppl_ckpt/data_process.ckpt
  python/chronos/test/bigdl/chronos/resources/tsppl_ckpt/tcn_tsppl_ckpt/model_init.ckpt
Labels: Chronos

#3933 Chronos: add quantization method to forecaster
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
  python/nano/src/bigdl/nano/pytorch/runtime_binding/base_inference.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
Labels: Chronos

#3863 Chronos: fix download errors for built-in dataset
  python/chronos/src/bigdl/chronos/data/utils/public_dataset.py
Labels: Chronos
