Repository intel-analytics/ipex-llm, pull requests merged in 2022-12, with the labels that each got.

#6814 Nano: update includes in optimize
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/common/checker.py
  python/nano/test/pytorch/tests/test_inference_optimizer.py
Labels: Nano

#6782 Nano : add get_context() method
  python/nano/example/pytorch/inference_optimizer/resnet/inference_pipeline.py
  python/nano/example/pytorch/inference_optimizer/vision_transformers/vision_transformer.ipynb
  python/nano/example/quantization/neural-compressor/pytorch-lightning/cifar_resnet18/README.md
  python/nano/example/quantization/neural-compressor/pytorch-lightning/cifar_resnet18/resnet18_cifar.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/inc/pytorch/test_trainer_quantize.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/pytorch/tests/test_bf16.py
  python/nano/test/pytorch/tests/test_bf16_ipex.py
  python/nano/test/pytorch/tests/test_inference_optimizer.py
  python/nano/test/pytorch/tests/test_ipex_jit_inference.py
  python/nano/tutorial/inference/pytorch/pytorch_inference_jit_ipex.py
  python/nano/tutorial/inference/pytorch/pytorch_inference_onnx.py
  python/nano/tutorial/inference/pytorch/pytorch_inference_openvino.py
  python/nano/tutorial/inference/pytorch/pytorch_quantization.py
  python/nano/tutorial/inference/pytorch/pytorch_quantization_onnx.py
  python/nano/tutorial/inference/pytorch/pytorch_quantization_openvino.py
  python/nano/tutorial/inference/pytorch/pytorch_save_and_load_ipex.py
  python/nano/tutorial/inference/pytorch/pytorch_save_and_load_jit.py
  python/nano/tutorial/inference/pytorch/pytorch_save_and_load_onnx.py
  python/nano/tutorial/inference/pytorch/pytorch_save_and_load_openvino.py
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_jit_ipex.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_openvino.ipynb
  python/nano/tutorial/notebook/inference/pytorch/inference_optimizer_optimize.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_ipex.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_jit.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_onnx.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_openvino.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_inc.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_pot.ipynb
Labels: Nano

#6842 Doc: add how-to guides to navigation box.
  docs/readthedocs/source/doc/Orca/index.rst
Labels: document, orca

#6847 Nano: fix abnormal accuracy of optimize in InferenceOptimizer
  python/nano/setup.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6802 Nano: add thread ctrl in context manager
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantization.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantized_model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/context_manager.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/utils.py
  python/nano/test/inc/pytorch/test_trainer_quantize.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/run-nano-codestyle-test.sh
Labels: Nano

#6812 Chronos: add numpy implemented scaling to reduce latency
  python/chronos/src/bigdl/chronos/data/utils/scale.py
  python/chronos/test/bigdl/chronos/data/utils/test_scale.py
Labels: Chronos

#6844 Nano: Release m series for pypi nano
  python/dev/release_default_mac.sh
  python/nano/dev/release.sh
  python/nano/dev/release_default_mac_mseries.sh
Labels: Nano

#6843 Nano: Add `inplace` parameter to support model which cannot be copied
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/utils.py
  python/nano/test/pytorch/tests/test_inference_optimizer.py
Labels: Nano

#6811 Chronos: reduce PR-validation time by splitting action workflow
  .github/workflows/chronos-prvn-python-spark-2.4-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37.yml
  python/chronos/dev/test/run-pytests-onnxrt16.sh
  python/chronos/dev/test/run-pytests.sh
Labels: Chronos

#6845 Chronos: nightly test different install options on python3.8
  .github/workflows/chronos-install-option-py38-test.yml
Labels: Chronos

#6857 Orca: update yarn tutorial
  docs/readthedocs/source/doc/Orca/Tutorial/yarn.md
Labels: document, orca

#6861 Nano: Remove bf16+ipex test from InferenceOptimizer UT
  python/nano/test/pytorch/tests/test_inference_optimizer.py
Labels: Nano

#6752 Chronos: add deploy mode in `TSDataset`
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/resample.py
  python/chronos/src/bigdl/chronos/data/utils/roll.py
  python/chronos/src/bigdl/chronos/data/utils/utils.py
Labels: Chronos

#6787 Chronos: Improve data process latency by changing apply to for loop
  python/chronos/src/bigdl/chronos/data/tsdataset.py
Labels: Chronos

#6804 Nano: Change the API of keras optmizer and quantize
  python/nano/notebooks/tensorflow/tutorial/tensorflow_quantization.ipynb
  python/nano/src/bigdl/nano/deps/neural_compressor/onnx/tensorflow/quantization.py
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/dataloader.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference_utils.py
  python/nano/src/bigdl/nano/utils/inference/tf/model.py
  python/nano/test/inc/tf/test_keras_quantize.py
  python/nano/test/onnx/tf/test_inc_onnx.py
  python/nano/test/onnx/tf/test_onnx.py
  python/nano/test/openvino/tf/test_openvino_quantize.py
  python/nano/test/tf/keras/test_inf_optimizer.py
  python/nano/tutorial/inference/tensorflow/tensorflow_inference_onnx.py
  python/nano/tutorial/inference/tensorflow/tensorflow_quantization.py
Labels: Nano

#6858 Nano: add new parameter for jit's strict mode
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/test_ipex_jit_inference.py
Labels: Nano

#6862 Chronos: update numpy and SQLAlchemy version
  python/chronos/src/setup.py
Labels: Chronos

#6855 Nano: set `TorchNano`'s `auto_lr=True` by default
  python/nano/src/bigdl/nano/pytorch/torch_nano.py
  python/nano/test/pytorch/tests/test_torch_nano.py
  python/nano/test/pytorch/tests/test_torch_nano_ipex.py
  python/nano/test/ray/test_torch_nano_ray.py
Labels: Nano

#6738 Chronos: fix validation process when previous workflow was stopped
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#6864 Nano: fix strange inference behaviour of jit+bf16
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/test/pytorch/tests/test_bf16_ipex.py
Labels: Nano

#6869 Nano: a better support on openvino and onnxruntime for models whose forward args with default value
  python/nano/src/bigdl/nano/utils/inference/pytorch/model.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/model_utils.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
Labels: Nano

#6833 Nano: support getattr from original model
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/deps/neural_compressor/onnx/pytorch/quantization.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantization.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/amp/bfloat16.py
  python/nano/src/bigdl/nano/pytorch/utils.py
  python/nano/test/inc/pytorch/test_trainer_quantize.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/pytorch/tests/test_bf16.py
  python/nano/test/pytorch/tests/test_bf16_ipex.py
  python/nano/test/pytorch/tests/test_ipex_jit_inference.py
Labels: Nano

#6860 Nano: Improve multi-instance inference
  python/nano/src/bigdl/nano/pytorch/inference/multi_instance.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/test_inference_optimizer.py
Labels: Nano

#6874 Nano: update join logic in context manager
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/test_inference_optimizer.py
Labels: Nano

#6852 Doc: Nano installation panel
  docs/readthedocs/source/_static/css/nano_installation_guide.css
  docs/readthedocs/source/_static/js/nano_installation_guide.js
  docs/readthedocs/source/doc/Nano/Overview/install.md
Labels: Nano

#6893 Nano: improve multi-instance inference again
  python/nano/src/bigdl/nano/pytorch/inference/multi_instance.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6896 Nano: more robust M-series chip support
  python/nano/dev/release.sh
  python/nano/setup.py
Labels: Nano

#6815 Chronos: scale using numpy to reduce latency
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/scale.py
  python/chronos/test/bigdl/chronos/data/utils/test_scale.py
Labels: Chronos

#6883 Nano: Reorganize nano's UT
  python/nano/test/inc/pytorch/test_quantize.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/pytorch/tests/inference/__init__.py
  python/nano/test/pytorch/tests/inference/test_bf16.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
  python/nano/test/pytorch/tests/train/__init__.py
  python/nano/test/pytorch/tests/train/test_channels_last.py
  python/nano/test/pytorch/tests/train/torch_nano/__init__.py
  python/nano/test/pytorch/tests/train/torch_nano/test_torch_nano.py
  python/nano/test/pytorch/tests/train/torch_nano/test_torch_nano_decorator.py
  python/nano/test/pytorch/tests/train/torch_nano/test_torch_nano_ipex.py
  python/nano/test/pytorch/tests/train/trainer/__init__.py
  python/nano/test/pytorch/tests/train/trainer/test_backprop.py
  python/nano/test/pytorch/tests/train/trainer/test_lightning.py
  python/nano/test/pytorch/tests/train/trainer/test_plugin.py
  python/nano/test/pytorch/tests/train/trainer/test_plugin_ipex.py
  python/nano/test/pytorch/tests/train/trainer/test_scale_lr.py
  python/nano/test/pytorch/tests/train/trainer/test_trainer.py
  python/nano/test/pytorch/tests/train/trainer/test_trainer_ipex.py
  python/nano/test/pytorch/tests/train/trainer/test_trainer_precision.py
  python/nano/test/pytorch/tests/vision/test_vision.py
  python/nano/test/pytorch/tests/vision/test_vision_ipex.py
  python/nano/test/pytorch/tests/vision/test_vision_transforms.py
  python/nano/test/run-nano-pytorch-ray-tests.sh
  python/nano/test/run-nano-pytorch-tests-ipex.sh
  python/nano/test/run-nano-pytorch-tests-optimizer.sh
  python/nano/test/run-nano-pytorch-tests.sh
Labels: Nano

#6826 Nano: Support best result for each trial in AutoML
  python/nano/src/bigdl/nano/automl/pytorch/_helper.py
  python/nano/src/bigdl/nano/automl/pytorch/hposearcher.py
  python/nano/src/bigdl/nano/automl/pytorch/objective.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/automl/pytorch/test_multi_objective.py
  python/nano/test/automl/pytorch/test_sampler.py
  python/nano/test/automl/pytorch/test_trainer.py
Labels: Nano

#6899 Chronos: Update chronos-nightly Dockerfile and notebook
  docker/chronos-nightly/Dockerfile
  docker/chronos-nightly/README.md
  docker/chronos-nightly/install-python-env.sh
  docs/readthedocs/source/doc/Chronos/Howto/docker_guide_single_node.md
  python/chronos/colab-notebook/chronos_nyc_taxi_tsdataset_forecaster.ipynb
Labels: Chronos

#6888 Nano: Update examples and tutorials
  docs/readthedocs/source/doc/Nano/Howto/install_in_colab.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_onnxruntime.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_openvino.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_quantization_inc.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_quantization_inc_onnx.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_quantization_openvino.md
  python/nano/notebooks/pytorch/cifar10/nano-inference-example.ipynb
  python/nano/notebooks/pytorch/openvino/quantization-simplified-mode/quantization-simplified-mode.ipynb
  python/nano/notebooks/pytorch/tutorial/pytorch_inference_openvino.ipynb
  python/nano/notebooks/pytorch/tutorial/pytorch_quantization_inc.ipynb
  python/nano/notebooks/pytorch/tutorial/pytorch_quantization_openvino.ipynb
Labels: Nano

#6886 Chronos: utilize get_context() method in forecaster
  python/chronos/example/inference-acceleration/cpu_inference_acceleration.py
  python/chronos/src/bigdl/chronos/pytorch/utils.py
Labels: Chronos

#6915 Doc: copy faq to known issues.
  docs/readthedocs/source/doc/Orca/Overview/known_issues.md
Labels: document, orca

#6870 [Chronos] Add jit predict function to benchmark-tool.
  python/chronos/dev/test/run-benchmark-tool.sh
  python/chronos/src/bigdl/chronos/benchmark/benchmark_chronos.py
Labels: Chronos

#6917 Nano: update optimizer's examples
  README.md
  python/nano/example/pytorch/inference_optimizer/resnet/README.md
  python/nano/example/pytorch/inference_optimizer/resnet/inference_pipeline.py
  python/nano/example/pytorch/inference_optimizer/vision_transformers/vision_transformer.ipynb
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/common/base_optimizer.py
Labels: Nano

#6882 Chronos: update benchmark tool guide to demonstrate new functions
  docs/readthedocs/source/doc/Chronos/Howto/how_to_use_benchmark_tool.md
Labels: Chronos

#6903 Nano: Complete keras optimizer
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference_utils.py
  python/nano/test/inc/tf/test_keras_quantize.py
  python/nano/test/onnx/tf/test_inc_onnx.py
  python/nano/test/onnx/tf/test_onnx.py
  python/nano/test/openvino/tf/test_openvino.py
  python/nano/test/openvino/tf/test_openvino_quantize.py
Labels: Nano

#6935 Nano: update tensorflow examples
  docs/readthedocs/source/doc/Nano/QuickStart/tensorflow_quantization_quickstart.md
  python/nano/tutorial/inference/tensorflow/tensorflow_inference_onnx.py
  python/nano/tutorial/inference/tensorflow/tensorflow_inference_openvino.py
  python/nano/tutorial/inference/tensorflow/tensorflow_quantization.py
Labels: Nano

#6933 Nano: fix getattr of jit when inplace=True
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#6871 Chronos: Update doc to illustrate deploy mode in `TSDataset`
  docs/readthedocs/source/doc/Chronos/Overview/data_processing_feature_engineering.md
  python/chronos/colab-notebook/howto/how_to_process_data_in_production_environment.ipynb
Labels: document, Chronos

#6931 Nano: add dynamic_axes parameter for `trace`/`quantize`/`optimize`
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/utils.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
Labels: Nano

#6887 Nano: update more options for tensorflow nano
  .github/workflows/chronos-prvn-python-spark-2.4-py37.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37.yml
  .github/workflows/nano_unit_tests_tensorflow.yml
  python/chronos/src/setup.py
  python/nano/setup.py
  python/nano/test/horovod/tf/test_fit.py
  python/nano/test/tf/keras/test_fit.py
Labels: Nano

#6901 Nano: Add key feature and how to guide for multi-instance inference
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/multi_instance_pytorch_inference.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  docs/readthedocs/source/doc/Nano/Overview/pytorch_inference.md
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/tutorial/notebook/inference/pytorch/multi_instance_pytorch_inference.ipynb
Labels: document, Nano

#6920 doc: add load to pytorch estimator quickstart.
  docs/readthedocs/source/doc/Orca/QuickStart/orca-pytorch-quickstart.md
Labels: document, orca

#6897 Nano: add key feature and how to guide for context manager
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/pytorch_context_manager.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  docs/readthedocs/source/doc/Nano/Overview/pytorch_inference.md
  python/nano/tutorial/notebook/inference/pytorch/pytorch_context_manager.ipynb
Labels: document, Nano

#6973 [Nano API doc] Hide `ALL_INFERENCE_ACCELERATION_METHOD` in api doc rendering for `bigdl.nano.tf.keras.InferenceOptimizer`
  docs/readthedocs/source/doc/PythonAPI/Nano/tensorflow.rst
Labels: document, Nano

#6974 [nano] update KMP_AFFINITY to fine,none
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#6967 [Nano] Support users to choose `jit.trace`/`jit.script` in `InferenceOptimizer.trace`/`quantize`
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#6930 Nano: fix problem of default values in forward args for onnxruntime int8 quantization
  python/nano/src/bigdl/nano/utils/inference/pytorch/dataloader.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/model_utils.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
Labels: Nano

#6983 Nano: support backward compatibility of loading
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantized_model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/amp/bfloat16.py
Labels: Nano

#6821 [WIP] Orca: remove fsspec global deps.
  python/orca/src/bigdl/orca/data/file.py
  python/orca/src/bigdl/orca/learn/pytorch/callbacks/model_checkpoint.py
  python/orca/src/bigdl/orca/learn/pytorch/torch_runner.py
  python/orca/test/bigdl/orca/data/test_file.py
Labels: orca

#6987 Chronos: fix errors of running benchmark-chronos with `-f tensorflow`
  .github/workflows/chronos-howto-guides-test.yml
  python/chronos/dev/test/run-benchmark-tool.sh
  python/chronos/src/bigdl/chronos/benchmark/benchmark_chronos.py
  python/chronos/src/bigdl/chronos/benchmark/utils_data.py
Labels: Chronos

#6713 Chronos: support installation on Mac with intel chip
  python/chronos/src/setup.py
  python/nano/setup.py
Labels: Chronos, Nano

#6980 Nano: Update tensorflow example and UT
  python/nano/notebooks/tensorflow/tutorial/tensorflow_quantization.ipynb
  python/nano/test/tf/keras/test_inf_optimizer.py
  python/nano/tutorial/inference/tensorflow/tensorflow_inference_onnx.py
  python/nano/tutorial/inference/tensorflow/tensorflow_inference_openvino.py
  python/nano/tutorial/inference/tensorflow/tensorflow_quantization.py
Labels: Nano

#7003 Nano: add `weights_prepack` parameter for `trace`/`quantize`
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_quantization_model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#6995 Nano: add file output for optimizer
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
Labels: Nano

#6947 Nano: add patching function for dtype
  docs/readthedocs/source/doc/PythonAPI/Nano/pytorch.rst
  python/nano/src/bigdl/nano/pytorch/dispatcher.py
  python/nano/src/bigdl/nano/pytorch/patching/__init__.py
  python/nano/src/bigdl/nano/pytorch/patching/dtype_patching/__init__.py
  python/nano/src/bigdl/nano/pytorch/patching/dtype_patching/dtype_patching.py
  python/nano/src/bigdl/nano/pytorch/patching/gpu_cpu/__init__.py
  python/nano/src/bigdl/nano/pytorch/patching/gpu_cpu/gpu_cpu.py
  python/nano/test/mypy.ini
  python/nano/test/pytorch/tests/test_dispatcher.py
  python/nano/test/run-nano-codestyle-test.sh
Labels: Nano

#7017 Chronos: fix failed links in How-to Guide
  python/chronos/colab-notebook/howto/how_to_process_data_in_production_environment.ipynb
Labels: document, Chronos

#7025 Nano: an internal API to change environment variables dynamically (e.g. `LD_PRELOAD`) by spawning new process
  python/nano/src/bigdl/nano/utils/util.py
  python/nano/test/pytorch/tests/test_utils.py
Labels: Nano

#7000 Nano: Support patching original model'attributes to traced and quantized model
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference_utils.py
  python/nano/src/bigdl/nano/tf/utils.py
  python/nano/test/tf/keras/test_trace_and_quantize.py
Labels: Nano

#6951 Chronos: update python3.8 support in document
  docs/readthedocs/source/doc/Chronos/Overview/install.md
Labels: Chronos

#6906 Nano: update train pytorch key feature doc
  docs/readthedocs/source/doc/Nano/Overview/pytorch_train.md
Labels: document, Nano

#6943 Nano: update api doc of thread_num
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: document, Nano

#6945 Nano: add nightly test for nano
  .github/actions/nano/pytorch-test/action.yml
  .github/actions/nano/remove-pytorch-env/action.yml
  .github/actions/nano/remove-tensorflow-env/action.yml
  .github/actions/nano/setup-pytorch-env/action.yml
  .github/actions/nano/setup-tensorflow-env/action.yml
  .github/actions/nano/tensorflow-test/action.yml
  .github/workflows/nano-nightly-test.yml
Labels: Nano

#6940 Chronos: Add chronos example to github action
  .github/workflows/chronos-example-python-spark.yml
  python/chronos/dev/example/run-example-test-ray-horovod-pytorch.sh
  python/chronos/dev/example/run-example-tests-pip-onnxrt16.sh
  python/chronos/dev/example/run-example-tests.sh
Labels: Chronos

#7018 Nano: Support passing only x for keras's `optimize`/`quantize`
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/test/inc/tf/test_keras_quantize.py
  python/nano/test/onnx/tf/test_inc_onnx.py
  python/nano/test/openvino/tf/test_openvino_quantize.py
  python/nano/test/tf/keras/test_inf_optimizer.py
Labels: Nano

#7053 Nano: Fix keras model.compile
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/utils.py
  python/nano/test/tf/keras/test_trace_and_quantize.py
Labels: Nano

#7059 Nano: change nano nightly test time
  .github/workflows/nano-nightly-test.yml
Labels: Nano

#7040 Chronos: Fix format error in howto guides for processing data in production environment
  python/chronos/colab-notebook/howto/how_to_process_data_in_production_environment.ipynb
Labels: document, Chronos

#7064 Nano: quick fix document typo
  docs/readthedocs/source/doc/Nano/Overview/pytorch_train.md
Labels: document, Nano

#7063 Nano: update nano known issue
  docs/readthedocs/source/doc/Nano/Overview/known_issues.md
Labels: document, Nano

#6938 Nano: update PyTorch inference key feature doc
  docs/readthedocs/source/doc/Nano/Overview/pytorch_inference.md
Labels: document, Nano

#7048 Nano: fix some output format issue
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/common/utils.py
Labels: Nano

#7041 Nano: Fix passing arguments by kwargs or default value to onnx traced and quantized model
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/utils.py
  python/nano/src/bigdl/nano/utils/inference/tf/model.py
  python/nano/src/bigdl/nano/utils/util.py
  python/nano/test/tf/keras/test_trace_and_quantize.py
Labels: Nano

#7068 [Nano] Add API doc for `bigdl.nano.pytorch.nano` decorator
  docs/readthedocs/source/doc/PythonAPI/Nano/pytorch.rst
  python/nano/src/bigdl/nano/pytorch/torch_nano.py
Labels: document, Nano

#6910 Nano: Troubshooting guide for BigDL-Nano
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Overview/troubshooting.md
Labels: document, Nano

#5984 [Nano] How-To Guides: Convert to TorchNano & use @nano decorator
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorch/convert_pytorch_training_torchnano.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorch/use_nano_decorator_pytorch_training.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/openvino/openvino_inference.ipynb
  python/nano/tutorial/notebook/inference/openvino/openvino_inference_async.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_jit_ipex.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_openvino.ipynb
  python/nano/tutorial/notebook/inference/pytorch/inference_optimizer_optimize.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_inc.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_pot.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/accelerate_pytorch_lightning_training_ipex.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/accelerate_pytorch_lightning_training_multi_instance.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/pytorch_lightning_cv_data_pipeline.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/pytorch_lightning_training_bf16.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/pytorch_lightning_training_channels_last.ipynb
  python/nano/tutorial/notebook/training/pytorch/convert_pytorch_training_torchnano.ipynb
  python/nano/tutorial/notebook/training/pytorch/use_nano_decorator_pytorch_training.ipynb
  python/nano/tutorial/notebook/training/tensorflow/accelerate_tensorflow_training_multi_instance.ipynb
  python/nano/tutorial/notebook/training/tensorflow/tensorflow_training_embedding_sparseadam.ipynb
Labels: Nano

#7067 Nano: remove ipex 1.9 code
  python/nano/src/bigdl/nano/deps/ipex/ipex_accelerator.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_quantization_model.py
  python/nano/src/bigdl/nano/deps/ipex/version_1_9/__init__.py
  python/nano/src/bigdl/nano/deps/ipex/version_1_9/ipex_accelerator_1_9.py
  python/nano/src/bigdl/nano/deps/ipex/version_1_9/ipex_torchfunctional.py
  python/nano/src/bigdl/nano/deps/ray/ray_distributed.py
  python/nano/src/bigdl/nano/pytorch/plugins/__init__.py
  python/nano/src/bigdl/nano/pytorch/plugins/ddp_spawn.py
  python/nano/src/bigdl/nano/pytorch/plugins/ddp_subprocess.py
  python/nano/src/bigdl/nano/pytorch/plugins/worker.py
  python/nano/src/bigdl/nano/pytorch/strategies/__init__.py
  python/nano/src/bigdl/nano/pytorch/strategies/ddp_spawn.py
  python/nano/src/bigdl/nano/pytorch/strategies/ddp_subprocess.py
  python/nano/src/bigdl/nano/pytorch/strategies/ipex/ipex_accelerator.py
  python/nano/src/bigdl/nano/pytorch/strategies/ipex/ipex_api.py
  python/nano/src/bigdl/nano/pytorch/strategies/ipex/version_1_9/__init__.py
  python/nano/src/bigdl/nano/pytorch/strategies/ipex/version_1_9/ipex_accelerator_1_9.py
  python/nano/src/bigdl/nano/pytorch/strategies/ipex/version_1_9/ipex_strategy_1_9.py
  python/nano/src/bigdl/nano/pytorch/strategies/ipex/version_1_9/ipex_torchfunctional.py
  python/nano/src/bigdl/nano/pytorch/strategies/ipex_strategy.py
  python/nano/src/bigdl/nano/pytorch/strategies/k8s.py
  python/nano/src/bigdl/nano/pytorch/torch_nano.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
Labels: Nano

#7015 Nano: Update the Nano installation panel
  docs/readthedocs/source/_static/js/nano_installation_guide.js
  docs/readthedocs/source/doc/Nano/Overview/install.md
Labels: Nano

#7057 Nano: support more devices and more precision for openvino
  .github/workflows/nano_unit_tests_tensorflow.yml
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/core/utils.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/utils.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/utils.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/utils.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/openvino/tf/test_openvino_quantize.py
Labels: Nano

#7095 [Nano] Add doc strings for `auto_lr` in `Trainer`, `TorchNano` and `@nano`
  python/nano/src/bigdl/nano/pytorch/torch_nano.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/tutorial/notebook/training/pytorch-lightning/accelerate_pytorch_lightning_training_multi_instance.ipynb
Labels: document, Nano

#7099 Nano: add threadnum check with sched_getaffinity to avoid bad performance
  python/nano/src/bigdl/nano/pytorch/__init__.py
Labels: Nano

#7072 [Nano] Add more key features regarding `TorchNano` and `@nano` for PyTorch training
  docs/readthedocs/source/doc/Nano/Overview/pytorch_train.md
Labels: document, Nano

#7104 Chronos: Remove redundant `PYTHONPATH` from `HOWTO` guide
  .github/workflows/chronos-howto-guides-test.yml
Labels: Chronos

#7102 Nano: support VPU quantization
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
Labels: Nano

#7111 Nano: use default inter/intra op parallelism threads for tf
  python/chronos/src/bigdl/chronos/benchmark/env_check.py
  python/chronos/src/bigdl/chronos/benchmark/utils_env.py
  python/nano/example/pytorch/inference_optimizer/export_model/README.md
  python/nano/example/pytorch/inference_optimizer/resnet/README.md
  python/nano/scripts/bigdl-nano-init
  python/nano/scripts/bigdl-nano-init.ps1
  python/nano/scripts/bigdl-nano-unset-env
  python/nano/scripts/bigdl-nano-unset-env.ps1
  python/nano/src/bigdl/nano/tf/__init__.py
Labels: Nano

#7091 Nano: upgrade openvino to `2022.3.0`
  docs/readthedocs/source/doc/Nano/Overview/pytorch_inference.md
  docs/readthedocs/source/doc/Nano/Overview/tensorflow_inference.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_quantization_inc.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_quantization_inc_onnx.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_quantization_openvino.md
  python/nano/example/onnxruntime/pytorch-lightning/cifar_resnet18/resnet18_cifar_ort.py
  python/nano/example/pytorch/inference_optimizer/resnet/_finetune.py
  python/nano/example/pytorch/inference_optimizer/resnet/inference_pipeline.py
  python/nano/example/pytorch/inference_optimizer/vision_transformers/vision_transformer.ipynb
  python/nano/example/pytorch/pl-finetune/pl-finetune.py
  python/nano/example/pytorch/using_algorithms/selective_backprop/selective_backprop.py
  python/nano/example/quantization/neural-compressor/pytorch-lightning/cifar_resnet18/resnet18_cifar.py
  python/nano/example/quantization/neural-compressor/pytorch/mnist/mnist.py
  python/nano/notebooks/pytorch/cifar10/nano-inference-example.ipynb
  python/nano/notebooks/pytorch/cifar10/nano-trainer-example.ipynb
  python/nano/notebooks/pytorch/tutorial/pytorch_quantization_inc.ipynb
  python/nano/notebooks/pytorch/tutorial/pytorch_train.ipynb
  python/nano/setup.py
  python/nano/src/bigdl/nano/deps/openvino/core/metric.py
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/core/utils.py
  python/nano/src/bigdl/nano/utils/util.py
  python/nano/test/inc/pytorch/test_dataloader.py
  python/nano/test/inc/pytorch/test_quantize.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
  python/nano/test/pytorch/tests/train/test_channels_last.py
  python/nano/test/pytorch/tests/train/trainer/test_backprop.py
  python/nano/test/pytorch/tests/train/trainer/test_lightning.py
  python/nano/test/pytorch/tests/train/trainer/test_plugin.py
  python/nano/test/pytorch/tests/train/trainer/test_plugin_ipex.py
  python/nano/test/pytorch/tests/train/trainer/test_trainer.py
  python/nano/test/ray/test_ray_trainer.py
  python/nano/tutorial/inference/pytorch/pytorch_quantization.py
  python/nano/tutorial/inference/pytorch/pytorch_quantization_onnx.py
  python/nano/tutorial/inference/pytorch/pytorch_quantization_openvino.py
  python/nano/tutorial/notebook/inference/pytorch/inference_optimizer_optimize.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_inc.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_pot.ipynb
  python/nano/tutorial/training/pytorch-lightning/lightning_channel_last.py
  python/nano/tutorial/training/pytorch-lightning/lightning_train_ipex.py
  python/nano/tutorial/training/pytorch-lightning/lightning_train_multi_instance.py
  python/nano/tutorial/training/pytorch/pytorch_cv_data_pipeline.py
  python/nano/tutorial/training/pytorch/pytorch_train_bf16.py
  python/nano/tutorial/training/pytorch/pytorch_train_ipex.py
  python/nano/tutorial/training/pytorch/pytorch_train_ipex_decorator.py
  python/nano/tutorial/training/pytorch/pytorch_train_multi_instance.py
Labels: Nano

#7076 Nano: support save/load for keras's `openvino`/`inc`/`InferenceOptimizer`
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api.py
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/model.py
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/quantization.py
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/model.py
  python/nano/test/inc/tf/test_keras_quantize.py
  python/nano/test/onnx/tf/test_inc_onnx.py
  python/nano/test/onnx/tf/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/tf/test_openvino.py
  python/nano/test/openvino/tf/test_openvino_quantize.py
  python/nano/test/tf/keras/test_inf_optimizer.py
  python/nano/test/tf/keras/test_trace_and_quantize.py
Labels: Nano

#7128 Nano: change the time of nano nightly test
  .github/workflows/nano-nightly-test.yml
Labels: Nano

#7130 Nano: fix affinity detection error
  python/nano/src/bigdl/nano/pytorch/__init__.py
Labels: Nano
