Repository intel-analytics/ipex-llm, pull requests merged in 2022-06, with the labels that each got.

#4679 Nano: remove some redundant code/import
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/pytorch/lightning.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
Labels: Nano

#4765 Nano: relax dataloader check in quantization
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantization.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/utils.py
  python/nano/test/neural-compressor/pytorch/test_dataloader.py
Labels: Nano

#4776 Nano: A utils function to generate the environment variables for nano
  python/nano/src/bigdl/nano/common/common.py
Labels: Nano

#4798 Chronos: support customized loss and metric in forecaster
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#4687 Chronos: Predict with openvino
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#4820 Chronos: fix forecaster save after `to_local`
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#4795 Chronos: add xshards_tsdataset.impute and test code
  python/chronos/src/bigdl/chronos/data/experimental/xshards_tsdataset.py
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
Labels: Chronos

#4823 [Nano] fix input_sample in quantizaztion
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
Labels: Nano

#4732 Nano: add default ini_ENV for spawn ddp
  python/nano/src/bigdl/nano/pytorch/plugins/ddp_spawn.py
Labels: Nano

#4792 Chronos: add lightweight hpo to pytorch forecaster
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils_hpo.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#4842 Chronos: make multi-process training more robust
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
Labels: Chronos

#4843 Chronos: add import in predict_with_openvino
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#4907 Fix model attribute in Orca Pytorch Callback
  python/orca/src/bigdl/orca/learn/pytorch/callbacks/base.py
  python/orca/src/bigdl/orca/learn/pytorch/callbacks/model_checkpoint.py
  python/orca/src/bigdl/orca/learn/pytorch/torch_runner.py
Labels: orca

#4908 Enhance Pytorch Estimator Callbacks interface with logs input
  python/orca/src/bigdl/orca/learn/pytorch/callbacks/base.py
  python/orca/src/bigdl/orca/learn/pytorch/callbacks/model_checkpoint.py
  python/orca/src/bigdl/orca/learn/pytorch/torch_runner.py
  python/orca/test/bigdl/orca/learn/ray/pytorch/test_estimator_pyspark_backend.py
  python/orca/test/bigdl/orca/learn/ray/pytorch/test_estimator_pytorch_backend.py
Labels: orca

#4935 Clarify backend and runtime name in Pytorch Estimator
  python/orca/dev/test/run-pytests-horovod-tf.sh
  python/orca/dev/test/run-pytests-ray
  python/orca/dev/test/run-pytests-ray-ctx.sh
  python/orca/test/bigdl/orca/learn/ray/pytorch/test_estimator_ray_backend.py
  python/orca/test/bigdl/orca/learn/ray/pytorch/test_estimator_ray_runtime.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf2estimator_ray_runtime.py
Labels: orca

#4910 Chronos: add electricity_tcn use-case
  python/chronos/use-case/electricity/README.md
  python/chronos/use-case/electricity/tcn.py
Labels: Chronos

#4938 Rename Orca Tensorflow Estimator backend name from "tf2" to "ray"
  docs/readthedocs/source/doc/Orca/Overview/distributed-training-inference.md
  docs/readthedocs/source/doc/PythonAPI/Orca/orca.rst
  ppml/trusted-big-data-ml/python/docker-graphene/examples/orca_api_example.py
  python/chronos/src/bigdl/chronos/forecaster/tf/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/tcn_forecaster.py
  python/friesian/example/listwise_ranking/listwise_pad.py
  python/friesian/example/listwise_ranking/listwise_ranking.py
  python/friesian/example/wnd/train/wnd_train_recsys.py
  python/orca/dev/test/run-pytests-horovod-tf.sh
  python/orca/dev/test/run-pytests-tf2-rayonspark.sh
  python/orca/example/learn/tf2/dcn/dcn_parquet.py
  python/orca/src/bigdl/orca/learn/tf2/estimator.py
  python/orca/src/bigdl/orca/learn/tf2/ray_estimator.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf2estimator_ray_backend.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf2estimator_ray_dataset.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf2estimator_ray_runtime.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_ray_estimator.py
Labels: orca

#4928 Add integrated Weights and Biases Callback for Pytorch Estimator
  python/orca/example/learn/pytorch/cifar10/cifar10.py
  python/orca/src/bigdl/orca/learn/pytorch/callbacks/wandb.py
  python/orca/src/bigdl/orca/learn/pytorch/torch_runner.py
Labels: orca

#4894 Chronos: add autoformer forecaster and corresponding tsdataset functions
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/roll.py
  python/chronos/src/bigdl/chronos/data/utils/roll_dataset.py
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/model/autoformer/Autoformer.py
  python/chronos/src/bigdl/chronos/model/autoformer/layers/AutoCorrelation.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
  python/chronos/test/bigdl/chronos/data/utils/test_roll_dataset.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
Labels: Chronos

#4943 Orca: add dashboard.log error in known issue
  docs/readthedocs/source/doc/Orca/Overview/known_issues.md
Labels: document, orca

#4837 [Chronos] update chronos smape metric
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
  python/chronos/test/bigdl/chronos/autots/test_tspipeline.py
  python/chronos/test/bigdl/chronos/metric/test_forecast_metrics.py
Labels: Chronos

#4923 Chronos: tf forecaster doc
  docs/readthedocs/source/conf.py
  docs/readthedocs/source/doc/PythonAPI/Chronos/forecasters.rst
Labels: document, Chronos

#4925 Chronos: Set `forecaster.checkpoint_callback` to True
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
Labels: Chronos

#4751 PPML FGBoost tutorial draft
  docs/readthedocs/source/doc/PPML/VFL/overview.md
  python/ppml/example/fgboost_regression/README.md
  python/ppml/example/fgboost_regression/data/house-prices-test-1.csv
  python/ppml/example/fgboost_regression/data/house-prices-test-2.csv
  python/ppml/example/fgboost_regression/data/house-prices-train-1.csv
  python/ppml/example/fgboost_regression/data/house-prices-train-2.csv
  python/ppml/example/fgboost_regression/fgboost-tutorial.md
  python/ppml/example/fgboost_regression/fgboost_regression_party_1.py
  python/ppml/example/fgboost_regression/fgboost_regression_party_2.py
  python/ppml/src/bigdl/ppml/fl/algorithms/fgboost_regression.py
  python/ppml/src/bigdl/ppml/fl/algorithms/psi.py
  scala/ppml/src/main/java/com/intel/analytics/bigdl/ppml/fl/common/Aggregator.java
  scala/ppml/src/main/scala/com/intel/analytics/bigdl/ppml/fl/algorithms/PSI.scala
  scala/ppml/src/main/scala/com/intel/analytics/bigdl/ppml/fl/example/vfl_logistic_regression/VFLLogisticRegression.scala
  scala/ppml/src/main/scala/com/intel/analytics/bigdl/ppml/fl/fgboost/FGBoostModel.scala
  scala/ppml/src/main/scala/com/intel/analytics/bigdl/ppml/fl/fgboost/FGBoostServiceImpl.scala
  scala/ppml/src/main/scala/com/intel/analytics/bigdl/ppml/fl/python/PythonPPML.scala
  scala/ppml/src/test/scala/com/intel/analytics/bigdl/ppml/fl/nn/VFLNNSpec.scala
Labels: tutorial

#4905 [nano] fix distributed training backend
  python/nano/benchmark/pytorch/pytorch-cat-dog.py
  python/nano/src/bigdl/nano/pytorch/plugins/ddp_spawn.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/pytorch/tests/test_plugin.py
Labels: Nano

#4950 Chronos: add autoformer example on electricity and api doc
  docs/readthedocs/source/doc/PythonAPI/Chronos/forecasters.rst
  python/chronos/use-case/electricity/README.md
  python/chronos/use-case/electricity/autoformer.py
Labels: document, example, Chronos

#4848 Update BrainMRI example
  python/orca/example/learn/pytorch/brainMRI/README.md
  python/orca/example/learn/pytorch/brainMRI/Unet.py
  python/orca/example/learn/pytorch/brainMRI/brainMRI.py
  python/orca/example/learn/pytorch/brainMRI/dataset.py
Labels: orca
