Repository intel-analytics/ipex-llm, pull requests merged in 2022-05, with the labels that each got.

#4553 Chronos: spark df support in XShardsTSDataset
  python/chronos/example/distributed/README.md
  python/chronos/example/distributed/sparkdf_training_network_traffic.py
  python/chronos/src/bigdl/chronos/data/experimental/xshards_tsdataset.py
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
  python/dllib/src/bigdl/dllib/utils/utils.py
  python/orca/src/bigdl/orca/learn/utils.py
Labels: Chronos

#4568 Chronos: add a new model Autoformer
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/roll.py
  python/chronos/src/bigdl/chronos/data/utils/time_feature.py
  python/chronos/src/bigdl/chronos/model/autoformer/Autoformer.py
  python/chronos/src/bigdl/chronos/model/autoformer/__init__.py
  python/chronos/src/bigdl/chronos/model/autoformer/layers/AutoCorrelation.py
  python/chronos/src/bigdl/chronos/model/autoformer/layers/Autoformer_EncDec.py
  python/chronos/src/bigdl/chronos/model/autoformer/layers/Embed.py
  python/chronos/src/bigdl/chronos/model/autoformer/layers/SelfAttention_Family.py
  python/chronos/src/bigdl/chronos/model/autoformer/layers/Transformer_EncDec.py
  python/chronos/src/bigdl/chronos/model/autoformer/layers/__init__.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
  python/chronos/test/bigdl/chronos/model/test_autoformer.py
Labels: Chronos

#4496 Chronos: add chronos known issue
  docs/readthedocs/source/doc/Chronos/Overview/chronos_known_issue.md
  docs/readthedocs/source/index.rst
Labels: Chronos

#4596 Chronos/Nano: Remove redundant APIs and apply new APIs in Chronos
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/pytorch/utils.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantized_model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/core/onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/pytorch/runtime_binding/__init__.py
  python/nano/src/bigdl/nano/pytorch/runtime_binding/base_inference.py
  python/nano/src/bigdl/nano/pytorch/runtime_binding/quantization_inference.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
Labels: Chronos, Nano

#4599 Add windows guide to nano overview
  docs/readthedocs/source/doc/Nano/Overview/nano.md
  docs/readthedocs/source/doc/Nano/Overview/windows_guide.md
Labels: document, Nano

#4591 Add Nano TensorFlow Training QuickStart Doc
  docs/readthedocs/source/doc/Nano/Overview/nano.md
  docs/readthedocs/source/doc/Nano/QuickStart/tensorflow.md
  docs/readthedocs/source/doc/Nano/QuickStart/tensorflow_inference.md
  docs/readthedocs/source/doc/Nano/QuickStart/tensorflow_train.md
Labels: document, Nano

#4577 Add nano documentation for pytorch training quickstart
  docs/readthedocs/source/doc/Nano/Overview/nano.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_inference.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_train.md
  python/nano/benchmark/pytorch/pytorch-cat-vs-dog.py
  python/nano/example/pytorch/pl-finetune/pl-finetune.py
  python/nano/example/pytorch/semantic_segmentation/semantic_segmentation.py
  python/nano/example/quantization/neural-compressor/pytorch-lightning/cifar_resnet18/resnet18_cifar.py
  python/nano/example/quantization/neural-compressor/pytorch/mnist/mnist.py
  python/nano/src/bigdl/nano/pytorch/__init__.py
  python/nano/test/automl/pytorch/test_searcher.py
  python/nano/test/automl/pytorch/test_trainer.py
  python/nano/test/neural-compressor/pytorch/_train_torch_lightning.py
  python/nano/test/neural-compressor/pytorch/test_dataloader.py
  python/nano/test/neural-compressor/pytorch/test_trainer_quantize.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/pytorch/tests/test_lightning.py
  python/nano/test/pytorch/tests/test_plugin.py
  python/nano/test/pytorch/tests/test_trainer.py
  python/nano/test/pytorch/utils/_train_torch_lightning.py
  python/nano/test/ray/_train_torch_lightning.py
  python/nano/test/ray/test_ray_trainer.py
Labels: document, Nano

#4422 Chronos: Add TF2 support for `AutoLSTM` and `AutoS2S`
  python/chronos/src/bigdl/chronos/autots/model/auto_lstm.py
  python/chronos/src/bigdl/chronos/autots/model/auto_seq2seq.py
  python/chronos/src/bigdl/chronos/autots/model/auto_tcn.py
  python/chronos/src/bigdl/chronos/autots/model/base_automodel.py
  python/chronos/src/bigdl/chronos/model/tf2/Seq2Seq_keras.py
  python/chronos/src/bigdl/chronos/model/tf2/VanillaLSTM_keras.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_lstm.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_seq2seq.py
  python/chronos/test/bigdl/chronos/model/tf2/test_Seq2Seq_keras.py
  python/chronos/test/bigdl/chronos/model/tf2/test_VanillaLSTM_keras.py
  python/orca/src/bigdl/orca/automl/model/base_keras_model.py
Labels: Chronos

#4618 Chronos: fix api doc missing
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: document, Chronos, bug

#4614 Chronos: disable auto infer schema in spark df example
  python/chronos/example/distributed/sparkdf_training_network_traffic.py
Labels: Chronos, bug

#4580 Chronos: rename sparkdf_training_nyc_taxi.py and add example test
  python/chronos/dev/example/run-example-tests-pip-ray.sh
  python/chronos/example/distributed/sparkdf_training_nyc_taxi.py
Labels: Chronos

#4615 Chronos: add built-in dataset: uci_electricity_wide
  python/chronos/src/bigdl/chronos/data/repo_dataset.py
  python/chronos/src/bigdl/chronos/data/utils/public_dataset.py
Labels: Chronos

#4630 Orca.automl: remove torch dep from orca.automl
  python/orca/src/bigdl/orca/automl/search/ray_tune/ray_tune_search_engine.py
Labels: orca

#4578 add nano trainer and inference example
  python/nano/notebooks/README.md
  python/nano/notebooks/pytorch/cifar10/nano-inference-example.ipynb
  python/nano/notebooks/pytorch/cifar10/nano-trainer-example.ipynb
Labels: example, Nano

#4621 Chronos: remove redundant param description for S2SForecaster
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
Labels: Chronos

#4661 [Orca] Rename RayContext in Orca to OrcaRayContext
  python/orca/src/bigdl/orca/automl/search/ray_tune/ray_tune_search_engine.py
  python/orca/src/bigdl/orca/common.py
  python/orca/src/bigdl/orca/data/ray_xshards.py
  python/orca/src/bigdl/orca/learn/mxnet/estimator.py
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_ray_estimator.py
  python/orca/src/bigdl/orca/learn/tf2/ray_estimator.py
  python/orca/src/bigdl/orca/ray/__init__.py
  python/orca/src/bigdl/orca/ray/raycontext.py
  python/orca/test/bigdl/orca/data/test_read_parquet_images.py
  python/orca/test/bigdl/orca/learn/ray/mxnet/test_mxnet_gluon.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_ray_estimator.py
  python/orca/test/bigdl/orca/ray/integration/ray_on_yarn.py
  python/orca/test/bigdl/orca/ray/integration/test_yarn_reinit_raycontext.py
  python/orca/test/bigdl/orca/ray/ray_cluster/test_rayctx_local.py
  python/orca/test/bigdl/orca/ray/ray_cluster/test_rayctx_reinit.py
  python/orca/test/bigdl/orca/ray/test_ray_on_local.py
  python/orca/test/bigdl/orca/ray/test_reinit_raycontext.py
Labels: orca

#4650 Nano: enhance the numpy_collate_fn's behavior for pytorch trainer quantization
  python/nano/src/bigdl/nano/deps/neural_compressor/core.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
Labels: Nano

#4720 Chronos: Fix readthedocs.io build error
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/source/doc/PythonAPI/Chronos/automodels.rst
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
Labels: Chronos

#4480 Chronos: reset batch_size according to `forecaster.num_processes`
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#4555 Chronos: keras 3rd party models support in AutoTS
  python/chronos/src/bigdl/chronos/autots/autotsestimator.py
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/test/bigdl/chronos/autots/test_autotsestimator.py
  python/orca/src/bigdl/orca/automl/model/base_keras_model.py
  python/orca/src/bigdl/orca/automl/model/base_pytorch_model.py
Labels: Chronos

#4714 Nano: remove dataloader output(y) check for no tunning quantization
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/dataloader.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/neural-compressor/pytorch/test_dataloader.py
Labels: Nano
