Repository intel-analytics/ipex-llm, pull requests merged in 2022-07, with the labels that each got.

#4966 Chronos: `autotcn` supports `keras` model
  python/chronos/src/bigdl/chronos/autots/model/auto_tcn.py
  python/chronos/src/bigdl/chronos/model/tf2/TCN_keras.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_tcn.py
Labels: Chronos

#4972 Nano : add length check in trace
  python/nano/src/bigdl/nano/deps/onnxruntime/core/onnxruntime_model.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
Labels: Nano

#4941 Chronos: change some model filename to better support possible keras support
  python/chronos/src/bigdl/chronos/forecaster/pytorch.py
  python/chronos/test/bigdl/chronos/forecaster/test_pytorch.py
Labels: Chronos

#4996 fix all_reduce for pytorch estimator while fitting with validation_data
  python/orca/src/bigdl/orca/learn/pytorch/torch_runner.py
Labels: bug, orca

#4749 Chronos: forecaster supports input `pytorch dataloader`
  python/chronos/dev/test/run-pytests-onnxrt16.sh
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/src/bigdl/chronos/pytorch/utils.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#4787 Chronos: Extend the predict method
  python/chronos/src/bigdl/chronos/forecaster/tf/base_forecaster.py
Labels: Chronos

#4885 Nano : expose onnx trace setting to user
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/utils.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
Labels: Nano

#5017 Chronos: fix some api document tag
  docs/readthedocs/source/doc/PythonAPI/Chronos/automodels.rst
  docs/readthedocs/source/doc/PythonAPI/Chronos/autotsestimator.rst
Labels: document, Chronos

#4819 Chronos: scale function in xshardstsdataset
  python/chronos/src/bigdl/chronos/data/experimental/xshards_tsdataset.py
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
Labels: Chronos

#4916 Chronos: support customized loss and metric in tf forecaster
  python/chronos/src/bigdl/chronos/forecaster/tf/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/tcn_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_lstm_keras_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_seq2seq_keras_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_tcn_keras_forecaster.py
Labels: Chronos

#4779 Chronos: add an asymmetric loss for forecasting models
  python/chronos/dev/test/run-pytests.sh
  python/chronos/src/bigdl/chronos/pytorch/loss/__init__.py
  python/chronos/src/bigdl/chronos/pytorch/loss/linex.py
  python/chronos/test/bigdl/chronos/pytorch/__init__.py
  python/chronos/test/bigdl/chronos/pytorch/loss/__init__.py
  python/chronos/test/bigdl/chronos/pytorch/loss/test_linex.py
Labels: Chronos

#5029 Chronos: fix tsdataset.roll/to_torch_data_loader(time_enc=True) freq check bug
  python/chronos/src/bigdl/chronos/data/utils/time_feature.py
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#4858 [Orca] Support Pytorch Pyspark Estimator on K8s
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_pyspark_estimator.py
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_pyspark_worker.py
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_ray_estimator.py
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_ray_worker.py
  python/orca/src/bigdl/orca/learn/pytorch/torch_runner.py
Labels: orca

#4909 Chronos: Autoload `tf.forecaster`
  python/chronos/src/bigdl/chronos/forecaster/tf/__init__.py
Labels: Chronos

#5067 chronos: user guide python version note change
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
Labels: document, Chronos

#5034 Chronos: fix seed setting in autoformer
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
Labels: Chronos

#4987 Enable tune for AutoformerForecaster
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/src/bigdl/chronos/forecaster/utils_hpo.py
  python/chronos/src/bigdl/chronos/model/autoformer/Autoformer.py
  python/chronos/src/bigdl/chronos/model/autoformer/__init__.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
  python/nano/src/bigdl/nano/deps/automl/optuna_backend.py
Labels: Chronos

#4915 avoid installation of python 3.7.0 and typo
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
Labels: Chronos, contribute

#5088 Chronos: reduce mem allocation in TCN example on electricity dataset
  python/chronos/use-case/electricity/tcn.py
Labels: Chronos

#5099 Chronos: fix bug in autoformer's `e_layers` parameter
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
Labels: Chronos

#5082 Chronos : Add tune for AutoformerForecaster
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/src/bigdl/chronos/forecaster/utils_hpo.py
  python/chronos/src/bigdl/chronos/model/autoformer/Autoformer.py
  python/chronos/src/bigdl/chronos/model/autoformer/__init__.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
Labels: Chronos

#5113 Chronos: add "id" in xshardstsdatataset dict of numpy for scaling
  python/chronos/example/distributed/sparkdf_training_nyc_taxi.py
  python/chronos/src/bigdl/chronos/data/experimental/utils.py
  python/chronos/src/bigdl/chronos/data/experimental/xshards_tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/roll.py
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
Labels: Chronos

#5052 FGBoost tutorial mistakes fix
  python/ppml/example/fgboost_regression/fgboost-tutorial.md
  python/ppml/example/fgboost_regression/fgboost_regression_party_1.py
  python/ppml/example/fgboost_regression/fgboost_regression_party_2.py
Labels: tutorial

#5126 Enable basic multi-objective HPO in Nano and add built-in latency calculation
  python/nano/src/bigdl/nano/automl/hpo/search.py
  python/nano/src/bigdl/nano/automl/pytorch/hposearcher.py
  python/nano/src/bigdl/nano/automl/pytorch/objective.py
  python/nano/src/bigdl/nano/deps/automl/hpo_api.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/automl/pytorch/_helper.py
  python/nano/test/automl/pytorch/test_multi_objective.py
  python/nano/test/automl/pytorch/test_sampler.py
Labels: Nano

#5129 Chronos: support unscale_xshards in XShardsTSDataset
  python/chronos/src/bigdl/chronos/data/experimental/xshards_tsdataset.py
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
Labels: Chronos

#5164 Readthedoc: fix markdown version in doc
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/requirements-rtd.txt
Labels: document

#5075 Chronos: support validation_data and validation loop in forecasters' fit
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#4708 Chronos: Fixed printing unexpected warnings when import forecaster
  python/chronos/src/bigdl/chronos/forecaster/__init__.py
Labels: Chronos

#5147 Nano: support ipex and jit in nano's inference acceleration with consistent API
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/pytorch/tests/test_ipex_jit_inference.py
Labels: Nano

#5166 Readthedocs: Correct typo for Chronos User Guide
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
Labels: document, Chronos

#5002 Chronos: support `TSDataset` input and add `from_tsdataset` method for `Forecaster`
  python/chronos/dev/test/run-pytests-onnxrt16.sh
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#4768 Chronos: caching is done after batching(evaluation pipeline)
  python/chronos/src/bigdl/chronos/data/tsdataset.py
Labels: Chronos

#4752 [WIP] Chronos: new some deps in setup.py and dropped py36
  python/chronos/src/bigdl/chronos/data/utils/cycle_detection.py
  python/chronos/src/setup-lite.py
  python/chronos/src/setup.py
Labels: Chronos

#5110 Chronos: An MVP docker for single node
  docker/chronos-nightly/Dockerfile
  docker/chronos-nightly/README.md
  docker/chronos-nightly/install-python-env.sh
Labels: Chronos

#5162 Chronos: thread num control for onnxruntime backend inference
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api.py
  python/nano/src/bigdl/nano/deps/neural_compressor/onnx/pytorch/quantization.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
Labels: Chronos

#5145 Fix NanoHPO multiprocesses bug under PL1.6
  python/nano/src/bigdl/nano/automl/pytorch/hposearcher.py
  python/nano/src/bigdl/nano/automl/pytorch/objective.py
  python/nano/test/automl/pytorch/test_multi_objective.py
  python/nano/test/automl/pytorch/test_searcher.py
  python/nano/test/pytorch/tests/test_plugin.py
Labels: Nano

#5042 Pytorch NN Logistic Regression Tutorial
  python/ppml/example/pytorch_nn_lr/data/diabetes-vfl-1.csv
  python/ppml/example/pytorch_nn_lr/data/diabetes-vfl-2.csv
  python/ppml/example/pytorch_nn_lr/pytorch-nn-lr-tutorial.md
  python/ppml/example/pytorch_nn_lr/pytorch_nn_lr_1.py
  python/ppml/example/pytorch_nn_lr/pytorch_nn_lr_2.py
  python/ppml/src/bigdl/ppml/fl/nn/fl_client.py
  python/ppml/src/bigdl/ppml/fl/nn/nn_service.py
  python/ppml/src/bigdl/ppml/fl/nn/pytorch/aggregator.py
  python/ppml/src/bigdl/ppml/fl/nn/pytorch/estimator.py
  python/ppml/src/bigdl/ppml/fl/nn/tensorflow/aggregator.py
  python/ppml/test/bigdl/ppml/fl/nn/pytorch/test_logistic_regression.py
  python/ppml/test/bigdl/ppml/fl/nn/pytorch/test_mnist.py
  python/ppml/test/bigdl/ppml/fl/nn/tensorflow/test_mnist.py
Labels: tutorial

#5133 Mirgate Terminal Setup Steps into Developer Guide
  docs/docs/README.md
  docs/readthedocs/source/doc/UserGuide/develop.md
  python/orca/developer_guide.md
Labels: document, orca

#5148 [Orca] Make RayContext init lighter
  python/orca/src/bigdl/orca/ray/ray_on_spark_context.py
  python/orca/src/bigdl/orca/ray/raycontext.py
Labels: orca, ray, enhancement

#5059 Chronos: Add `is_main_process` method for `BasepytorchForecaster`
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
Labels: Chronos

#5201 [doc] move current toc out of readthedocs landingpage
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/conf.py
  docs/readthedocs/source/index.rst
Labels: document

#5197 Chronos: add scale and unscale to spark df example
  python/chronos/example/distributed/sparkdf_training_nyc_taxi.py
  python/chronos/src/bigdl/chronos/data/experimental/utils.py
  python/chronos/src/bigdl/chronos/data/experimental/xshards_tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/roll.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
Labels: Chronos

#5211 Orca: set conf to None when using spark-submit
  python/orca/src/bigdl/orca/common.py
Labels: orca

#5178 Chronos: add earlystop mode to forecasters' fit
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#5187 Chronos: error message is added for tsdataset with less than 1 rolling sample
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#5231 Chronos: delete the redundant files and imports for Autoformer
  python/chronos/src/bigdl/chronos/model/autoformer/layers/AutoCorrelation.py
  python/chronos/src/bigdl/chronos/model/autoformer/layers/SelfAttention_Family.py
  python/chronos/src/bigdl/chronos/model/autoformer/layers/Transformer_EncDec.py
Labels: Chronos

#5204 Docs: Bigdl known issues docs
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/UserGuide/known_issues.md
Labels: user guide

#5239 Chronos: tests are modified from ZooTestCase to TestCase
  python/chronos/test/bigdl/chronos/data/test_repo_dataset.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
  python/chronos/test/bigdl/chronos/data/utils/test_cycle_detection.py
  python/chronos/test/bigdl/chronos/data/utils/test_deduplicate.py
  python/chronos/test/bigdl/chronos/data/utils/test_feature.py
  python/chronos/test/bigdl/chronos/data/utils/test_impute.py
  python/chronos/test/bigdl/chronos/data/utils/test_public_dataset.py
  python/chronos/test/bigdl/chronos/data/utils/test_resample.py
  python/chronos/test/bigdl/chronos/data/utils/test_roll.py
  python/chronos/test/bigdl/chronos/model/test_TCMF.py
  python/chronos/test/bigdl/chronos/model/test_arima.py
  python/chronos/test/bigdl/chronos/model/test_prophet.py
  python/chronos/test/bigdl/chronos/model/tf1/test_mtnet_keras.py
  python/chronos/test/bigdl/chronos/model/tf2/test_mtnet_keras.py
  python/chronos/test/bigdl/chronos/simulator/test_doppelganger_simulator.py
Labels: Chronos

#5191 Enable Flexible Spark Versions in Release Shell Script
  python/chronos/dev/release/release_default_linux_spark246.sh
  python/chronos/dev/release/release_default_linux_spark312.sh
  python/chronos/dev/release/release_default_mac_spark312.sh
  python/chronos/dev/release/release_default_spark.sh
  python/dev/release_default_linux_spark246.sh
  python/dev/release_default_linux_spark312.sh
  python/dev/release_default_mac_spark246.sh
  python/dev/release_default_mac_spark312.sh
  python/dev/release_default_spark.sh
  python/dllib/dev/release/release_default_linux_spark246.sh
  python/dllib/dev/release/release_default_mac_spark246.sh
  python/dllib/dev/release/release_default_mac_spark312.sh
  python/dllib/dev/release/release_default_spark.sh
  python/friesian/dev/release/release_default_linux_spark246.sh
  python/friesian/dev/release/release_default_linux_spark312.sh
  python/friesian/dev/release/release_default_mac_spark246.sh
  python/friesian/dev/release/release_default_spark.sh
  python/orca/dev/release/release_default_linux_spark246.sh
  python/orca/dev/release/release_default_linux_spark312.sh
  python/orca/dev/release/release_default_mac_spark246.sh
  python/orca/dev/release/release_default_spark.sh
Labels: build
