Repository intel-analytics/ipex-llm, pull requests merged in 2022-04, with the labels that each got.

#4330 Nano: bugfix for quantizated model load/save
  python/nano/src/bigdl/nano/pytorch/runtime_binding/onnxrt_inference.py
  python/nano/src/bigdl/nano/pytorch/runtime_binding/quantization_inference.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
Labels: Nano

#4331 Chronos: Migrate from TF1.15 to TF2(MTNet)
  python/chronos/dev/test/run-pytests-tf1.sh
  python/chronos/src/bigdl/chronos/autots/deprecated/model/time_sequence.py
  python/chronos/src/bigdl/chronos/forecaster/mtnet_forecaster.py
  python/chronos/src/bigdl/chronos/model/tf1/MTNet_keras.py
  python/chronos/src/bigdl/chronos/model/tf2/MTNet_keras.py
  python/chronos/test/bigdl/chronos/model/tf1/test_mtnet_keras.py
  python/chronos/test/bigdl/chronos/model/tf2/test_mtnet_keras.py
Labels: Chronos

#4334 Chronos: migrate from tf1.15 to tf2 (MTNetForecaster)
  docs/readthedocs/source/doc/PythonAPI/Chronos/forecasters.rst
  python/chronos/dev/app/run-app-tests-pip-tf1.sh
  python/chronos/dev/app/run-app-tests-pip.sh
  python/chronos/dev/test/run-pytests-tf1.sh
  python/chronos/src/bigdl/chronos/forecaster/__init__.py
  python/chronos/src/bigdl/chronos/forecaster/mtnet_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/mtnet_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_mtnet_forecaster.py
  python/chronos/use-case/network_traffic/network_traffic_model_forecasting.ipynb
Labels: Chronos

#4354 [Orca] Update Orca PyTorch Estimator Examples for Testing on Ray Runtime
  python/orca/dev/example/run-example-test-ray-runtime.sh
  python/orca/example/learn/pytorch/cifar10/cifar10.py
  python/orca/example/learn/pytorch/fashion_mnist/fashion_mnist.py
  python/orca/example/learn/pytorch/super_resolution/super_resolution.py
Labels: test, orca

#4348 Chronos: Add TFT model with pytorch-forecasting as an use case
  python/chronos/use-case/pytorch-forecasting/TFT/README.md
  python/chronos/use-case/pytorch-forecasting/TFT/tft.py
Labels: Chronos

#4349 Chronos: Add DeepAR model with pytorch-forecasting as an use case
  python/chronos/use-case/pytorch-forecasting/DeepAR/README.md
  python/chronos/use-case/pytorch-forecasting/DeepAR/deepar.py
Labels: Chronos

#4376 Chronos: fix pytorch forecaster's dynamic quantization function
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos, bug

#4315 Chronos: Fix bigdl-chronos-spark3[all] installation error
  python/dev/add_suffix_spark2.sh
  python/dev/add_suffix_spark3.sh
  python/dev/remove_spark_suffix.sh
Labels: Chronos, bug

#4380 Chronos: provide a chronos namespace called `TSTrainer`
  python/chronos/src/bigdl/chronos/pytorch/__init__.py
  python/chronos/src/bigdl/chronos/pytorch/trainer.py
  python/chronos/use-case/pytorch-forecasting/DeepAR/README.md
  python/chronos/use-case/pytorch-forecasting/DeepAR/deepar.py
  python/chronos/use-case/pytorch-forecasting/TFT/README.md
  python/chronos/use-case/pytorch-forecasting/TFT/tft.py
Labels: Chronos

#4366 TF2Forecaster support `tf.data` dataset
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/forecaster/tf/base_forecaster.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_lstm_keras_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_seq2seq_keras_forecaster.py
Labels: Chronos

#4400 Chronos: Skip all deprecated API unittest cases
  python/chronos/dev/test/run-pytests-tf1.sh
  python/chronos/test/bigdl/chronos/autots/deprecated/__init__.py
Labels: Chronos

#4391 Chronos: fix ae detector error for TF2
  python/chronos/src/bigdl/chronos/detector/anomaly/ae_detector.py
Labels: Chronos, bug

#4399 Chronos: Add VanilaLSTM UT
  python/chronos/src/bigdl/chronos/model/VanillaLSTM_pytorch.py
  python/chronos/test/bigdl/chronos/model/test_VanillaLSTM_pytorch.py
Labels: Chronos

#4270 Chronos: add `quantize` method for TSPipeline
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/src/bigdl/chronos/autots/utils.py
  python/chronos/test/bigdl/chronos/autots/test_tspipeline.py
Labels: Chronos

#4358 [Orca] Support Ray Runtime in TF2Estimator Examples
  python/orca/dev/example/run-example-test-ray-runtime.sh
  python/orca/example/learn/tf2/resnet/resnet-50-imagenet.py
Labels: example, test

#4416 Nano: Change setup and test script reorg for onnx/onnxruntime
  python/chronos/src/setup.py
  python/nano/src/setup.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/run-nano-pytorch-onnx-tests.sh
Labels: Nano

#4474 Nano: make pytorch quantization `framework` parameter only support a str
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/nano/src/bigdl/nano/deps/onnxruntime/torch_funcs.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
Labels: Nano

#4241 Chronos: document regular update
  docs/readthedocs/source/doc/Chronos/Overview/anomaly_detection.md
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
  docs/readthedocs/source/doc/Chronos/Overview/deep_dive.rst
  docs/readthedocs/source/doc/Chronos/Overview/forecasting.md
  docs/readthedocs/source/doc/Chronos/Overview/simulation.md
  docs/readthedocs/source/doc/Chronos/Overview/speed_up.md
  docs/readthedocs/source/doc/Chronos/Overview/useful_functionalities.md
  docs/readthedocs/source/doc/Chronos/QuickStart/index.md
Labels: document, Chronos

#4172 Chronos: Add tcn-keras model
  python/chronos/src/bigdl/chronos/model/tf2/TCN_keras.py
  python/chronos/test/bigdl/chronos/model/tf2/test_tcn_keras.py
Labels: Chronos

#4516 Chronos: add missing api document for ARIMAForecaster
  python/chronos/src/bigdl/chronos/forecaster/arima_forecaster.py
Labels: document, Chronos

#4497 Nano: add `trainer.trace(accelerator="onnxruntime")`'s support
  python/nano/setup.py
  python/nano/src/bigdl/nano/deps/onnxruntime/core/__init__.py
  python/nano/src/bigdl/nano/deps/onnxruntime/core/onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/__init__.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/pytorch/runtime_binding/base_inference.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/model_utils.py
  python/nano/test/onnx/pytorch/test_onnx.py
Labels: Nano
