Repository intel-analytics/ipex-llm, pull requests merged in 2022-08, with the labels that each got.

#5222 [Nano] Integrate ipynb files into ReadtheDocs
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/source/conf.py
  docs/readthedocs/source/doc/Nano/QuickStart/index.md
  docs/readthedocs/source/doc/Nano/Tutorials/custom.ipynb
  docs/readthedocs/source/doc/Nano/Tutorials/seq_and_func.ipynb
Labels: document

#5262 Nano: code style fix
  python/nano/src/bigdl/nano/deps/automl/optuna_backend.py
Labels: Nano

#5223 Chronos: remove import of TensorboardLogger in orca.automl.search
  python/orca/src/bigdl/orca/automl/search/__init__.py
  python/orca/src/bigdl/orca/automl/search/ray_tune/ray_tune_search_engine.py
  python/orca/test/bigdl/orca/automl/search/test_tensorboardlogger.py
Labels: Chronos, orca

#5278 [Nano] Revise Tutorial Notebook: Apply ONNXRuntime Acceleration on Inference Pipeline
  python/nano/notebooks/pytorch/tutorial/pytorch_inference_onnx.ipynb
Labels: Nano

#5283 Chronos: the error caused by sc in test_xshardstsdataset_sparkdf() is fixed
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
Labels: Chronos

#5250 [Nano] Correct typos in ReadtheDocs
  docs/readthedocs/source/doc/Nano/Overview/nano.md
  docs/readthedocs/source/doc/Nano/Overview/windows_guide.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_inference.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_onnxruntime.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_train.md
  docs/readthedocs/source/doc/Nano/QuickStart/tensorflow_inference.md
  docs/readthedocs/source/doc/Nano/QuickStart/tensorflow_train.md
Labels: document

#5176 Enable automatically collect optimized latency in NanoHPO
  python/chronos/dev/test/run-pytests-onnxrt16.sh
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/src/bigdl/chronos/forecaster/utils_hpo.py
  python/chronos/src/bigdl/chronos/model/Seq2Seq_pytorch.py
  python/chronos/src/bigdl/chronos/model/VanillaLSTM_pytorch.py
  python/chronos/src/bigdl/chronos/model/nbeats_pytorch.py
  python/chronos/src/bigdl/chronos/model/tcn.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
  python/nano/src/bigdl/nano/automl/pytorch/_helper.py
  python/nano/src/bigdl/nano/automl/pytorch/hposearcher.py
  python/nano/src/bigdl/nano/automl/pytorch/objective.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/lightning.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/automl/pytorch/test_multi_objective.py
Labels: Nano

#5130 Chronos: benchmark tool (hardware information, setting diagnosis)
  python/chronos/script/benchmark-chronos.py
  python/chronos/script/readme.md
  python/chronos/script/utils.py
Labels: Chronos

#5175 Chronos: add more installation options
  docs/readthedocs/source/_static/css/chronos_installation_guide.css
  docs/readthedocs/source/_static/js/chronos_installation_guide.js
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
  docs/readthedocs/source/doc/Chronos/Overview/forecasting.md
  python/chronos/colab-notebook/chronos_autots_nyc_taxi.ipynb
  python/chronos/colab-notebook/chronos_minn_traffic_anomaly_detector.ipynb
  python/chronos/colab-notebook/chronos_nyc_taxi_tsdataset_forecaster.ipynb
  python/chronos/src/bigdl/chronos/forecaster/__init__.py
  python/chronos/src/setup.py
Labels: Chronos

#5290 Chronos: add best validation mode to forecasters' fit
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#5307 Chronos : add multi-objective HPO with latency tutorial
  docs/readthedocs/source/doc/Chronos/QuickStart/index.md
  python/chronos/example/hpo/muti_objective_hpo_with_builtin_latency_tutorial.ipynb
  python/chronos/example/hpo/visualization.png
Labels: example, Chronos

#5310 Orca: add pyarrow dependency
  python/orca/src/setup.py
Labels: orca

#5263 Chronos: Add a page 'Windows User Guide.md' to ReadTheDocs
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Overview/windows_guide.md
Labels: document, Chronos

#5309 Orca: add grpc error to orca known issues
  docs/readthedocs/source/doc/Orca/Overview/known_issues.md
Labels: document, orca

#5196 Chronos: XShardsTSDataset user guide (will be reused in how-to handle large data)
  docs/readthedocs/source/doc/Chronos/Overview/data_processing_feature_engineering.md
Labels: document, Chronos

#5217 Chronos: add quick tour page
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/conf.py
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
  docs/readthedocs/source/doc/Chronos/Overview/quick-tour.rst
Labels: document, Chronos

#5360 Chronos: Update Chronos install guide form's js and css file.
  docs/readthedocs/source/_static/css/chronos_installation_guide.css
  docs/readthedocs/source/_static/js/chronos_installation_guide.js
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
Labels: document, Chronos

#5351 DLlib: add enable_hdfs_load decorator
  python/dllib/src/bigdl/dllib/utils/file_utils.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_spark_estimator.py
Labels: DLlib

#5384 Chronos: add autots import check
  python/chronos/src/bigdl/chronos/autots/__init__.py
Labels: Chronos

#5227 Chronos: Lazy load Forecaster
  python/chronos/src/bigdl/chronos/forecaster/__init__.py
  python/chronos/src/bigdl/chronos/forecaster/pytorch.py
  python/chronos/src/bigdl/chronos/forecaster/tf/__init__.py
  python/chronos/src/bigdl/chronos/utils.py
  python/chronos/test/bigdl/chronos/forecaster/test_pytorch.py
Labels: Chronos

#5334 Chronos: Evaluator.get_latency() is added to evaluate the time cost of a workflow
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
  python/chronos/test/bigdl/chronos/metric/test_forecast_metrics.py
Labels: Chronos

#5374 [Chronos] fix save and load of tuned built-in forecaster model
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/model/autoformer/Autoformer.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#5395 Docs: update orca known issues
  docs/readthedocs/source/doc/Orca/Overview/known_issues.md
Labels: document, orca

#5397 Docs: add save and load model docs.
  docs/readthedocs/source/doc/Orca/QuickStart/orca-tf2keras-quickstart.md
  python/orca/colab-notebook/quickstart/tf2_keras_lenet_mnist.ipynb
Labels: document, orca

#5414 Docs: fix typo and quickstart code branch.
  docs/readthedocs/source/doc/Orca/QuickStart/orca-autoestimator-pytorch-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-autoxgboost-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-keras-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-pytorch-distributed-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-pytorch-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-tf-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-tf2keras-quickstart.md
  python/orca/colab-notebook/quickstart/autoestimator_pytorch_lenet_mnist.ipynb
  python/orca/colab-notebook/quickstart/autoxgboost_regressor_sklearn_boston.ipynb
  python/orca/colab-notebook/quickstart/keras_lenet_mnist.ipynb
  python/orca/colab-notebook/quickstart/ncf_xshards_pandas.ipynb
  python/orca/colab-notebook/quickstart/pytorch_lenet_mnist.ipynb
  python/orca/colab-notebook/quickstart/pytorch_lenet_mnist_data_creator_func.ipynb
  python/orca/colab-notebook/quickstart/ray_parameter_server.ipynb
  python/orca/colab-notebook/quickstart/tf2_keras_lenet_mnist.ipynb
  python/orca/colab-notebook/quickstart/tf_lenet_mnist.ipynb
Labels: document, orca

#5407 Chronos: make bigdl-chronos[all] option available
  python/chronos/src/setup.py
Labels: Chronos

#5418 Chronos: the ut test_init_doppelganer() in simulator is fixed
  python/chronos/test/bigdl/chronos/simulator/test_doppelganger_simulator.py
Labels: Chronos

#5435 Chronos: remove redundant downloading in ut
  python/chronos/test/bigdl/chronos/autots/test_tspipeline.py
Labels: Chronos

#5439 [Orca] Hotfix TF2 QuickStart Notebook
  python/orca/colab-notebook/quickstart/ncf_dataframe.ipynb
  python/orca/colab-notebook/quickstart/tf2_keras_lenet_mnist.ipynb
Labels: orca

#5224 Chronos: How-to-Guides (How to train forecaster)
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_train_forecaster_on_one_node.ipynb
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
Labels: document, Chronos

#5429 Chronos: handle redundant warning when forecasters are fitted
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#5422 [Chronos] remove redundant hpo warning
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#5336 Nano: add an overall inf ppl code
  python/nano/src/bigdl/nano/pytorch/inference/__init__.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/run-nano-codestyle-test.sh
Labels: Nano

#5472 Orca: delete pyarrow global dependency
  python/orca/src/setup.py
Labels: orca

#5489 Chronos: remove checking in autots import
  python/chronos/src/bigdl/chronos/autots/__init__.py
Labels: Chronos

#5505 Orca: update known-issues.
  docs/readthedocs/source/doc/Orca/Overview/known_issues.md
Labels: document, orca

#5349 Chronos: PR validation job to Github action
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
Labels: test, Chronos

#5483 Chronos: an error message is added to AutoformerForecaster.predict()
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
Labels: Chronos

#5504 Orca: add save and load model doc to PyTorch Estimator quick-start.
  docs/readthedocs/source/doc/Orca/QuickStart/orca-pytorch-distributed-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-pytorch-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-tf2keras-quickstart.md
  python/orca/colab-notebook/quickstart/pytorch_distributed_lenet_mnist.ipynb
  python/orca/colab-notebook/quickstart/pytorch_lenet_mnist.ipynb
Labels: document, orca

#5499 Orca: add shutdown API to tf2 pyspark estimator.
  python/orca/src/bigdl/orca/learn/log_monitor.py
  python/orca/src/bigdl/orca/learn/tf2/pyspark_estimator.py
Labels: orca

#5325 Orca: refactor HDFS operation in estimator
  python/orca/src/bigdl/orca/data/file.py
  python/orca/src/bigdl/orca/learn/utils.py
Labels: orca

#5508 Orca: add get remote file to local decorator in orca file utils.
  python/orca/src/bigdl/orca/data/file.py
  python/orca/test/bigdl/orca/data/test_file.py
Labels: orca

#5425 [Orca] Refactor tf2 pyspark estimator save model
  python/orca/src/bigdl/orca/learn/tf2/pyspark_estimator.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_spark_estimator.py
Labels: orca

#5521 Chronos: add tune for lstm and s2s
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
Labels: Chronos

#5490 Nano: Enhance optimizer pipeline
  python/nano/src/bigdl/nano/deps/openvino/core/utils.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/utils.py
  python/nano/src/bigdl/nano/pytorch/__init__.py
  python/nano/src/bigdl/nano/pytorch/inference/__init__.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/mypy.ini
  python/nano/test/pytorch/tests/test_inference_pipeline.py
Labels: Nano

#5534 Chronos: set kernel of Autoformer to odd number
  python/chronos/src/bigdl/chronos/model/autoformer/Autoformer.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
Labels: Chronos

#5064 Chronos: Add `from_tsdataset` method, BaseTF2Forecaster can input a tsdataset
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/forecaster/tf/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_lstm_keras_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_seq2seq_keras_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_tcn_keras_forecaster.py
Labels: Chronos

#5581 rename inference ppl test to move to tests-ipex
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
Labels: Nano

#5399 Chronos : add [how to tune a forecaster model] notebook
  docs/readthedocs/source/doc/Chronos/Howto/how_to_tune_forecaster_model.ipynb
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#5592 Add shutdown api
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_pyspark_estimator.py
  python/orca/src/bigdl/orca/learn/tf2/pyspark_estimator.py
  python/orca/test/bigdl/orca/learn/ray/pytorch/test_estimator_pyspark_backend.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_spark_estimator.py
Labels: orca
