Repository intel-analytics/ipex-llm, pull requests merged in 2022-11, with the labels that each got.

#6281 Nano : Update torch version and add inference requires in setup
  .github/workflows/chronos-prvn-python-spark-3.1-py37-onnxrt.yml
  .github/workflows/nano_notebooks_tests.yml
  .github/workflows/nano_unit_tests_pytorch.yml
  python/nano/setup.py
  python/nano/src/bigdl/nano/pytorch/lightning.py
Labels: Nano

#6330 Nano: refactor inference optimizer code for better code reuse
  docs/readthedocs/source/doc/PythonAPI/Nano/pytorch.rst
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/common/__init__.py
  python/nano/src/bigdl/nano/utils/inference/common/base_optimizer.py
  python/nano/src/bigdl/nano/utils/inference/common/checker.py
  python/nano/src/bigdl/nano/utils/inference/common/utils.py
  python/nano/test/mypy.ini
Labels: Nano

#6387 Chronos : modify workflow of chronos based on new inference option
  .github/workflows/chronos-howto-guides-test.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
Labels: Chronos

#6396 Nano : modify workflow of nano based on new inference option
  .github/workflows/nano_howto_guides_tests.yml
  .github/workflows/nano_notebooks_tests.yml
  .github/workflows/nano_unit_tests_basic.yml
Labels: Nano

#6400 Nano : fix openvino int8 thread control
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6304 Nano: remove unsupported accelerator in doc string of `bigdl.nano.tf.keras.Model.quantize`
  python/nano/src/bigdl/nano/tf/keras/inference_utils.py
Labels: document, Nano

#6277 Chronos: fix segmentation fault in action
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
  python/chronos/dev/test/run-pytests.sh
  python/chronos/test/bigdl/chronos/__init__.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_prophet.py
  python/chronos/test/bigdl/chronos/forecaster/test_prophet_forecaster.py
  python/chronos/test/bigdl/chronos/model/test_prophet.py
Labels: test, Chronos

#6307 Nano: Fix: cuda patch takes no effect when running multi-instance training
  python/nano/src/bigdl/nano/deps/ray/ray_distributed.py
  python/nano/src/bigdl/nano/pytorch/dispatcher.py
  python/nano/src/bigdl/nano/pytorch/gpu_cpu/gpu_cpu.py
  python/nano/src/bigdl/nano/pytorch/strategies/ddp_spawn.py
  python/nano/test/pytorch/tests/test_torch_nano.py
  python/nano/test/ray/test_torch_nano_ray.py
Labels: Nano

#6318 Nano: add more GPU operation support for GPU-CPU tool
  python/nano/src/bigdl/nano/pytorch/gpu_cpu/gpu_cpu.py
  python/nano/test/pytorch/tests/test_dispatcher.py
Labels: Nano

#6429 Nano: fix torch version to enable nano API doc
  docs/readthedocs/requirements-doc.txt
Labels: document, Nano

#5691 Orca: Add 2 NCF PyTorch examples with data_loader or XShards as inputs.
  python/orca/tutorial/pytorch/NCF/model.py
  python/orca/tutorial/pytorch/NCF/train_data_loader.py
  python/orca/tutorial/pytorch/NCF/train_xshards.py
Labels: orca, tutorial

#6340 Nano : support thread_num control in keras Model.trace
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/tf/keras/inference_utils.py
Labels: Nano

#6319 [Chronos]: Add how-to guides for exporting torchscript files to disk
  .github/workflows/chronos-howto-guides-test.yml
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_export_torchscript_files.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/colab-notebook/howto/how_to_export_torchscript_files.ipynb
Labels: document, Chronos

#6321 Chronos: Make known issue page more friendly
  docs/readthedocs/source/doc/Chronos/Overview/chronos_known_issue.md
Labels: Chronos

#6382 Orca: Document polishing
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Orca/Howto/index.rst
  docs/readthedocs/source/doc/Orca/Howto/orca-autoestimator-pytorch-quickstart.md
  docs/readthedocs/source/doc/Orca/Howto/orca-autoxgboost-quickstart.md
  docs/readthedocs/source/doc/Orca/Howto/spark-dataframe.md
  docs/readthedocs/source/doc/Orca/Howto/xshards-pandas.md
Labels: document, orca

#6453 fix: fix comment param style.
  python/orca/src/bigdl/orca/learn/pytorch/callbacks/base.py
  python/orca/src/bigdl/orca/learn/pytorch/callbacks/model_checkpoint.py
  python/orca/src/bigdl/orca/learn/pytorch/callbacks/tensorboard.py
  python/orca/src/bigdl/orca/learn/pytorch/callbacks/wandb.py
Labels: orca

#6375 Chronos : modify ut of multi-processes tuning
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#6329 Nano : update opset version based on torch version
  python/nano/src/bigdl/nano/utils/inference/pytorch/model_utils.py
Labels: Nano

#6450 [Doc] Enable Mermaid diagrams in our documentation
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/source/_templates/layout.html
  docs/readthedocs/source/conf.py
  docs/readthedocs/source/doc/UserGuide/documentation.md
Labels: document

#6404 Orca: update orca-in-5-minutes to tf2 estimator.
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Orca/Overview/orca.md
  docs/readthedocs/source/doc/Orca/QuickStart/index.md
Labels: document, orca

#6427 Chronos: add new "inference" option for a bunch of inference optimization tools
  python/chronos/src/setup.py
Labels: Chronos

#6379 [ORCA] Refactor `get_model` to support optional `model_creator` with tf2 ray estimator
  python/orca/src/bigdl/orca/learn/tf2/ray_estimator.py
  python/orca/src/bigdl/orca/learn/tf2/tf_runner.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_ray_estimator.py
Labels: orca

#6457 Nano: add new script for windows unset nano env
  python/nano/scripts/bigdl-nano-unset-env.ps1
  python/nano/setup.py
Labels: Nano

#6472 Update conda channel for chronos workflow
  .github/workflows/chronos-howto-guides-test.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
Labels: Chronos

#5684 Chronos: forecaster save/load how-to guide
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_save_and_load_forecaster.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/colab-notebook/howto/how_to_save_and_load_forecaster.ipynb
Labels: example, Chronos

#5959 Chronos: upload prediction how-to-guide.
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_use_forecaster_to_predict_future_data.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/colab-notebook/howto/how_to_use_forecaster_to_predict_future_data.ipynb
Labels: Chronos

#6462 Nano: support data sample directly in `inference_opt.optimize()`
  python/nano/src/bigdl/nano/deps/neural_compressor/core/quantization.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/dataset.py
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
  python/nano/test/pytorch/utils/_train_torch_lightning.py
Labels: Nano

#6430 Nano: Add openvino quantize support for Tensorflow
  python/nano/src/bigdl/nano/deps/openvino/tf/dataloader.py
  python/nano/src/bigdl/nano/deps/openvino/tf/metric.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/tf/keras/inference_utils.py
  python/nano/test/openvino/tf/test_openvino_quantize.py
Labels: Nano

#6434 Nano: add dataloader transformation for `quantize` method
  .github/workflows/nano_unit_tests_pytorch.yml
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/utils.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/dataloader.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/model_utils.py
  python/nano/test/inc/pytorch/test_dataloader.py
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
Labels: Nano

#6326 Chronos: fix incorrect evaluate results for shuffled dataloader
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#6530 [Nano] Add missing error messages for `InferenceOptimizer.optimize`
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6278 first commit of Chronos-benchmark-tool
  .github/workflows/chronos-howto-guides-test.yml
  python/chronos/dev/test/lint-python
  python/chronos/dev/test/run-benchmark-tool.sh
  python/chronos/script/benchmark-chronos.py
  python/chronos/script/readme.md
  python/chronos/src/bigdl/chronos/benchmark/__init__.py
  python/chronos/src/bigdl/chronos/benchmark/env_check.py
  python/chronos/src/bigdl/chronos/benchmark/models.py
  python/chronos/src/bigdl/chronos/benchmark/utils_data.py
  python/chronos/src/bigdl/chronos/benchmark/utils_env.py
Labels: Chronos

#6523 Nano: refactor PyTorch InferenceOptimizer
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/common/base_optimizer.py
  python/nano/src/bigdl/nano/utils/inference/common/utils.py
Labels: Nano

#6482 Chronos: update pip mirror in chronos workflows
  .github/actions/python-requirements/requirements-chronos-python-ut.txt
  .github/workflows/chronos-howto-guides-test.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
Labels: Chronos

#6446 Chronos : How to preprocess my data guide
  docs/readthedocs/source/_static/css/custom.css
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_preprocess_my_data.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/colab-notebook/howto/how_to_preprocess_my_data.ipynb
Labels: Chronos

#6353 Chronos: sync `rayestimator`
  python/chronos/src/bigdl/chronos/forecaster/tf/base_forecaster.py
Labels: Chronos

#6346 Chronos: Enhance `np_to_xshard`
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
Labels: Chronos

#6574 Doc: Update orca hadoop user guide.
  docs/readthedocs/source/doc/Orca/Howto/spark-dataframe.md
  docs/readthedocs/source/doc/Orca/Howto/xshards-pandas.md
  docs/readthedocs/source/doc/UserGuide/hadoop.md
Labels: document, orca

#6554 Doc: update orca-in-5-mins prediction.
  docs/readthedocs/source/doc/Orca/Overview/orca.md
Labels: document, orca

#6068 Chronos: Add forecasters filter tags in tutorial page.
  docs/readthedocs/source/_static/css/chronos_tutorial.css
  docs/readthedocs/source/_static/js/chronos_tutorial.js
  docs/readthedocs/source/doc/Chronos/QuickStart/index.md
Labels: document, Chronos

#6548 Nano: add openvino_config and default fp32 config to quantize/trace
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference_utils.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/openvino/tf/test_openvino.py
  python/nano/test/openvino/tf/test_openvino_quantize.py
Labels: Nano

#6516 Nano: Add save and load support for tf onnx trace model
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/test/onnx/tf/test_onnx.py
Labels: Nano

#6480 Orca: Refactor Runner with Trainer ABC
  python/orca/src/bigdl/orca/learn/pytorch/core/__init__.py
  python/orca/src/bigdl/orca/learn/pytorch/core/base_runner.py
  python/orca/src/bigdl/orca/learn/pytorch/core/trainable.py
  python/orca/src/bigdl/orca/learn/pytorch/torch_runner.py
Labels: orca

#6218 Chronos: add serving forecaster example in document
  docs/readthedocs/source/_static/js/chronos_tutorial.js
  docs/readthedocs/source/doc/Chronos/QuickStart/index.md
Labels: document, Chronos

#5151 [Orca] Tutorial for Submit and Run Programs on K8s
  python/orca/tutorial/pytorch/FashionMNIST/train.py
  python/orca/tutorial/pytorch/docker/integrate_image_client.yaml
  python/orca/tutorial/pytorch/docker/integrate_image_cluster.yaml
  python/orca/tutorial/pytorch/docker/orca-tutorial-client.yaml
  python/orca/tutorial/pytorch/docker/orca-tutorial-cluster.yaml
  python/orca/tutorial/pytorch/pytorch_k8s_tutorial.md
Labels: orca, tutorial

#6383 [ORCA] Support continuous training in tf2 ray estimator
  python/orca/src/bigdl/orca/learn/tf2/tf_runner.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_ray_estimator.py
Labels: orca

#6595 Doc: fix spark-submit command for yarn client and cluster mode.
  docs/readthedocs/source/doc/Orca/Tutorial/yarn.md
Labels: document, orca

#6560 [Nano] Add stack traceback for exception in `InferenceOptimizer.optimize`
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6602 [Doc] Migrate requirements file for ReadtheDocs documentation building
  .readthedocs.yml
  docs/readthedocs/README.md
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/requirements-rtd.txt
Labels: document

#6610 [Doc] Sidebar fix
  docs/readthedocs/source/_static/css/custom.css
Labels: document

#6592 Nano : fix optimize result and output format
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/common/utils.py
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
Labels: Nano

#6626 Chronos: update the readme of quantization example
  python/chronos/example/quantization/README.md
  python/chronos/example/quantization/quantization_tcnforecaster_nyc_taxi.py
Labels: Chronos

#5745 [Nano] Openvino model inference notebook example with Nano
  docs/readthedocs/source/doc/Nano/Howto/Inference/OpenVINO/openvino_inference.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/OpenVINO/openvino_inference_async.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/openvino/openvino_inference.ipynb
  python/nano/tutorial/notebook/inference/openvino/openvino_inference_async.ipynb
Labels: example, Nano

#6569 Chronos: optimize forecaster to reduce memory consumption
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#6385 Chronos: Update Windows User Guide
  docs/readthedocs/source/_static/js/chronos_installation_guide.js
  docs/readthedocs/source/doc/Chronos/Howto/windows_guide.md
  docs/readthedocs/source/doc/Chronos/Overview/install.md
  python/chronos/src/setup.py
Labels: Chronos

#6539 Nano: Add CUDA unpatch
  python/nano/src/bigdl/nano/deps/ray/ray_distributed.py
  python/nano/src/bigdl/nano/pytorch/dispatcher.py
  python/nano/src/bigdl/nano/pytorch/gpu_cpu/__init__.py
  python/nano/src/bigdl/nano/pytorch/gpu_cpu/gpu_cpu.py
  python/nano/src/bigdl/nano/pytorch/strategies/ddp_spawn.py
  python/nano/src/bigdl/nano/pytorch/strategies/ddp_subprocess.py
  python/nano/src/bigdl/nano/pytorch/strategies/worker.py
  python/nano/test/pytorch/tests/test_dispatcher.py
Labels: Nano

#6625 Nano: update the metadata saved and loaded for openvino
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
Labels: Nano

#6364 Nano: Add a compatible `CPUInfo` class to check the hardware information
  python/nano/setup.py
  python/nano/src/bigdl/nano/common/common.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/pytorch/amp/bfloat16.py
  python/nano/src/bigdl/nano/utils/__init__.py
  python/nano/src/bigdl/nano/utils/inference/common/checker.py
  python/nano/src/bigdl/nano/utils/util.py
Labels: Nano

#6368 Nano: add multi-instance inference
  python/nano/src/bigdl/nano/pytorch/inference/multi_instance.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
Labels: Nano

#6655 [Doc] Mock module `cpuinfo` for fixing missing Nano/Chronos api doc
  docs/readthedocs/source/conf.py
Labels: document

#6653 Nano: Restore environment variables in multi-instance inference
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6568 [ORCA] RayContext supports setting cpu nums through init_orca_context
  python/orca/src/bigdl/orca/common.py
  python/orca/src/bigdl/orca/ray/raycontext.py
Labels: orca

#6339 Chronos: Speed ​​up initialization weight matrix of tf2 model
  python/chronos/src/bigdl/chronos/model/tf2/Seq2Seq_keras.py
  python/chronos/src/bigdl/chronos/model/tf2/TCN_keras.py
Labels: Chronos

#6258 Chronos: add a how to guide to help users replay their forecaster with pre/post processing in production env
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_process_data_in_production_environment.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/colab-notebook/howto/how_to_process_data_in_production_environment.ipynb
Labels: example, Chronos

#6665 Chronos: add benchmark-chronos to installation
  .github/workflows/chronos-howto-guides-test.yml
  python/chronos/dev/test/lint-python
  python/chronos/dev/test/run-benchmark-tool.sh
  python/chronos/src/bigdl/chronos/benchmark/benchmark_chronos.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/setup-lite.py
  python/chronos/src/setup.py
Labels: Chronos

#6458 Nano : support InferenceOptimizer for keras
  .github/workflows/nano_unit_tests_tensorflow.yml
  docs/readthedocs/source/doc/PythonAPI/Nano/tensorflow.rst
  python/nano/src/bigdl/nano/deps/openvino/core/utils.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/utils.py
  python/nano/src/bigdl/nano/tf/keras/__init__.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference_utils.py
  python/nano/src/bigdl/nano/utils/inference/tf/model.py
  python/nano/test/mypy.ini
  python/nano/test/onnx/tf/test_inc_onnx.py
  python/nano/test/openvino/tf/test_openvino_quantize.py
  python/nano/test/tf/keras/test_inf_optimizer.py
Labels: Nano

#6515 Chronos: Add chronos workflow to performance test suite
  .github/workflows/performance-regression-test.yml
  python/chronos/benchmark/forecaster_inference/forecaster_inference.py
  python/chronos/benchmark/forecaster_inference/forecaster_inference_benchmark.sh
  python/chronos/benchmark/forecaster_inference/run.sh
  python/chronos/benchmark/forecaster_training/forecaster_training.py
  python/chronos/benchmark/forecaster_training/forecaster_training_benchmark.sh
  python/chronos/benchmark/forecaster_training/run.sh
  python/chronos/benchmark/tsdataset_processing/run.sh
  python/chronos/benchmark/tsdataset_processing/tsdataset_processing.py
  python/chronos/benchmark/tsdataset_processing/tsdataset_processing_benchmark.sh
Labels: Chronos

#6670 Nano: Fix: env variables are different when keep sourcing `bigdl-nano-init` twice
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#6401 Nano : add workflow for torch1.13
  .github/workflows/nano_unit_tests_pytorch.yml
  python/nano/src/bigdl/nano/pytorch/utils.py
  python/nano/src/bigdl/nano/pytorch/vision/transforms/transforms.py
Labels: Nano

#6679 Chronos: Updated some readme
  python/chronos/example/distributed/README.md
  python/chronos/example/onnx/README.md
  python/chronos/example/serving/readme.md
Labels: Chronos

#6604 Orca: fix predict function steps argument.
  python/friesian/example/ncf/ncf_train.py
  python/orca/tutorial/databricks/tf_keras_ncf.ipynb
Labels: orca

#6684 Nano: remove support for torch1.9
  .github/workflows/nano_unit_tests_pytorch.yml
Labels: Nano

#6681 Change default backend of PyTorch Estimator to spark
  docs/readthedocs/source/doc/Orca/Overview/install.md
  python/orca/colab-notebook/quickstart/pytorch_lenet_mnist.ipynb
  python/orca/colab-notebook/quickstart/pytorch_lenet_mnist_data_creator_func.ipynb
  python/orca/example/learn/pytorch/cifar10/README.md
  python/orca/example/learn/pytorch/cifar10/cifar10.py
  python/orca/example/learn/pytorch/fashion_mnist/README.md
  python/orca/example/learn/pytorch/fashion_mnist/fashion_mnist.py
  python/orca/example/learn/pytorch/super_resolution/README.md
  python/orca/example/learn/pytorch/super_resolution/super_resolution.py
  python/orca/src/bigdl/orca/learn/pytorch/estimator.py
  python/orca/test/bigdl/orca/learn/jep/test_pytorch_estimator_for_dataframe.py
  python/orca/test/bigdl/orca/learn/jep/test_pytorch_estimator_for_dataloader.py
  python/orca/test/bigdl/orca/learn/jep/test_pytorch_estimator_for_save_load.py
  python/orca/test/bigdl/orca/learn/jep/test_pytorch_estimator_for_spark.py
  python/orca/test/bigdl/orca/learn/jep/test_pytorch_estimator_for_spark_creator.py
Labels: orca

#6701 Chronos: fix the quantization example for better performance and more hint in readme
  python/chronos/example/quantization/README.md
  python/chronos/example/quantization/quantization_tcnforecaster_nyc_taxi.py
Labels: example, Chronos

#6514 Nano: add more installation options for pytorch (include `pytorch_nightly` / `pytorch_110` / `pytorch_111` / `pytorch_112` / `pytorch_113`)
  .github/workflows/nano_unit_tests_pytorch.yml
  python/nano/setup.py
Labels: Nano

#6706 Nano: update examples and how-to guide about installation
  python/nano/example/pytorch/inference_optimizer/export_model/README.md
  python/nano/example/pytorch/inference_optimizer/resnet/README.md
  python/nano/example/pytorch/inference_optimizer/vision_transformers/vision_transformer.ipynb
  python/nano/tutorial/notebook/inference/pytorch/inference_optimizer_optimize.ipynb
Labels: Nano

#6618 Nano: update quantize with BF16
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/pytorch/amp/amp_api.py
  python/nano/src/bigdl/nano/pytorch/amp/bfloat16.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/utils.py
  python/nano/test/pytorch/tests/test_bf16.py
Labels: Nano

#6721 Orca: update pytorch estimator backend.
  docs/readthedocs/source/doc/Orca/QuickStart/orca-pytorch-quickstart.md
Labels: orca

#6493 Chronos: automatically detect and repair abnormal data
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/quality_inspection.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#6722 Nano: remove check for bf16 in optimize
  python/nano/src/bigdl/nano/utils/inference/common/checker.py
Labels: Nano

#6648 Nano : automatic add label for quantization
  python/nano/src/bigdl/nano/deps/openvino/pytorch/dataloader.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/dataloader.py
  python/nano/test/pytorch/tests/test_inference_optimizer.py
Labels: Nano

#6667 Chronos: add dummy encoder choice to lighten the TCN model
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/src/bigdl/chronos/model/tcn.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#6534 Chronos: modify the default thread number of `build_openvino`, `build_onnx` and `build_jit`
  python/chronos/src/bigdl/chronos/autots/model/base_automodel.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#6726 Orca: fix ray import issue.
  python/orca/src/bigdl/orca/ray/raycontext.py
Labels: orca

#6725 Nano: save/load thread control for onnxruntime model
  python/nano/src/bigdl/nano/deps/onnxruntime/core/onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/onnx/tf/test_onnx.py
Labels: Nano

#6745 [Nano API doc] Remove `DEFAULT_INFERENCE_ACCELERATION_METHOD`
  docs/readthedocs/source/doc/PythonAPI/Nano/pytorch.rst
Labels: document, API, Nano

#6734 Chronos: fix `ImportError: libGL.so.1` in github actions
  .github/workflows/chronos-install-option-py38-test.yml
Labels: Chronos

#6697 Chronos: add guide for developers to add tags for unit test
  docs/docs/DeveloperGuide/chronos_ut_tag.md
Labels: Chronos

#6750 Doc: add download link and script in orca installation.
  docs/readthedocs/source/doc/Orca/Overview/install.md
  docs/readthedocs/source/doc/Orca/Tutorial/yarn.md
  scripts/download-bigdl.sh
Labels: document, orca

#6757 Nano: fix early stop and channels_last
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/common/utils.py
Labels: Nano

#6256 Chronos: add unit tests for `TSDataset.from_prometheus()`
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#6668 Chronos: benchmark tool user guide
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_use_benchmark_tool.md
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  docs/readthedocs/source/doc/Chronos/Overview/forecasting.md
Labels: Chronos

#6763 Nano: fix fp32_channels_last
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6742 Chronos: Update installation panel
  docs/readthedocs/source/_static/js/chronos_installation_guide.js
  docs/readthedocs/source/doc/Chronos/Overview/install.md
Labels: Chronos

#6755 Add regression test for pytorch InferenceOptimizer
  .github/workflows/performance-regression-test.yml
  python/chronos/benchmark/tsdataset_processing/tsdataset_processing_benchmark.sh
  python/nano/benchmark/torch_inference_optimizer/benchmark.sh
  python/nano/benchmark/torch_inference_optimizer/inference.py
  python/nano/benchmark/torch_inference_optimizer/optimize.py
  python/nano/benchmark/torch_inference_optimizer/run.sh
Labels: Nano

#6659 [Nano] add how to guide save and load jit, ipex, onnx, openvino
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/accelerate_pytorch_inference_jit_ipex.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/pytorch_save_and_load_ipex.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/pytorch_save_and_load_jit.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/pytorch_save_and_load_onnx.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/pytorch_save_and_load_openvino.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_jit_ipex.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_ipex.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_jit.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_onnx.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_openvino.ipynb
Labels: Nano

#6666 Chronos: a better implementation for cycle length detection
  python/chronos/src/bigdl/chronos/data/utils/cycle_detection.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#6764 Nano: fix action oom and regression test
  python/chronos/benchmark/forecaster_inference/forecaster_inference_benchmark.sh
  python/chronos/benchmark/forecaster_training/forecaster_training_benchmark.sh
  python/chronos/benchmark/tsdataset_processing/tsdataset_processing_benchmark.sh
  python/nano/benchmark/resnet50/pytorch_resnet50_finetune.sh
  python/nano/benchmark/resnet_inference/pytorch_resnet_benchmark.sh
  python/nano/test/pytorch/tests/test_inference_optimizer.py
Labels: Nano

#6769 Nano: fix multi-instance inference error
  python/nano/src/bigdl/nano/pytorch/inference/multi_instance.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/test_inference_optimizer.py
Labels: Nano

#6747 Nano: Support new context manager
  .github/workflows/nano_unit_tests_pytorch.yml
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantized_model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/amp/bfloat16.py
  python/nano/src/bigdl/nano/pytorch/context_manager.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/utils.py
  python/nano/test/inc/pytorch/test_trainer_quantize.py
  python/nano/test/mypy.ini
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/pytorch/tests/test_bf16.py
  python/nano/test/pytorch/tests/test_bf16_ipex.py
  python/nano/test/pytorch/tests/test_inference_optimizer.py
Labels: Nano

#6770 Nano: fix jit_bf16 add support jit_channels_last
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/test_inference_optimizer.py
Labels: Nano

#6780 [Doc] Update doc requirements link
  .readthedocs.yml
  docs/readthedocs/README.md
  docs/readthedocs/source/index.rst
Labels: document

#6311 Nano : move import of ipex
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/test/pytorch/tests/test_bf16_ipex.py
Labels: Nano

#6793 Nano: fix load error of jit+ipex and channels_last of quantization
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/test_ipex_jit_inference.py
Labels: Nano

#6807 Nano: add use_ipex in optimize's trace
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6520 Nano: add partial m-series chip support for tensorflow (training and installation)
  docs/readthedocs/source/doc/Nano/Overview/install.md
  python/nano/setup.py
Labels: Nano
