Repository intel-analytics/ipex-llm, pull requests merged in 2022-03, with the labels that each got.

#4127 Nano: Onnxruntime/pytorch default quantize and accumulated enhancement
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/nano/src/bigdl/nano/pytorch/lightning.py
  python/nano/src/bigdl/nano/pytorch/runtime_binding/base_inference.py
  python/nano/src/bigdl/nano/pytorch/runtime_binding/onnxrt_inference.py
  python/nano/src/bigdl/nano/pytorch/runtime_binding/quantization_inference.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/pytorch/tests/test_onnx.py
  python/nano/test/pytorch/tests/test_quantize_inference.py
  python/nano/test/pytorch/utils/_train_torch_lightning.py
Labels: Nano

#4153 Chronos: add support for chronos onnxruntime quantization in forecasters
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#4157 Chronos: add example for quantization
  python/chronos/dev/example/run-example-tests-pip-ray.sh
  python/chronos/example/quantization/README.md
  python/chronos/example/quantization/quantization_tcnforecaster_nyc_taxi.py
Labels: Chronos

#4091 Chronos: Sync file paths in doc, branch-2.0-->main
  docs/readthedocs/source/doc/Chronos/Overview/anomaly_detection.md
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
  docs/readthedocs/source/doc/Chronos/Overview/data_processing_feature_engineering.md
  docs/readthedocs/source/doc/Chronos/Overview/forecasting.md
  docs/readthedocs/source/doc/Chronos/Overview/simulation.md
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-anomaly-detector.md
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-autotsest-quickstart.md
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-tsdataset-forecaster-quickstart.md
  docs/readthedocs/source/doc/Chronos/QuickStart/index.md
  docs/readthedocs/source/doc/PythonAPI/Chronos/forecasters.rst
Labels: document, Chronos

#4083 Chronos: Add Keras models for LSTM and Seq2Seq
  python/chronos/dev/app/run-app-tests-pip-tf1.sh
  python/chronos/dev/app/run-app-tests-pip.sh
  python/chronos/dev/test/run-pytests-tf1.sh
  python/chronos/src/bigdl/chronos/autots/deprecated/model/time_sequence.py
  python/chronos/src/bigdl/chronos/model/tf1/Seq2Seq_keras.py
  python/chronos/src/bigdl/chronos/model/tf1/VanillaLSTM_keras.py
  python/chronos/src/bigdl/chronos/model/tf1/__init__.py
  python/chronos/src/bigdl/chronos/model/tf2/Seq2Seq_keras.py
  python/chronos/src/bigdl/chronos/model/tf2/VanillaLSTM_keras.py
  python/chronos/src/bigdl/chronos/model/tf2/__init__.py
  python/chronos/test/bigdl/chronos/model/tf1/__init__.py
  python/chronos/test/bigdl/chronos/model/tf1/test_Seq2Seq_keras.py
  python/chronos/test/bigdl/chronos/model/tf1/test_VanillaLSTM_keras.py
  python/chronos/test/bigdl/chronos/model/tf2/__init__.py
  python/chronos/test/bigdl/chronos/model/tf2/test_Seq2Seq_keras.py
  python/chronos/test/bigdl/chronos/model/tf2/test_VanillaLSTM_keras.py
Labels: Chronos

#4256 Nano: Add openvino support
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/nano/src/bigdl/nano/pytorch/runtime_binding/openvino_inference.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/pytorch/openvino/test_openvino.py
  python/nano/test/pytorch/tests/test_quantize_inference.py
Labels: Nano

#4271 Chronos: Add mixed data type usage error message and ut
  python/chronos/src/bigdl/chronos/autots/autotsestimator.py
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/test/bigdl/chronos/autots/test_tspipeline.py
Labels: Chronos

#4291 Nano: Add 3 original examples for onnxruntime inference (pytorch/pytorch-lightning)
  python/nano/example/onnxruntime/pytorch-lightning/cifar_resnet18/readme.md
  python/nano/example/onnxruntime/pytorch-lightning/cifar_resnet18/resnet18_cifar_ort.py
  python/nano/example/onnxruntime/pytorch/mnist/mnist_ort.py
  python/nano/example/onnxruntime/pytorch/mnist/readme.md
  python/nano/example/quantization/neural-compressor/onnxruntime/mnist/mnist_ort_quantization.py
  python/nano/example/quantization/neural-compressor/onnxruntime/mnist/readme.md
Labels: example, Nano
