Repository intel-analytics/ipex-llm, pull requests merged in 2022-02, with the labels that each got.

#4021 Chronos: add tearDownClass for xshards test
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcmf_forecaster.py
Labels: Chronos, bug

#4001 Fix test_autogener_best_cycle_length issue
  python/chronos/test/bigdl/chronos/autots/test_autotsestimator.py
Labels: Chronos

#3904 Chronos: Added sklearnex support in `DBSCAN`
  python/chronos/src/bigdl/chronos/detector/anomaly/dbscan_detector.py
  python/chronos/src/bigdl/chronos/detector/anomaly/util.py
Labels: Chronos

#4040 Chronos: Fix "No active RayContext"
  python/chronos/example/auto_model/autoprophet_nyc_taxi.py
Labels: Chronos, bug

#4013 Chronos: Support `validation_data=None` in `ProphetForecaster`
  python/chronos/src/bigdl/chronos/forecaster/prophet_forecaster.py
  python/chronos/src/bigdl/chronos/model/prophet.py
  python/chronos/test/bigdl/chronos/forecaster/test_prophet_forecaster.py
Labels: Chronos

#3964 modify the example of cifar10, fashion_mnist, and super_resolution
  python/orca/dev/example/run-example-test-ray.sh
  python/orca/example/learn/pytorch/cifar10/README.md
  python/orca/example/learn/pytorch/cifar10/cifar10.py
  python/orca/example/learn/pytorch/fashion_mnist/README.md
  python/orca/example/learn/pytorch/fashion_mnist/fashion_mnist.py
  python/orca/example/learn/pytorch/super_resolution/README.md
  python/orca/example/learn/pytorch/super_resolution/super_resolution.py
Labels: orca

#4048 Chronos: add updated information about models and Nano to document
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
  docs/readthedocs/source/doc/Chronos/Overview/forecasting.md
  docs/readthedocs/source/doc/Chronos/Overview/useful_functionalities.md
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: document, Chronos

#4063 Chronos: Add customized metrics' support to AutoTSEstimator & AutoModels' `fit` interface
  python/chronos/src/bigdl/chronos/autots/autotsestimator.py
  python/chronos/src/bigdl/chronos/autots/model/auto_lstm.py
  python/chronos/src/bigdl/chronos/autots/model/auto_seq2seq.py
  python/chronos/src/bigdl/chronos/autots/model/auto_tcn.py
  python/chronos/src/bigdl/chronos/autots/model/base_automodel.py
  python/chronos/test/bigdl/chronos/autots/test_autotsestimator.py
Labels: Chronos

#4089 Chronos: full support for automodel and tsppl's customized metrics
  python/chronos/src/bigdl/chronos/autots/model/auto_arima.py
  python/chronos/src/bigdl/chronos/autots/model/auto_prophet.py
  python/chronos/src/bigdl/chronos/autots/model/base_automodel.py
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
  python/chronos/src/bigdl/chronos/model/arima.py
  python/chronos/src/bigdl/chronos/model/prophet.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_arima.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_prophet.py
  python/chronos/test/bigdl/chronos/autots/test_tspipeline.py
Labels: Chronos

#4122 Chronos: Remove deprecated API in `MTNet` ut
  python/chronos/test/bigdl/chronos/forecaster/test_mtnet_forecaster.py
  python/chronos/test/bigdl/chronos/model/test_mtnet.py
Labels: Chronos, bug
