Repository intel-analytics/ipex-llm, pull requests merged in 2022-10, with the labels that each got.

#5790 add zsh support for `bigdl-nano-init` script
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#6019 fix the issues of transforms
  python/nano/src/bigdl/nano/pytorch/vision/transforms/transforms.py
Labels: Nano

#6016 Orca: Add requirements
  python/orca/src/setup.py
  python/requirements/orca/requirement_automl.txt
  python/requirements/orca/requirement_base.txt
  python/requirements/orca/requirement_extra.txt
  python/requirements/orca/requirement_ray.txt
Labels: orca

#5974 Chronos: fix some errors in TSDataset API document
  python/chronos/src/bigdl/chronos/data/tsdataset.py
Labels: Chronos

#6057 Nano: update examples in `nano/tutorial/training/pytorch` to `from bigdl.nano.pytorch import TorchNano`
  python/nano/tutorial/training/pytorch/pytorch_cv_data_pipeline.py
  python/nano/tutorial/training/pytorch/pytorch_train_bf16.py
  python/nano/tutorial/training/pytorch/pytorch_train_ipex.py
  python/nano/tutorial/training/pytorch/pytorch_train_multi_instance.py
Labels: Nano

#6048 Chronos: add new plot evaluation func in evalutor
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
  python/chronos/test/bigdl/chronos/metric/test_forecast_metrics.py
Labels: Chronos

#6012 Chronos : Detect low-quality data and provide suggestions
  python/chronos/src/bigdl/chronos/data/utils/quality_inspection.py
  python/chronos/test/bigdl/chronos/data/utils/test_quality_inspection.py
Labels: Chronos

#5983 Chronos: add `gen_synthetic_data` to provide users with offline dataset
  python/chronos/src/bigdl/chronos/data/__init__.py
  python/chronos/src/bigdl/chronos/data/repo_dataset.py
  python/chronos/test/bigdl/chronos/data/test_repo_dataset.py
Labels: Chronos

#6066 Chronos: update installation guide to reflect our work on better tensorflow support
  docs/readthedocs/source/_static/js/chronos_installation_guide.js
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
Labels: document, Chronos

#6052 Nano: add onnx support for tensorflow
  .github/workflows/nano_unit_tests_tensorflow.yml
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/__init__.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/src/bigdl/nano/tf/keras/inference_utils.py
  python/nano/src/bigdl/nano/utils/inference/tf/model.py
  python/nano/test/onnx/tf/test_onnx.py
  python/nano/test/run-nano-tf-onnx-tests.sh
Labels: Nano

#6050 Chronos: fix ImportError with pytest.mark.tf2
  python/chronos/test/bigdl/chronos/forecaster/tf/__init__.py
Labels: Chronos

#6088 Chronos: add new tsinghua_electricity dataset
  python/chronos/src/bigdl/chronos/data/repo_dataset.py
  python/chronos/src/bigdl/chronos/data/utils/public_dataset.py
  python/chronos/test/bigdl/chronos/data/test_repo_dataset.py
Labels: Chronos

#6073 Nano: Add tensorflow ONNX example
  .github/workflows/nano_notebooks_tests.yml
  python/nano/tutorial/inference/tensorflow/run_nano_tf_inference_tests_onnx.sh
  python/nano/tutorial/inference/tensorflow/tensorflow_inference_onnx.py
Labels: example, Nano

#6071 Chronos: automatic repair low quality data after detection
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/public_dataset.py
  python/chronos/src/bigdl/chronos/data/utils/quality_inspection.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
  python/chronos/test/bigdl/chronos/data/utils/test_public_dataset.py
  python/chronos/test/bigdl/chronos/data/utils/test_quality_inspection.py
  python/chronos/test/bigdl/chronos/data/utils/test_roll_dataset.py
Labels: Chronos

#5635 Add nano torch support for channels last
  python/nano/src/bigdl/nano/pytorch/torch_nano.py
  python/nano/test/pytorch/tests/test_channels_last.py
Labels: Nano

#6064 [Chronos] Add install options in chronos-nightly docker image
  docker/chronos-nightly/Dockerfile
  docker/chronos-nightly/README.md
  docker/chronos-nightly/install-python-env.sh
  docs/readthedocs/source/doc/Chronos/Howto/docker_guide_single_node.md
Labels: Chronos

#6114 Nano : update InferenceOptimizer API Doc
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6075 Chronos: change import path of `get_public_dataset`
  docs/readthedocs/source/doc/Chronos/Overview/data_processing_feature_engineering.md
  docs/readthedocs/source/doc/Chronos/Overview/quick-tour.rst
  python/chronos/colab-notebook/howto/how-to-create-forecaster.ipynb
  python/chronos/colab-notebook/howto/how_to_evaluate_a_forecaster.ipynb
  python/chronos/colab-notebook/howto/how_to_generate_confidence_interval_for_prediction.ipynb
  python/chronos/colab-notebook/howto/how_to_speedup_inference_of_forecaster_through_ONNXRuntime.ipynb
  python/chronos/colab-notebook/howto/how_to_speedup_inference_of_forecaster_through_OpenVINO.ipynb
  python/chronos/colab-notebook/howto/how_to_train_forecaster_on_one_node.ipynb
  python/chronos/colab-notebook/howto/how_to_tune_forecaster_model.ipynb
  python/chronos/example/auto_model/autolstm_nyc_taxi.py
  python/chronos/example/distributed/distributed_training_network_traffic.py
  python/chronos/example/hpo/muti_objective_hpo_with_builtin_latency_tutorial.ipynb
  python/chronos/example/inference-acceleration/cpu_inference_acceleration.py
  python/chronos/example/loss/penalize_underestimation.ipynb
  python/chronos/example/onnx/onnx_autotsestimator_nyc_taxi.py
  python/chronos/example/onnx/onnx_forecaster_network_traffic.py
  python/chronos/example/quantization/quantization_tcnforecaster_nyc_taxi.py
  python/chronos/use-case/network_traffic/network_traffic_autots_customized_model.ipynb
Labels: Chronos

#6020 Chronos: add `from_prometheus` to initialize tsdataset(s) from Prometheus data
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/prometheus_df.py
Labels: Chronos

#5916 [Nano] Add openvino tutorial test scripts and add them into workflow
  .github/workflows/nano_notebooks_tests.yml
  python/nano/tutorial/inference/openvino/run_nano_openvino_inference_tests.sh
Labels: Nano

#6108 Nano: add specify cpu cores for each process in TorchNano
  python/nano/src/bigdl/nano/deps/ray/ray_distributed.py
  python/nano/src/bigdl/nano/pytorch/torch_nano.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/pytorch/tests/test_torch_nano.py
Labels: Nano

#6116 Nano: pytorch trace onnx & openvino support user customized dynamic_axes.
  python/nano/src/bigdl/nano/deps/openvino/pytorch/utils.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/model_utils.py
Labels: Nano

#6129 Chronos: fix forecaster.export_onnx/openvino_file bug
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#6157 Fix Nano bf16check on cpx
  python/nano/src/bigdl/nano/pytorch/amp/bfloat16.py
  python/nano/test/pytorch/tests/test_bf16.py
Labels: Nano

#5946 Nano: add a patch_torch/patch_tensorflow API for friendly usage
  docs/readthedocs/source/doc/PythonAPI/Nano/pytorch.rst
  docs/readthedocs/source/doc/PythonAPI/Nano/tensorflow.rst
  python/nano/src/bigdl/nano/__init__.py
  python/nano/src/bigdl/nano/pytorch/__init__.py
  python/nano/src/bigdl/nano/pytorch/dispatcher.py
  python/nano/src/bigdl/nano/tf/__init__.py
  python/nano/src/bigdl/nano/tf/dispatcher.py
  python/nano/src/bigdl/nano/tf/optimizers/sparse_adam.py
  python/nano/test/pytorch/tests/test_dispatcher.py
  python/nano/test/tf/keras/test_dispatcher.py
Labels: Nano

#6197 [Doc] Revise tooltips on decision tree and small fixes
  docs/readthedocs/source/doc/DLlib/Overview/visualization.md
  docs/readthedocs/source/index.rst
Labels: document

#6124 Chronos : fix check and repair of time interval
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/public_dataset.py
  python/chronos/src/bigdl/chronos/data/utils/quality_inspection.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#6166 Add includes and excludes options in InferenceOptimizer
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
Labels: Nano

#6140 Chronos: add serving forecaster example
  python/chronos/example/serving/data
  python/chronos/example/serving/generate_torchscript_pt.py
  python/chronos/example/serving/model_handler.py
  python/chronos/example/serving/readme.md
Labels: example, Chronos

#6215 [Doc] Remove manually-added bold styles for titles
  docs/readthedocs/source/doc/Chronos/Overview/anomaly_detection.md
  docs/readthedocs/source/doc/Chronos/Overview/chronos_known_issue.md
  docs/readthedocs/source/doc/Chronos/Overview/data_processing_feature_engineering.md
  docs/readthedocs/source/doc/Chronos/Overview/forecasting.md
  docs/readthedocs/source/doc/Chronos/Overview/install.md
  docs/readthedocs/source/doc/Chronos/Overview/simulation.md
  docs/readthedocs/source/doc/Chronos/Overview/speed_up.md
  docs/readthedocs/source/doc/Chronos/Overview/useful_functionalities.md
  docs/readthedocs/source/doc/Chronos/QuickStart/chronos-autotsest-quickstart.md
  docs/readthedocs/source/doc/Chronos/QuickStart/index.md
  docs/readthedocs/source/doc/DLlib/Overview/dllib.md
  docs/readthedocs/source/doc/DLlib/Overview/visualization.md
  docs/readthedocs/source/doc/Nano/Overview/known_issues.md
  docs/readthedocs/source/doc/Nano/Overview/nano.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_onnxruntime.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_openvino.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_quantization_inc.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_quantization_inc_onnx.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_quantization_openvino.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_train_quickstart.md
  docs/readthedocs/source/doc/Nano/QuickStart/tensorflow_embedding.md
  docs/readthedocs/source/doc/Nano/QuickStart/tensorflow_quantization_quickstart.md
  docs/readthedocs/source/doc/Nano/QuickStart/tensorflow_train_quickstart.md
  docs/readthedocs/source/doc/Orca/Overview/data-parallel-processing.md
  docs/readthedocs/source/doc/Orca/Overview/distributed-training-inference.md
  docs/readthedocs/source/doc/Orca/Overview/distributed-tuning.md
  docs/readthedocs/source/doc/Orca/Overview/known_issues.md
  docs/readthedocs/source/doc/Orca/Overview/orca-context.md
  docs/readthedocs/source/doc/Orca/Overview/orca.md
  docs/readthedocs/source/doc/Orca/Overview/ray.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-autoestimator-pytorch-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-autoxgboost-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-keras-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-pytorch-distributed-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-pytorch-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-tf-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/orca-tf2keras-quickstart.md
  docs/readthedocs/source/doc/Orca/QuickStart/ray-quickstart.md
  docs/readthedocs/source/doc/UseCase/spark-dataframe.md
  docs/readthedocs/source/doc/UseCase/xshards-pandas.md
  docs/readthedocs/source/doc/UserGuide/colab.md
  docs/readthedocs/source/doc/UserGuide/databricks.md
  docs/readthedocs/source/doc/UserGuide/develop.md
  docs/readthedocs/source/doc/UserGuide/docker.md
  docs/readthedocs/source/doc/UserGuide/hadoop.md
  docs/readthedocs/source/doc/UserGuide/k8s.md
  docs/readthedocs/source/doc/UserGuide/python.md
  docs/readthedocs/source/doc/UserGuide/scala.md
  docs/readthedocs/source/doc/UserGuide/win.md
  docs/readthedocs/source/doc/error-log-api.md
Labels: document

#5820 Orca: Add merge() function to SparkXShards and an NCF pytorch example with new features
  python/orca/src/bigdl/orca/data/shard.py
  python/orca/test/bigdl/orca/data/test_spark_backend.py
Labels: orca, tutorial

#6033 Orca: add tensorboard support for tf2 ray estimator.
  python/orca/src/bigdl/orca/learn/tf2/tf_runner.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_ray_estimator.py
Labels: orca

#6163 Chronos: enhance `from_prometheus()` from a single query statement to a query list
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/prometheus_df.py
Labels: Chronos

#6136 [Nano] : Add howto guides for `InferenceOptimizer.optimize`
  .github/workflows/nano_howto_guides_tests.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/inference_optimizer_optimize.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/pytorch/inference_optimizer_optimize.ipynb
  python/nano/tutorial/notebook/inference/pytorch/run-nano-howto-guides-inference-pytorch-tests.sh
Labels: example, Nano

#6091 [Chronos] Solve the problem of slow initialization for tf2 seq2seq forecaster
  python/chronos/src/bigdl/chronos/autots/model/auto_seq2seq.py
  python/chronos/src/bigdl/chronos/model/tf2/Seq2Seq_keras.py
Labels: Chronos

#6178 [Chronos]: Support building dist on Windows
  python/chronos/src/bigdl/chronos/forecaster/__init__.py
  python/chronos/src/bigdl/chronos/pytorch/__init__.py
  python/chronos/src/setup.py
  python/chronos/test/bigdl/chronos/model/tf2/test_mtnet_keras.py
  python/nano/setup.py
Labels: Chronos, Nano

#6219 Chronos: update openvino-dev version in Chronos prvn action
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
Labels: Chronos

#5659 Chronos: Add orca distributed function to TF2Forecaster
  python/chronos/src/bigdl/chronos/forecaster/tf/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/tcn_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/utils.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_lstm_keras_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_seq2seq_keras_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_tcn_keras_forecaster.py
Labels: Chronos

#6220 [Doc] Fix overflow problems caused by long words
  docs/readthedocs/source/_static/css/custom.css
Labels: document

#6225 [Doc] Add collapsing functionality to the quicklink titles in landing page
  docs/readthedocs/source/_static/css/custom.css
  docs/readthedocs/source/_templates/sidebar_quicklinks.html
  docs/readthedocs/source/doc/UserGuide/win.md
Labels: document

#6203 Nano : update installation guide to nightly-build version
  docs/readthedocs/source/doc/Nano/Overview/install.md
  python/nano/example/pytorch/inference_optimizer/export_model/README.md
  python/nano/example/pytorch/inference_optimizer/resnet/README.md
  python/nano/example/pytorch/inference_optimizer/vision_transformers/vision_transformer.ipynb
  python/nano/example/pytorch/pl-finetune/README.md
  python/nano/example/pytorch/semantic_segmentation/README.md
  python/nano/example/quantization/neural-compressor/pytorch-lightning/cifar_resnet18/README.md
  python/nano/example/tensorflow/segmentation/Readme.md
  python/nano/example/tensorflow/transfer_learning/Readme.md
Labels: Nano

#6261 Update doc of Chronos and Nano
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Overview/data_processing_feature_engineering.md
Labels: document

#6200 Nano: support specify method_name in get_model of InferenceOptimizer
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
Labels: Nano

#6245 [Doc] Update README.md in `docs/readthedocs` folder
  docs/readthedocs/README.md
  docs/readthedocs/requirements-rtd.txt
Labels: document

#5695 [WIP]Orca: Add ncf_orca.py with spark dataframe
  python/orca/tutorial/tensorflow/ncf_orca.py
Labels: orca, tutorial

#6270 Chronos: fix s2s forecaster distributed error
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
  python/chronos/dev/test/run-pytests.sh
  python/chronos/src/bigdl/chronos/forecaster/tf/seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/__init__.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_prophet.py
  python/chronos/test/bigdl/chronos/forecaster/test_prophet_forecaster.py
  python/chronos/test/bigdl/chronos/model/test_prophet.py
Labels: Chronos

#6090 Chronos: base_forecaster: add_predict_with_jit
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#6280 [Doc] make sidebars sticky
  docs/readthedocs/source/_static/css/custom.css
Labels: document

#6202 Nano: add gpu-to-cpu feature and uts
  python/nano/src/bigdl/nano/pytorch/dispatcher.py
  python/nano/src/bigdl/nano/pytorch/gpu_cpu/__init__.py
  python/nano/src/bigdl/nano/pytorch/gpu_cpu/gpu_cpu.py
  python/nano/src/bigdl/nano/tf/dispatcher.py
  python/nano/test/mypy.ini
  python/nano/test/pytorch/tests/test_dispatcher.py
  python/nano/test/run-nano-codestyle-test.sh
Labels: Nano

#6234 Chronos: Add how-to guides for exporting ONNX/OpenVINO files to disk
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_export_onnx_files.nblink
  docs/readthedocs/source/doc/Chronos/Howto/how_to_export_openvino_files.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/colab-notebook/howto/how_to_export_onnx_files.ipynb
  python/chronos/colab-notebook/howto/how_to_export_openvino_files.ipynb
Labels: document, Chronos

#5977 Nano : support ONNX Simplifier in Nano's inference
  .github/workflows/chronos-prvn-python-spark-2.4-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
  .github/workflows/nano_howto_guides_tests.yml
  .github/workflows/nano_notebooks_tests.yml
  .github/workflows/nano_unit_tests_pytorch.yml
  python/nano/notebooks/pytorch/cifar10/requirements.txt
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/onnxsim/__init__.py
  python/nano/src/bigdl/nano/deps/onnxsim/onnxsim_api.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6217 Nano: fix the issue of `bigdl-nano-init`
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#6333 Chronos: fix tests for how-to guides
  .github/workflows/chronos-howto-guides-test.yml
  python/chronos/dev/test/run-pytests-howto-guides.sh
Labels: Chronos

#6336 Orca: add requirements files in release package.
  scala/assembly/src/main/assembly/assembly.xml
  scala/assembly/src/main/assembly/fat-assembly.xml
Labels: build, orca

#6251 [Orca] Support load model instead of `model_creator` in tf2 ray estimator
  python/orca/src/bigdl/orca/learn/tf2/estimator.py
  python/orca/src/bigdl/orca/learn/tf2/ray_estimator.py
  python/orca/src/bigdl/orca/learn/tf2/tf_runner.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_ray_estimator.py
Labels: orca

#6347 Nano : update the calculation logic of early stopping in InferenceOptimizer
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#6345 Nano : relatex check for jit by set check_trace =False
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
Labels: Nano

#6263 Chronos: support building windows distribution in nightly build
  python/chronos/dev/release/release.sh
  python/chronos/dev/release/release_default_windows.sh
  python/chronos/src/setup.py
  python/dev/release_default_windows.sh
Labels: build, Chronos

#6254 [Doc] Add contributor guide for writing new documentation
  docs/readthedocs/source/_static/css/custom.css
  docs/readthedocs/source/_templates/sidebar_quicklinks.html
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/UserGuide/contributor.rst
  docs/readthedocs/source/doc/UserGuide/documentation.md
Labels: document

#6322 Chronos: fix example installation links
  docker/chronos-nightly/README.md
  docs/readthedocs/source/doc/Chronos/Howto/docker_guide_single_node.md
  python/chronos/example/auto_model/README.md
  python/chronos/example/distributed/README.md
  python/chronos/example/onnx/README.md
  python/chronos/example/quantization/README.md
  python/chronos/example/tcmf/README.md
  python/chronos/use-case/AIOps/README.md
  python/chronos/use-case/electricity/README.md
  python/chronos/use-case/fsi/README.md
  python/chronos/use-case/network_traffic/README.md
  python/chronos/use-case/pytorch-forecasting/DeepAR/README.md
  python/chronos/use-case/pytorch-forecasting/TFT/README.md
Labels: Chronos
