Repository intel-analytics/ipex-llm, pull requests merged in 2022-09, with the labels that each got.

#5530 Chronos: Remove UTs for all `Deprecated` API and `tf1`
  python/chronos/dev/test/run-pytests-tf1.sh
  python/chronos/test/bigdl/chronos/autots/deprecated/__init__.py
  python/chronos/test/bigdl/chronos/autots/deprecated/config/__init__.py
  python/chronos/test/bigdl/chronos/autots/deprecated/config/test_recipe.py
  python/chronos/test/bigdl/chronos/autots/deprecated/conftest.py
  python/chronos/test/bigdl/chronos/autots/deprecated/feature/__init__.py
  python/chronos/test/bigdl/chronos/autots/deprecated/feature/test_time_sequence_feature.py
  python/chronos/test/bigdl/chronos/autots/deprecated/pipeline/__init__.py
  python/chronos/test/bigdl/chronos/autots/deprecated/pipeline/conftest.py
  python/chronos/test/bigdl/chronos/autots/deprecated/pipeline/test_time_sequence.py
  python/chronos/test/bigdl/chronos/autots/deprecated/preprocessing/__init__.py
  python/chronos/test/bigdl/chronos/autots/deprecated/preprocessing/test_fill.py
  python/chronos/test/bigdl/chronos/autots/deprecated/preprocessing/test_util.py
  python/chronos/test/bigdl/chronos/autots/deprecated/regression/__init__.py
  python/chronos/test/bigdl/chronos/autots/deprecated/regression/conftest.py
  python/chronos/test/bigdl/chronos/autots/deprecated/regression/test_time_sequence_predictor.py
  python/chronos/test/bigdl/chronos/autots/deprecated/test_auto_ts.py
  python/chronos/test/bigdl/chronos/model/tf1/__init__.py
  python/chronos/test/bigdl/chronos/model/tf1/test_Seq2Seq_keras.py
  python/chronos/test/bigdl/chronos/model/tf1/test_VanillaLSTM_keras.py
  python/chronos/test/bigdl/chronos/model/tf1/test_mtnet_keras.py
Labels: Chronos

#5541 [Orca] Refactor `model_dir` as an option in tf2 pyspark estimator
  python/orca/src/bigdl/orca/learn/tf2/estimator.py
  python/orca/src/bigdl/orca/learn/tf2/pyspark_estimator.py
  python/orca/src/bigdl/orca/learn/tf2/spark_runner.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_spark_estimator.py
Labels: orca

#5596 [Documentation] Add Extension nbsphinx-link
  docs/readthedocs/requirements-doc.txt
  docs/readthedocs/source/conf.py
  docs/readthedocs/source/doc/Nano/Tutorials/custom.ipynb
  docs/readthedocs/source/doc/Nano/Tutorials/custom.nblink
  docs/readthedocs/source/doc/Nano/Tutorials/seq_and_func.ipynb
  docs/readthedocs/source/doc/Nano/Tutorials/seq_and_func.nblink
  python/nano/notebooks/hpo/custom.ipynb
  python/nano/notebooks/hpo/seq_and_func.ipynb
Labels: Nano

#5618 Chronos: change get_latency to a static method
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
Labels: Chronos

#5402 Chronos : add regression functions for forecast metrics
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils_hpo.py
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
Labels: Chronos

#5588 Chronos: installation panel enhancement
  docs/readthedocs/source/_static/css/chronos_installation_guide.css
  docs/readthedocs/source/_static/js/chronos_installation_guide.js
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
Labels: Chronos

#5623 Doc: update hadoop document.
  docs/readthedocs/source/doc/UserGuide/hadoop.md
Labels: document

#5526 Nano: Add pytorch-lightning bf16 example
  python/nano/tutorial/training/pytorch-lightning/lightning_train_bf16.py
Labels: example, Nano

#5613 Chronos: numpy and python version in pr validation Github Action is fixed
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
Labels: Chronos

#5480 [Nano] Nano How-to Guides: Format & PyTorch Inference
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/conf.py
  docs/readthedocs/source/doc/Nano/Howto/accelerate_pytorch_inference_onnx.nblink
  docs/readthedocs/source/doc/Nano/Howto/accelerate_pytorch_inference_openvino.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  docs/readthedocs/source/doc/Nano/Howto/install_in_colab.md
  docs/readthedocs/source/doc/Nano/Howto/quantize_pytorch_inference_inc.nblink
  docs/readthedocs/source/doc/Nano/Howto/quantize_pytorch_inference_pot.nblink
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_openvino.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_inc.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_pot.ipynb
Labels: Nano

#5630 Chronos: Sync `SparkXShards` changes(TCMFForecaster).
  python/chronos/src/bigdl/chronos/model/tcmf_model.py
Labels: Chronos

#5165 Chronos: Delete existing tags and replace with new Installation options
  python/chronos/dev/test/run-pytests-onnxrt16.sh
  python/chronos/dev/test/run-pytests.sh
  python/chronos/test/bigdl/chronos/__init__.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_lstm.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_seq2seq.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_tcn.py
  python/chronos/test/bigdl/chronos/autots/test_autotsestimator.py
  python/chronos/test/bigdl/chronos/autots/test_tspipeline.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#5605 Chronos: make roll=True the default value for to_torch_data_loader()
  docs/readthedocs/source/doc/Chronos/Howto/how_to_train_forecaster_on_one_node.ipynb
  docs/readthedocs/source/doc/Chronos/Overview/data_processing_feature_engineering.md
  python/chronos/example/hpo/muti_objective_hpo_with_builtin_latency_tutorial.ipynb
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
  python/chronos/use-case/electricity/autoformer.py
  python/chronos/use-case/electricity/tcn.py
Labels: Chronos

#5622 Chronos: modify examples of forecaster.evaluate() and Evaluator.evaluate()
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
Labels: Chronos

#5660 Chronos: syntax error in Evaluator API documentation is fixed
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
Labels: Chronos

#5172 Chronos: How-to-Guides(`from_tsdataset`)
  docs/readthedocs/source/doc/Chronos/Howto/how-to-create-forecaster.ipynb
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
Labels: document, Chronos

#5580 Nano : ResNet Demo for InferenceOptmizer
  python/nano/example/pytorch/inference_pipeline/resnet/README.md
  python/nano/example/pytorch/inference_pipeline/resnet/_finetune.py
  python/nano/example/pytorch/inference_pipeline/resnet/inference_pipeline.py
Labels: example, Nano

#5611 Nano : fix and enhancement of InferenceOptimizer
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
Labels: Nano

#5612 Update Nano PyTorch Lightning tutorial test script
  python/nano/tutorial/training/pytorch-lightning/run_nano_pytorch_lightning_test.sh
Labels: test, Nano

#5665 Nano : remove redundant code in resnet18 example
  python/nano/example/pytorch/inference_pipeline/resnet/README.md
  python/nano/example/pytorch/inference_pipeline/resnet/inference_pipeline.py
Labels: example, Nano

#5556 Chronos: how to speedup inference on one node
  docs/readthedocs/source/doc/Chronos/Howto/how_to_speedup_inference_of_forecaster_through_ONNXRuntime.ipynb
  docs/readthedocs/source/doc/Chronos/Howto/how_to_speedup_inference_of_forecaster_through_OpenVINO.ipynb
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
Labels: Chronos

#5570 Add nano pytorch example
  python/nano/tutorial/training/pytorch/.keep
  python/nano/tutorial/training/pytorch/pytorch_cv_data_pipeline.py
  python/nano/tutorial/training/pytorch/pytorch_train_ipex.py
  python/nano/tutorial/training/pytorch/pytorch_train_multi_instance.py
Labels: example, Nano

#5540 [Nano] add __call__ method for OpenVINOModel
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/test/openvino/basic/test_openvino.py
Labels: Nano

#5447 scala lightGBM classifier and regressor[WIP]
  scala/dllib/pom.xml
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/nnframes/NNClassifier.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/nnframes/TreeModel.scala
  scala/dllib/src/test/scala/com/intel/analytics/bigdl/dllib/nnframes/LightGBMTrainSpec.scala
  scala/dllib/src/test/scala/com/intel/analytics/bigdl/dllib/nnframes/XgboostTrainSpec.scala
  scala/dllib/src/test/scala/com/intel/analytics/bigdl/dllib/optim/parameters/FP16ParameterSpec.scala
Labels: DLlib

#5689 Chronos: fix spark 3.1 bug in xshards unscale
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
Labels: Chronos

#5702 Orca: update redis port random range.
  python/orca/src/bigdl/orca/ray/ray_on_spark_context.py
Labels: orca

#5668 [Nano] Add Github Action Tests for How-To Guides: Inference PyTorch
  .github/workflows/nano_howto_guides_tests.yml
  python/nano/tutorial/notebook/inference/pytorch/run-nano-howto-guides-inference-pytorch-tests.sh
Labels: test, Nano

#5594 Chronos: train tcn model on gpu and speed up inference on cpu
  docs/readthedocs/source/_static/js/chronos_tutorial.js
  docs/readthedocs/source/doc/Chronos/QuickStart/index.md
  python/chronos/example/inference-acceleration/cpu_inference_acceleration.py
  python/chronos/example/inference-acceleration/readme.md
Labels: Chronos

#5681 Chronos: PR validation-spark3.1-ray job to Github Action
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
Labels: test, Chronos

#5667 Nano : migrate trace and quantize from Trainer to InferenceOptimizer
  python/nano/example/pytorch/semantic_segmentation/semantic_segmentation.py
  python/nano/src/bigdl/nano/pytorch/__init__.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
Labels: Nano

#5704 Chronos: install openvino-dev in Github action
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
Labels: test, Chronos

#5502 Chronos: Fix `LazyImport` known issue
  python/chronos/src/bigdl/chronos/utils.py
Labels: Chronos

#5463 Add nano tensorflow examples
  .github/workflows/nano_notebooks_tests.yml
  python/nano/tutorial/training/tensorflow/run-nano-tensorflow-test.sh
  python/nano/tutorial/training/tensorflow/tensorflow_sparse_embedding.py
  python/nano/tutorial/training/tensorflow/tensorflow_train_multi_instance.py
Labels: example, Nano

#5551 Chronos: Add support for `id_sensitive`=True to Forecaster.from_tsdataset
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
Labels: Chronos

#5657 Chronos: how to guide page cleaning
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/docker_guide_single_node.md
  docs/readthedocs/source/doc/Chronos/Howto/how_to_create_forecaster.nblink
  docs/readthedocs/source/doc/Chronos/Howto/how_to_speedup_inference_of_forecaster_through_ONNXRuntime.nblink
  docs/readthedocs/source/doc/Chronos/Howto/how_to_speedup_inference_of_forecaster_through_OpenVINO.nblink
  docs/readthedocs/source/doc/Chronos/Howto/how_to_train_forecaster_on_one_node.nblink
  docs/readthedocs/source/doc/Chronos/Howto/how_to_tune_forecaster_model.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  docs/readthedocs/source/doc/Chronos/Howto/windows_guide.md
  docs/readthedocs/source/doc/Chronos/Image/anomaly_detection.svg
  docs/readthedocs/source/doc/Chronos/Image/forecasting.svg
  docs/readthedocs/source/doc/Chronos/Image/simulation.svg
  docs/readthedocs/source/doc/Chronos/Overview/chronos.md
  docs/readthedocs/source/doc/Chronos/QuickStart/index.md
  python/chronos/colab-notebook/howto/how-to-create-forecaster.ipynb
  python/chronos/colab-notebook/howto/how_to_speedup_inference_of_forecaster_through_ONNXRuntime.ipynb
  python/chronos/colab-notebook/howto/how_to_speedup_inference_of_forecaster_through_OpenVINO.ipynb
  python/chronos/colab-notebook/howto/how_to_train_forecaster_on_one_node.ipynb
  python/chronos/colab-notebook/howto/how_to_tune_forecaster_model.ipynb
Labels: Chronos

#5719 Chronos: install openvino in Chronos-PRVN-Spark3.1-ray check
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
Labels: test, Chronos

#5725 Chronos: PR validation-spark3.1-onnxrt job to Github Action
  .github/workflows/chronos-prvn-python-spark-3.1-py37-onnxrt.yml
Labels: test, Chronos

#5677 Chronos: test onnxrt==1.11.1 in PR validation-spark2.4-onnxrt job
  .github/workflows/chronos-prvn-python-spark-2.4-py37-onnxrt.yml
Labels: test, Chronos

#5690 Chronos: 'forecaster.predict_with_openvino' supports quantization API
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#5737 update pom.xml in module "assembly"
  scala/assembly/pom.xml
Labels: high priority

#5705 Nano : Enhancement for output format of InferenceOptimizer
  python/nano/example/pytorch/inference_pipeline/resnet/inference_pipeline.py
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
Labels: Nano

#5757 [Document] Fix code format missing problem when rendering executed notebooks
  docs/readthedocs/requirements-doc.txt
Labels: document, bug

#5740 Nano : reduce time cost for InferenceOptimizer and update demo
  python/nano/example/pytorch/inference_pipeline/resnet/README.md
  python/nano/example/pytorch/inference_pipeline/resnet/inference_pipeline.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/model_utils.py
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
Labels: Nano

#5744 Chronos: add conda env to Chronos PRVN Actions
  .github/workflows/chronos-prvn-python-spark-2.4-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
Labels: test, Chronos

#5764 Fix the conflict of `KMP_AFFINITY` and onnxruntime
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#5643 [Nano] How-To Guides: Training - PyTorch Lightning
  .github/workflows/nano_howto_guides_tests.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/accelerate_pytorch_inference_onnx.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/accelerate_pytorch_inference_openvino.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/quantize_pytorch_inference_inc.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/quantize_pytorch_inference_pot.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorchLightning/accelerate_pytorch_lightning_training_ipex.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorchLightning/accelerate_pytorch_lightning_training_multi_instance.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorchLightning/pytorch_lightning_cv_data_pipeline.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorchLightning/pytorch_lightning_training_bf16.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorchLightning/pytorch_lightning_training_channels_last.nblink
  docs/readthedocs/source/doc/Nano/Howto/accelerate_pytorch_inference_onnx.nblink
  docs/readthedocs/source/doc/Nano/Howto/accelerate_pytorch_inference_openvino.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  docs/readthedocs/source/doc/Nano/Howto/quantize_pytorch_inference_inc.nblink
  docs/readthedocs/source/doc/Nano/Howto/quantize_pytorch_inference_pot.nblink
  python/nano/tutorial/notebook/training/pytorch-lightning/accelerate_pytorch_lightning_training_ipex.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/accelerate_pytorch_lightning_training_multi_instance.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/pytorch_lightning_cv_data_pipeline.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/pytorch_lightning_training_bf16.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/pytorch_lightning_training_channels_last.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/run-nano-howto-guides-training-pytorch-lightning-tests.sh
Labels: Nano

#5755 Chronos: fix `quantize` and `to_torch_data_loader` API doc
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: document, Chronos

#5776 Chronos: fix install cmd in Chronos User Guide document
  docs/readthedocs/source/_static/js/chronos_installation_guide.js
Labels: document, Chronos

#5778 [Nano] Update Trainer -> InferenceOptimizer for Related How-to Guides
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_openvino.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_inc.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_pot.ipynb
Labels: Nano

#5768 Nano : add API for InferenceOptimizer and deprecated some Trainer APIs
  docs/readthedocs/source/doc/PythonAPI/Nano/pytorch.rst
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/src/bigdl/nano/utils/__init__.py
  python/nano/src/bigdl/nano/utils/util.py
Labels: Nano

#5781 [Nano] Update Trainer -> InferenceOptimizer for Related Examples
  python/nano/tutorial/inference/pytorch/pytorch_inference_onnx.py
  python/nano/tutorial/inference/pytorch/pytorch_inference_openvino.py
  python/nano/tutorial/inference/pytorch/pytorch_quantization.py
  python/nano/tutorial/inference/pytorch/pytorch_quantization_onnx.py
  python/nano/tutorial/inference/pytorch/pytorch_quantization_openvino.py
Labels: Nano

#5752 Doc: add ray port FAQ to ray overview document.
  docs/readthedocs/source/doc/Ray/Overview/ray.md
Labels: document, ray

#5615 Add Nano openvino async api
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/test/mypy.ini
  python/nano/test/openvino/basic/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino.py
Labels: Nano

#5600 Add nano pytorch training bf16 example
  python/nano/tutorial/training/pytorch/pytorch_train_bf16.py
Labels: example, Nano

#5619 Nano: Add tensorflow quantization example.
  python/nano/tutorial/inference/tensorflow/cifar10.py
Labels: example, Nano

#5710 Chronos: how to evaluate using forecaster
  docs/readthedocs/source/doc/Chronos/Howto/how_to_evaluate_a_forecaster.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/colab-notebook/howto/how_to_evaluate_a_forecaster.ipynb
Labels: example, Chronos

#5673 Chronos: fix input feature num != output feature num case for autoformer
  python/chronos/src/bigdl/chronos/model/autoformer/Autoformer.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
Labels: Chronos

#5808 Chronos : Fix a bug of readthedocs about get_public_dataset
  docs/readthedocs/source/doc/Chronos/Overview/data_processing_feature_engineering.md
Labels: Chronos

#5800 Chronos: fix `ZooTestCase` in tensorflow unit tests
  python/chronos/test/bigdl/chronos/model/tf2/test_Seq2Seq_keras.py
  python/chronos/test/bigdl/chronos/model/tf2/test_tcn_keras.py
Labels: Chronos

#5815 Chronos: decouple mtnet forecaster with orca
  python/chronos/src/bigdl/chronos/model/tf2/MTNet_keras.py
Labels: Chronos

#5682 Chronos : support confidence interval for forecaster
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#5809 Chronos/Nano: update nano and chronos action trigger domain
  .github/workflows/chronos-prvn-python-spark-2.4-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
  .github/workflows/nano_notebooks_tests.yml
  .github/workflows/nano_unit_tests_basic.yml
  .github/workflows/nano_unit_tests_pytorch.yml
  .github/workflows/nano_unit_tests_tensorflow.yml
Labels: test, Chronos, Nano

#5741 Chronos: More autoformer bug fix and enhancement
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/roll_dataset.py
  python/chronos/src/bigdl/chronos/data/utils/time_feature.py
  python/chronos/src/bigdl/chronos/forecaster/__init__.py
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
Labels: Chronos

#5798 Nano : support save and load for InferenceOptimizer
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/src/bigdl/nano/pytorch/utils.py
Labels: Nano

#5802 [Document] Reword "Edit on Github" Button
  docs/readthedocs/source/_templates/breadcrumbs.html
Labels: document

#5516 Chronos: support tsdataset for validation_data in forecasters' fit
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#5599 Nano : vision transformers demo for InferenceOptimizer
  python/nano/example/pytorch/inference_pipeline/vision_transformers/vision_transformer.ipynb
Labels: example, Nano

#5884 Chronos: Run action when only test files are modified.
  .github/workflows/chronos-prvn-python-spark-2.4-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37-ray.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-onnxrt.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37-ray.yml
Labels: test, Chronos

#5892 Chronos: support thread ctrl in openvino's prediction
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#5832 Add fundamental example scripts for sync and async inference of OpenVINO model
  python/nano/tutorial/inference/openvino/openvino_inference_async.py
  python/nano/tutorial/inference/openvino/openvino_inference_sync.py
Labels: example, Nano

#5519 Chronos: Modify tf2 model UTs
  python/chronos/test/bigdl/chronos/model/tf2/test_Seq2Seq_keras.py
  python/chronos/test/bigdl/chronos/model/tf2/test_VanillaLSTM_keras.py
  python/chronos/test/bigdl/chronos/model/tf2/test_tcn_keras.py
Labels: Chronos

#5904 Orca: fix port variable name.
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_pyspark_estimator.py
Labels: bug, orca

#5897 Nano : Update two demos of InferenceOptimizer
  python/nano/example/pytorch/inference_pipeline/resnet/README.md
  python/nano/example/pytorch/inference_pipeline/vision_transformers/vision_transformer.ipynb
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#5915 Chronos: remove parameters largest_look_back and largest_horizon from TSDataset and XShardsTSDataset
  python/chronos/src/bigdl/chronos/data/experimental/xshards_tsdataset.py
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#5901 Chronos: add description about thread_num control for openvino in how-to guide
  python/chronos/colab-notebook/howto/how_to_speedup_inference_of_forecaster_through_OpenVINO.ipynb
Labels: Chronos

#5929 Nano : add sample size for quantize
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#5763 Orca: Align the data analysis method of dataloader and dataframe
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_pyspark_estimator.py
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_ray_estimator.py
  python/orca/src/bigdl/orca/learn/pytorch/training_operator.py
  python/orca/src/bigdl/orca/learn/pytorch/utils.py
  python/orca/src/bigdl/orca/learn/utils.py
  python/orca/test/bigdl/orca/learn/ray/pytorch/test_estimator_pyspark_backend.py
  python/orca/test/bigdl/orca/learn/ray/pytorch/test_estimator_ray_runtime.py
Labels: orca

#5846 Chronos : provide tsdataset and loader support for partial method of Forecaster
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#5754 fix the issue of setting LD_PRELOAD in `bigdl-nano-init` script
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#5899 Nano : Update pytorch inference QuickStart with InferenceOptimizer
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_inference.md
Labels: Nano

#5905 Orca: add compile_args_creator in distributed training
  python/orca/src/bigdl/orca/learn/tf2/spark_runner.py
  python/orca/src/bigdl/orca/learn/tf2/tf_runner.py
Labels: orca

#5840 Chronos: Change TCNForecaster's default parameter num_channels to [16]*3
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/tcn_forecaster.py
Labels: Chronos

#5889 [Nano] Add save/load fundamental examples for optimized Pytorch model
  python/nano/tutorial/inference/pytorch/pytorch_save_and_load_onnx.py
  python/nano/tutorial/inference/pytorch/pytorch_save_and_load_openvino.py
  python/nano/tutorial/inference/pytorch/run_nano_pytorch_inference_tests_onnx.sh
  python/nano/tutorial/inference/pytorch/run_nano_pytorch_inference_tests_openvino.sh
Labels: example, Nano

#5836 [Nano] How-To Guides: Training - TensorFlow
  .github/workflows/nano_howto_guides_tests.yml
  docs/readthedocs/source/doc/Nano/Howto/Training/General/choose_num_processes_training.md
  docs/readthedocs/source/doc/Nano/Howto/Training/TensorFlow/accelerate_tensorflow_training_multi_instance.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/TensorFlow/tensorflow_training_embedding_sparseadam.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/training/pytorch-lightning/accelerate_pytorch_lightning_training_multi_instance.ipynb
  python/nano/tutorial/notebook/training/tensorflow/accelerate_tensorflow_training_multi_instance.ipynb
  python/nano/tutorial/notebook/training/tensorflow/run-nano-howto-guides-training-tensorflow-tests.sh
  python/nano/tutorial/notebook/training/tensorflow/tensorflow_training_embedding_sparseadam.ipynb
Labels: Nano

#5960 [Orca] Add bigdl-submit mode support
  docs/readthedocs/source/doc/UserGuide/hadoop.md
  python/dllib/src/setup.py
  python/orca/src/bigdl/orca/common.py
  scripts/bigdl-submit
Labels: orca

#5616 fix cmd injection
  python/nano/src/bigdl/nano/deps/openvino/core/utils.py
Labels: Nano

#5837 Chronos: Remove unnecessary dependencies(`tqdm`) of `get_public_dataset`
  python/chronos/src/bigdl/chronos/data/repo_dataset.py
  python/chronos/src/bigdl/chronos/data/utils/public_dataset.py
Labels: Chronos

#5985 [Orca] Add pytorch pyspark backend on yarn tutorial
  python/orca/tutorial/pytorch/pytorch_yarn_tutorial.md
Labels: orca, tutorial

#5903 Add attribute sys.stdout.fileno when it is missed on Databricks
  python/orca/src/bigdl/orca/ray/raycontext.py
Labels: orca

#5938 Nano : InferenceOptimizer example about how to export the optimized model to standard format.
  python/nano/example/pytorch/inference_optimizer/export_model/README.md
  python/nano/example/pytorch/inference_optimizer/export_model/export_model.py
  python/nano/example/pytorch/inference_optimizer/resnet/README.md
  python/nano/example/pytorch/inference_optimizer/resnet/_finetune.py
  python/nano/example/pytorch/inference_optimizer/resnet/inference_pipeline.py
  python/nano/example/pytorch/inference_optimizer/vision_transformers/vision_transformer.ipynb
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#5817 Chronos : How to generate confidence interval for prediction
  docs/readthedocs/source/doc/Chronos/Howto/how_to_generate_confidence_interval_for_prediction.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/colab-notebook/howto/how_to_generate_confidence_interval_for_prediction.ipynb
Labels: Chronos

#5865 Chronos : Support val data in autoformer fit
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#5838 Chronos: fix issues in unit tests of tensorflow
  python/chronos/src/bigdl/chronos/autots/model/auto_tcn.py
  python/chronos/src/bigdl/chronos/autots/tspipeline.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_lstm.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_seq2seq.py
  python/chronos/test/bigdl/chronos/autots/model/test_auto_tcn.py
  python/chronos/test/bigdl/chronos/autots/test_autotsestimator.py
Labels: Chronos

#5675 Add nano py torch tutorial test script
  .github/workflows/nano_notebooks_tests.yml
  python/nano/tutorial/training/pytorch/run_nano_pytorch_test.sh
Labels: Nano

#5979 Orca: fix compile_args_creator bug.
  python/orca/src/bigdl/orca/learn/tf2/spark_runner.py
  python/orca/src/bigdl/orca/learn/tf2/tf_runner.py
Labels: orca

#6003 Nano: add jit/ipex fund examples
  .github/workflows/nano_notebooks_tests.yml
  python/nano/tutorial/inference/pytorch/pytorch_inference_jit_ipex.py
  python/nano/tutorial/inference/pytorch/pytorch_save_and_load_ipex.py
  python/nano/tutorial/inference/pytorch/pytorch_save_and_load_jit.py
  python/nano/tutorial/inference/pytorch/run_nano_pytorch_inference_tests_jit_ipex.sh
Labels: example, Nano

#5935 fix DBFS file path problem on Dataricks
  python/orca/src/bigdl/orca/data/file.py
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_pyspark_estimator.py
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_ray_estimator.py
  python/orca/test/bigdl/orca/data/test_file.py
Labels: orca

#5967 [Document] Add API docs for `bigdl.nano.tf.keras.layers.Embedding` and `bigdl.nano.tf.optimizers.SparseAdam`
  docs/readthedocs/source/doc/PythonAPI/Nano/tensorflow.rst
  python/nano/src/bigdl/nano/tf/keras/layers/embeddings.py
  python/nano/tutorial/notebook/training/tensorflow/tensorflow_training_embedding_sparseadam.ipynb
Labels: document, Nano

#6032 Chronos : fix bug in multi-process tuning and add ut
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#6025 Chronos : fix bug caused by lookback=1
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
Labels: Chronos

#6036 Chronos : fix API doc bug
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#6002 Nano : Enhancements for InferenceOptimizer to support YOLOX
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/__init__.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/metrics.py
  python/nano/test/pytorch/tests/test_inference_pipeline_ipex.py
Labels: Nano
