Repository intel-analytics/ipex-llm, pull requests merged in 2023-07, with the labels that each got.

#8426 Chronos: fix installation error of prophet
  docs/readthedocs/source/_static/js/chronos_installation_panel.js
  python/chronos/src/setup.py
Labels: Chronos

#8438 LLM: first fix example/transformers
  python/llm/example/transformers/README.md
  python/llm/example/transformers/native_int4_pipeline.py
  python/llm/example/transformers/transformers_int4_pipeline.py
Labels: llm

#8448 [LLM] Change default runner for LLM Linux tests to the ones with AVX512
  .github/actions/llm/llm-cli-flow-verification-linux/action.yml
  .github/workflows/llm-nightly-test.yml
  .github/workflows/llm_unit_tests_linux.yml
  python/llm/test/inference/test_call_models.py
  python/llm/test/langchain/test_langchain.py
  python/llm/test/run-llm-convert-tests.sh
Labels: llm

#8454 LLM: fix `n_batch` in bloom pybinding
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom.py
Labels: llm

#8444 LLM: add readme for transformer examples
  python/llm/example/transformers/native_int4_pipeline_readme.md
  python/llm/example/transformers/transformers_int4_pipeline.py
  python/llm/example/transformers/transformers_int4_pipeline_readme.md
Labels: llm

#8457 [LLM] Extract tests to `.github/actions` to improve reusability
  .github/actions/llm/cli-test/action.yml
  .github/actions/llm/convert-test/action.yml
  .github/actions/llm/inference-test/action.yml
  .github/actions/llm/langchain-test/action.yml
  .github/actions/llm/remove-llm-env/action.yml
  .github/actions/llm/setup-llm-env/action.yml
  .github/workflows/llm-nightly-test.yml
  .github/workflows/llm_unit_tests_linux.yml
Labels: llm

#8461 LLM: fix `n_batch` in starcoder pybinding
  python/llm/src/bigdl/llm/ggml/model/starcoder/starcoder.py
Labels: llm

#8460 llm: benchmark tool for transformers int4 (separate 1st token and rest)
  python/llm/dev/benchmark/README.md
  python/llm/dev/benchmark/benchmark_util.py
Labels: llm

#8456 LLM: update langchain and cpp-python style API examples
  python/llm/example/cpp-python/README.md
  python/llm/example/cpp-python/int4_inference.py
  python/llm/example/langchain/README.md
  python/llm/example/langchain/docqa.py
  python/llm/example/langchain/streamchat.py
  python/llm/example/transformers/native_int4_pipeline.py
Labels: llm

#8470 LLM: refactor transformers and langchain class name
  python/llm/README.md
  python/llm/example/langchain/docqa.py
  python/llm/example/langchain/streamchat.py
  python/llm/example/transformers/native_int4_pipeline.py
  python/llm/src/bigdl/llm/langchain/embeddings/__init__.py
  python/llm/src/bigdl/llm/langchain/embeddings/bigdlllm.py
  python/llm/src/bigdl/llm/langchain/llms/__init__.py
  python/llm/src/bigdl/llm/langchain/llms/bigdlllm.py
  python/llm/src/bigdl/llm/transformers/__init__.py
  python/llm/src/bigdl/llm/transformers/modelling_bigdl.py
  python/llm/test/langchain/test_langchain.py
Labels: llm

#8459 Llm: Initial support of langchain transformer int4 API
  python/llm/example/langchain/native_int4/docqa.py
  python/llm/example/langchain/native_int4/streamchat.py
  python/llm/example/langchain/transformers_int4/chat.py
  python/llm/example/langchain/transformers_int4/docqa.py
  python/llm/src/bigdl/llm/langchain/embeddings/__init__.py
  python/llm/src/bigdl/llm/langchain/embeddings/transformersembeddings.py
  python/llm/src/bigdl/llm/langchain/llms/__init__.py
  python/llm/src/bigdl/llm/langchain/llms/transformersllm.py
  python/llm/src/bigdl/llm/langchain/llms/transformerspipelinellm.py
Labels: llm

#8473 Nano: fix failed ipex quantized bert
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_quantization_model.py
  python/nano/src/bigdl/nano/pytorch/context_manager.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/pytorch/dataset.py
Labels: Nano

#8476 Nano: quick fix ipex quantization
  python/nano/src/bigdl/nano/deps/ipex/ipex_quantization_model.py
Labels: Nano

#8321 Orca: add tf2.12 github action for ray backend estimator in PR validation.
  .github/actions/orca/orca-pytest-ray-tf2-v12-spark3-action/pr-test/action.yml
  .github/workflows/PR_validation.yml
Labels: orca

#8468 bigdl-llm: add voice-assistant example that are migrated from langchain use-case document
  python/llm/example/langchain/README.md
  python/llm/example/langchain/native_int4/voiceassistant.py
Labels: example, llm

#8491 [LLM] Initial Transformers example refactor
  python/llm/README.md
  python/llm/example/transformers/native_int4/native_int4_pipeline.py
  python/llm/example/transformers/native_int4/native_int4_pipeline_readme.md
  python/llm/example/transformers/transformers_int4/transformers_int4_pipeline.py
  python/llm/example/transformers/transformers_int4/transformers_int4_pipeline_readme.md
Labels: llm

#8486 Nano: fix nightly test
  .github/actions/nano/tensorflow-test/action.yml
Labels: test, Nano

#8498 [LLM] Add more transformers_int4 examples (MPT)
  python/llm/example/transformers/transformers_int4/README.md
  python/llm/example/transformers/transformers_int4/mpt/README.md
  python/llm/example/transformers/transformers_int4/mpt/generate.py
Labels: llm

#8522 [LLM] Add more transformers int4 example (Baichuan)
  python/llm/example/transformers/transformers_int4/baichuan/README.md
  python/llm/example/transformers/transformers_int4/baichuan/generate.py
Labels: llm

#8523 [LLM] Add more transformers int4 example (RedPajama)
  python/llm/example/transformers/transformers_int4/redpajama/README.md
  python/llm/example/transformers/transformers_int4/redpajama/generate.py
Labels: llm

#8520 [LLM] Add more transformers int4 example (phoenix)
  python/llm/example/transformers/transformers_int4/phoenix/README.md
  python/llm/example/transformers/transformers_int4/phoenix/generate.py
Labels: llm

#8539 [LLM] Add more transformers int4 example (chatglm2)
  python/llm/example/transformers/transformers_int4/chatglm2/README.md
  python/llm/example/transformers/transformers_int4/chatglm2/generate.py
Labels: llm

#8540 [LLM] Add more transformers int4 example (starcoder)
  python/llm/example/transformers/transformers_int4/starcoder/README.md
  python/llm/example/transformers/transformers_int4/starcoder/generate.py
Labels: llm

#8547 [LLM] Prompt tuning for MPT transformers int4 example
  python/llm/example/transformers/transformers_int4/mpt/README.md
  python/llm/example/transformers/transformers_int4/mpt/generate.py
Labels: llm

#8546 [LLM] Add more transformers int4 examples (Falcon)
  python/llm/example/transformers/transformers_int4/baichuan/README.md
  python/llm/example/transformers/transformers_int4/falcon/README.md
  python/llm/example/transformers/transformers_int4/falcon/falcon-40b-instruct/modelling_RW.py
  python/llm/example/transformers/transformers_int4/falcon/falcon-7b-instruct/modelling_RW.py
  python/llm/example/transformers/transformers_int4/falcon/generate.py
Labels: llm

#8550 [LLM] Transformers int4 example small typo fixes
  python/llm/example/transformers/transformers_int4/falcon/README.md
  python/llm/example/transformers/transformers_int4/mpt/README.md
  python/llm/example/transformers/transformers_int4/mpt/generate.py
Labels: llm

#8557 [LLM] Add more transformers int4 example (InternLM)
  python/llm/README.md
  python/llm/example/transformers/transformers_int4/README.md
  python/llm/example/transformers/transformers_int4/internlm/README.md
  python/llm/example/transformers/transformers_int4/internlm/generate.py
Labels: llm

#8571 [LLM] Add more transformers int4 example (Dolly v2)
  python/llm/README.md
  python/llm/example/transformers/transformers_int4/README.md
  python/llm/example/transformers/transformers_int4/dolly_v2/README.md
  python/llm/example/transformers/transformers_int4/dolly_v2/generate.py
Labels: llm

#8573 [LLM] Small fixes to the Whisper transformers INT4 example
  python/llm/README.md
  python/llm/example/transformers/transformers_int4/README.md
  python/llm/example/transformers/transformers_int4/whisper/readme.md
  python/llm/example/transformers/transformers_int4/whisper/recognize.py
Labels: llm

#8574 [LLM] Small updates to transformers int4 ut
  .github/workflows/llm_unit_tests_linux.yml
  python/llm/test/inference/test_transformers_api.py
  python/llm/test/run-llm-inference-tests.sh
Labels: llm

#8576 [LLM] Add interactive mode unittest for llm-cli
  .github/actions/llm/cli-test/action.yml
Labels: llm

#8429 Orca: init executor gateway in init orca context.
  python/orca/src/bigdl/orca/common.py
Labels: orca

#8613 LLM: add llama2-13b native int4 example
  python/llm/example/transformers/native_int4/README.md
  python/llm/example/transformers/native_int4/native_int4_pipeline.py
Labels: llm

#8620 LLM: support tensor input of native int4 `generate`
  python/llm/src/bigdl/llm/ggml/model/generation/utils.py
Labels: llm

#8629 LLM: add llama2-7b native int4 example
  python/llm/example/transformers/native_int4/README.md
  python/llm/example/transformers/native_int4/native_int4_pipeline.py
Labels: llm
