Repository intel-analytics/ipex-llm, pull requests merged in 2023-01, with the labels that each got.

#7022 Chronos: Export scale and roll to torchscript module
  python/chronos/dev/test/lint-python
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/export_torchscript.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#7113 Nano: fix some typos of web documentation
  docs/readthedocs/source/doc/Nano/Overview/pytorch_inference.md
  docs/readthedocs/source/doc/Nano/QuickStart/pytorch_train_quickstart.md
Labels: Nano

#7093 Chronos: update electricity example
  python/chronos/use-case/electricity/README.md
  python/chronos/use-case/electricity/autoformer.py
  python/chronos/use-case/electricity/tcn.py
Labels: Chronos

#6924 Nano: improve Howto guide of InferenceOptimizer.optimize
  README.md
  docs/readthedocs/source/doc/Nano/Overview/pytorch_inference.md
  python/nano/example/pytorch/inference_optimizer/export_model/export_model.py
  python/nano/example/pytorch/inference_optimizer/resnet/README.md
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/tutorial/notebook/inference/pytorch/inference_optimizer_optimize.ipynb
  python/nano/tutorial/notebook/inference/pytorch/run-nano-howto-guides-inference-pytorch-tests.sh
Labels: document, Nano

#7139 Chronos: add forecaster alg choose guide and some cleaning for how to guide
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_choose_forecasting_alg.md
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  docs/readthedocs/source/doc/Chronos/Overview/forecasting.md
Labels: document, Chronos

#7087 Nano: Improve multi instance inference
  python/nano/src/bigdl/nano/pytorch/inference/multi_instance.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
Labels: Nano

#7141 Nano: add video stylization as client application
  python/nano/.gitattributes
  python/nano/client-application/VideoStylization/README.md
  python/nano/client-application/VideoStylization/VideoStylization.ipynb
  python/nano/client-application/VideoStylization/data.py
  python/nano/client-application/VideoStylization/data.zip
  python/nano/client-application/VideoStylization/demo.mp4
  python/nano/client-application/VideoStylization/demo_output.mp4
  python/nano/client-application/VideoStylization/eval.py
  python/nano/client-application/VideoStylization/feature_model.py
  python/nano/client-application/VideoStylization/installation_guide.md
  python/nano/client-application/VideoStylization/litmodels.py
  python/nano/client-application/VideoStylization/nano_train.py
  python/nano/client-application/VideoStylization/original_models.py
  python/nano/client-application/VideoStylization/train.py
Labels: Nano

#7080 Chronos: Export data postprocessing(unscale) to torchscript
  python/chronos/src/bigdl/chronos/data/tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/export_torchscript.py
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#7089 Nano: Add CUDA patch key feature
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Overview/index.rst
  docs/readthedocs/source/doc/Nano/Overview/pytorch_cuda_patch.md
  python/nano/src/bigdl/nano/pytorch/patching/__init__.py
Labels: document, Nano

#7153 fix(process_xshards.py): typo, num_dense_feats->dense_features
  python/orca/tutorial/NCF/process_xshards.py
Labels: orca

#7138 Nano: fix keras onnx model output shape
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/utils.py
  python/nano/test/tf/keras/test_trace_and_quantize.py
Labels: Nano

#7152 Nano: fix bug of openvino cannot infer input shape
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/test/tf/keras/test_trace_and_quantize.py
Labels: Nano

#6729 Chronos: Enhance benchmark tools
  python/chronos/src/bigdl/chronos/benchmark/benchmark_chronos.py
  python/chronos/src/bigdl/chronos/benchmark/env_check.py
  python/nano/src/bigdl/nano/common/cpu_schedule.py
Labels: Chronos

#7149 [Nano] add how-to-guide for tensorflow inference by onnxruntime and openvino
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/TensorFlow/accelerate_tensorflow_inference_onnx.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/TensorFlow/accelerate_tensorflow_inference_openvino.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_openvino.ipynb
Labels: example, Nano

#7171 Nano: bug fix for multiple calling on bigdl-nano-init with different option
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#7050 [ORCA] Disable DDP for Pure Inference Pipeline with PyTorch Ray Estimator
  python/orca/src/bigdl/orca/learn/pytorch/core/base_ray_estimator.py
  python/orca/src/bigdl/orca/learn/pytorch/core/lifecycle.py
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_pyspark_worker.py
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_ray_estimator.py
Labels: orca

#7174 Nano: fix thread_num setting
  python/nano/src/bigdl/nano/pytorch/__init__.py
Labels: Nano

#7172 Chronos: add excludes for s2s model since it has not support quantization
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#7169 [Nano] Add how-to guide for TensorFlow Keras training using bf16
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Training/TensorFlow/tensorflow_training_bf16.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/training/tensorflow/run-nano-howto-guides-training-tensorflow-tests.sh
  python/nano/tutorial/notebook/training/tensorflow/tensorflow_training_bf16.ipynb
Labels: document, Nano

#7125 [Nano] Add a generalized how-to guide for accelerate PyTorch cv data process pipeline
  docs/readthedocs/source/_static/css/custom.css
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Preprocessing/PyTorch/accelerate_pytorch_cv_data_pipeline.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/General/choose_num_processes_training.md
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorchLightning/pytorch_lightning_cv_data_pipeline.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/preprocessing/pytorch/accelerate_pytorch_cv_data_pipeline.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/pytorch_lightning_cv_data_pipeline.ipynb
Labels: document, Nano

#7167 Nano: add Neural Coder example and document
  docs/readthedocs/source/doc/Nano/Overview/pytorch_inference.md
  python/nano/tutorial/inference/pytorch/neural_coder/example.py
  python/nano/tutorial/inference/pytorch/neural_coder/readme.md
Labels: document, example, Nano

#6572 Doc: How to use `built-in` dataset
  docs/readthedocs/source/doc/Chronos/Howto/how_to_use_built-in_datasets.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  docs/readthedocs/source/doc/Chronos/Overview/data_processing_feature_engineering.md
  python/chronos/colab-notebook/howto/how_to_use_built-in_datasets.ipynb
Labels: Chronos

#7178 Nano: support mo kwargs in trace/quantize and support VPU fp16 in quantize
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/core/utils.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/utils.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/utils.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/openvino/tf/test_openvino.py
  python/nano/test/openvino/tf/test_openvino_quantize.py
Labels: Nano

#7179 Nano: fix `bigdl-nano-init` script
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#7184 [Nano] Small typo fix for tf bf16 training how-to guide
  python/nano/tutorial/notebook/training/tensorflow/tensorflow_training_bf16.ipynb
Labels: document, Nano

#7142 Chronos: remove channels_last methods from `forecaster.optimize()`
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#7075 Chronos: Update example
  python/chronos/example/inference-acceleration/README.md
  python/chronos/example/inference-acceleration/cpu_inference_acceleration.py
  python/chronos/example/quantization/README.md
  python/chronos/example/serving/README.md
  python/chronos/example/serving/generate_torchscript_pt.py
  python/chronos/example/simulator/README.md
Labels: Chronos

#7181 Nano: fix bug of openvino pot and device check
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
Labels: Nano

#7194 Chronos: Add how to guide for export_jit
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_export_data_processing_pipeline_to_torchscript.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/colab-notebook/howto/how_to_export_data_processing_pipeline_to_torchscript.ipynb
Labels: Chronos

#7199 Nano: fix multi model optimizer params
  python/nano/src/bigdl/nano/deps/openvino/core/utils.py
  python/nano/test/openvino/pytorch/test_openvino.py
Labels: Nano

#6925 Nano: Add key feature for keras inference
  docs/readthedocs/source/doc/Nano/Overview/tensorflow_inference.md
Labels: document, Nano

#7204 Nano: fix two missing patch_compiled by new patch_compiled_and_attrs function
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/utils.py
Labels: Nano

#7035 [Nano] How-To Guides: Accelerate PyTorch Training with IPEX & Multi-instance & BF16 & Channels last
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorch/accelerate_pytorch_training_bf16.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorch/accelerate_pytorch_training_ipex.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorch/accelerate_pytorch_training_multi_instance.nblink
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorch/pytorch_training_channels_last.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/training/pytorch-lightning/accelerate_pytorch_lightning_training_multi_instance.ipynb
  python/nano/tutorial/notebook/training/pytorch/accelerate_pytorch_training_bf16.ipynb
  python/nano/tutorial/notebook/training/pytorch/accelerate_pytorch_training_ipex.ipynb
  python/nano/tutorial/notebook/training/pytorch/accelerate_pytorch_training_multi_instance.ipynb
  python/nano/tutorial/notebook/training/pytorch/convert_pytorch_training_torchnano.ipynb
  python/nano/tutorial/notebook/training/pytorch/pytorch_training_channels_last.ipynb
  python/nano/tutorial/notebook/training/pytorch/use_nano_decorator_pytorch_training.ipynb
Labels: document, Nano

#7160 Nano: provide an internal function to give suggestions to users in a conspicuous way
  python/nano/src/bigdl/nano/__init__.py
  python/nano/src/bigdl/nano/utils/log4warning.py
Labels: Nano

#7196 Nano: add tensorflow bf16 inference support for "model transformation" style
  python/nano/src/bigdl/nano/tf/keras/amp/__init__.py
  python/nano/src/bigdl/nano/tf/keras/amp/amp_api.py
  python/nano/src/bigdl/nano/tf/keras/amp/bfloat16.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/tf/model.py
  python/nano/test/mypy.ini
  python/nano/test/tf/keras/test_trace_and_quantize.py
Labels: Nano

#7180 [Nano] Add how-to-guide of load/save API for tensorflow inference
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/TensorFlow/tensorflow_save_and_load_onnx.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/TensorFlow/tensorflow_save_and_load_openvino.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_openvino.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/tensorflow_save_and_load_onnx.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/tensorflow_save_and_load_openvino.ipynb
Labels: Nano

#7213 Chronos: upgrade pandas version
  python/chronos/src/bigdl/chronos/data/utils/impute.py
  python/chronos/src/bigdl/chronos/data/utils/quality_inspection.py
  python/chronos/src/setup.py
  python/chronos/test/bigdl/chronos/data/utils/test_impute.py
Labels: Chronos

#7220 Doc: Updated the description of “python version”
  docs/readthedocs/source/doc/Nano/Overview/install.md
Labels: document

#7208 [Nano] Fix import path in API docs
  docs/readthedocs/source/doc/PythonAPI/Nano/hpo_api.rst
  docs/readthedocs/source/doc/PythonAPI/Nano/pytorch.rst
  docs/readthedocs/source/doc/PythonAPI/Nano/tensorflow.rst
  python/nano/src/bigdl/nano/automl/hpo/space.py
  python/nano/src/bigdl/nano/automl/tf/mixin.py
  python/nano/src/bigdl/nano/pytorch/patching/encryption_patching/encryption_patching.py
  python/nano/src/bigdl/nano/tf/dispatcher.py
Labels: document, Nano

#7212 [Nano] How-to Guide: Inference via Openvino on Intel GPUs
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/OpenVINO/accelerate_inference_openvino_gpu.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/openvino/accelerate_inference_openvino_gpu.ipynb
Labels: document, Nano

#7193 Chronos: solve overhead caused by context_manager
  python/chronos/example/inference-acceleration/cpu_inference_acceleration.py
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/src/bigdl/chronos/pytorch/utils.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#7207 Chronos: realize thread control through `--cores` in benchmark tool
  python/chronos/src/bigdl/chronos/benchmark/benchmark_chronos.py
Labels: Chronos

#7165 Nano: upgrade neural-compressor to 2.0 and pytorch to 1.13
  .github/workflows/nano_notebooks_tests.yml
  .github/workflows/nano_unit_tests_basic.yml
  .github/workflows/nano_unit_tests_pytorch.yml
  python/nano/notebooks/pytorch/cifar10/requirements.txt
  python/nano/notebooks/pytorch/tutorial/pytorch_train.ipynb
  python/nano/setup.py
  python/nano/src/bigdl/nano/common/cpu_schedule.py
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api.py
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api_2.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantized_model.py
  python/nano/src/bigdl/nano/pytorch/strategies/ddp_subprocess.py
  python/nano/test/inc/pytorch/test_dataloader.py
  python/nano/test/inc/pytorch/test_quantize.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
  python/nano/test/pytorch/tests/train/trainer/test_scale_lr.py
  python/nano/test/tf/keras/test_inf_optimizer.py
  python/nano/test/tf/keras/test_trace_and_quantize.py
  python/nano/tutorial/notebook/inference/pytorch/multi_instance_pytorch_inference.ipynb
Labels: Nano

#7236 [Nano] Fix `bigdl.nano.tf.keras.Model` api doc issue after V1Model and V2Model is added
  python/nano/src/bigdl/nano/tf/keras/__init__.py
Labels: Nano

#7248 Orca: examples of image classification and segmentation
  .github/actions/orca/orca-notebook-xshards-image-action/action.yml
  python/orca/dev/test/run-tutorial-xshards-images.sh
  python/orca/dev/test/run-tutorial-xshards-notebooks.sh
  python/orca/src/bigdl/orca/data/__init__.py
  python/orca/src/bigdl/orca/data/image/__init__.py
  python/orca/src/bigdl/orca/data/image/preprocessing.py
  python/orca/src/bigdl/orca/data/shard.py
  python/orca/test/bigdl/orca/data/test_image_preprocessing.py
  python/orca/test/bigdl/orca/resources/tsg_salt/images/0cc5805a92.png
  python/orca/test/bigdl/orca/resources/tsg_salt/images/a12cbb17e5.png
  python/orca/test/bigdl/orca/resources/tsg_salt/images/c0a37fef54.png
  python/orca/test/bigdl/orca/resources/tsg_salt/images/cff87534c4.png
  python/orca/test/bigdl/orca/resources/tsg_salt/images/da84ed2423.png
  python/orca/test/bigdl/orca/resources/tsg_salt/masks/0cc5805a92.png
  python/orca/test/bigdl/orca/resources/tsg_salt/masks/a12cbb17e5.png
  python/orca/test/bigdl/orca/resources/tsg_salt/masks/c0a37fef54.png
  python/orca/test/bigdl/orca/resources/tsg_salt/masks/cff87534c4.png
  python/orca/test/bigdl/orca/resources/tsg_salt/masks/da84ed2423.png
  python/orca/tutorial/xshards/images/image_classification_py.ipynb
  python/orca/tutorial/xshards/images/image_classification_tf.ipynb
  python/orca/tutorial/xshards/images/segmentation_py.ipynb
  python/orca/tutorial/xshards/images/segmentation_tf.ipynb
Labels: orca

#7233 DLlib: Feature importance related APIs.
  python/dllib/src/bigdl/dllib/nnframes/tree_model.py
  python/dllib/test/bigdl/nnframes/test_treemodel.py
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/nnframes/TreeModel.scala
  scala/dllib/src/main/scala/com/intel/analytics/bigdl/dllib/nnframes/python/PythonTreeModel.scala
Labels: DLlib

#7177 Nano: fix action dependency version
  .github/workflows/nano_unit_tests_pytorch.yml
Labels: Nano

#7267 Nano: fix notebook
  .github/workflows/nano_notebooks_tests.yml
  python/nano/notebooks/tensorflow/tutorial/tensorflow_quantization.ipynb
Labels: Nano

#7162 Nano: support custom model for keras INC
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/quantization.py
  python/nano/src/bigdl/nano/deps/openvino/core/utils.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/test/tf/keras/test_trace_and_quantize.py
Labels: Nano

#7252 Nano: fix save & load for inc ipex quantization
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api.py
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api_2.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantized_model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/utils.py
  python/nano/test/inc/pytorch/test_quantize.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#7264 Nano: fix notebook test of nano nightly test
  .github/workflows/nano_notebooks_tests.yml
  python/nano/notebooks/tensorflow/tutorial/tensorflow_quantization.ipynb
Labels: Nano

#7275 Nano: fix installing tensorflow on windows
  python/nano/setup.py
Labels: Nano

#7281 Chronos: fix error during nightly-build tests
  python/chronos/src/setup.py
Labels: Chronos

#7250 Nano: replace `torch.no_grad()` with `torch.inference_mode()` in context manager
  python/nano/src/bigdl/nano/pytorch/context_manager.py
Labels: Nano

#7287 Nano: relax the accuracy restrictions of onnx quantized model
  python/nano/test/onnx/tf/test_inc_onnx.py
Labels: Nano

#7151 Nano: add channels_last convert check
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/amp/bfloat16.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/pytorch/model_utils.py
  python/nano/test/pytorch/tests/inference/test_bf16.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#7270 Nano: fix attribute access of keras traced/quantized model
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/utils.py
Labels: Nano

#7218 Nano: support ONEDNN fusion for jit inside context manager
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/context_manager.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
  python/nano/test/run-nano-type-test.sh
Labels: Nano

#7323 [Doc] Change version badge in doc home page for release 2.2.0
  docs/readthedocs/source/conf.py
Labels: document

#7331 Doc: update Orca download links.
  docs/readthedocs/source/doc/Orca/Overview/install.md
Labels: document, orca

#7338 Doc: Centering style in download table.
  docs/readthedocs/source/doc/Orca/Overview/install.md
Labels: document, orca

#7354 Nano: add regression test for keras optimizer
  .github/workflows/performance-regression-test.yml
  python/nano/benchmark/keras_inference_optimizer/benchmark.sh
  python/nano/benchmark/keras_inference_optimizer/inference.py
  python/nano/benchmark/keras_inference_optimizer/optimize.py
  python/nano/benchmark/keras_inference_optimizer/run.sh
Labels: test, Nano

#7364 Nano: update ut of PyTorch Openvino bf16
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
Labels: Nano

#7368 Nano: fix keras optimizer int8 quantization fail
  .github/workflows/performance-regression-test.yml
  python/nano/benchmark/keras_inference_optimizer/run.sh
Labels: Nano

#7299 Chronos: update built-in dataset and import path in examples
  python/chronos/colab-notebook/howto/how_to_evaluate_a_forecaster.ipynb
  python/chronos/colab-notebook/howto/how_to_speedup_inference_of_forecaster_through_ONNXRuntime.ipynb
  python/chronos/colab-notebook/howto/how_to_speedup_inference_of_forecaster_through_OpenVINO.ipynb
  python/chronos/example/hpo/muti_objective_hpo_with_builtin_latency_tutorial.ipynb
  python/chronos/example/inference-acceleration/cpu_inference_acceleration.py
  python/chronos/example/quantization/quantization_tcnforecaster_nyc_taxi.py
  python/chronos/src/bigdl/chronos/metric/__init__.py
Labels: Chronos

#7256 [Nano] Revise docstring for `input_spec` param in tf `InferenceOptimizer.optimize`/`trace`/`quantize`, and revise related how-to
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference_utils.py
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_openvino.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/tensorflow_save_and_load_openvino.ipynb
  python/nano/tutorial/notebook/training/pytorch/convert_pytorch_training_torchnano.ipynb
  python/nano/tutorial/notebook/training/pytorch/use_nano_decorator_pytorch_training.ipynb
Labels: Nano

#7369 Chronos: fix errors during recent prvd action and nightly test
  python/chronos/src/setup.py
Labels: Chronos

#7378 Nano: fix ut of keras inc quantize
  python/nano/test/inc/tf/test_keras_quantize.py
Labels: Nano
