Repository intel-analytics/ipex-llm, pull requests merged in 2023-04, with the labels that each got.

#7926 Chronos: fix `forecaster.evaluate` of tensorflow backend
  python/chronos/src/bigdl/chronos/benchmark/benchmark_chronos.py
  python/chronos/src/bigdl/chronos/forecaster/tf/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_lstm_keras_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_seq2seq_keras_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_tcn_keras_forecaster.py
Labels: Chronos

#7972 Chronos: quick fix `Evaluator.plot`
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
  python/chronos/test/bigdl/chronos/metric/test_forecast_metrics.py
Labels: Chronos

#7979 Chronos: Add a more stable asym loss for forecaster training
  python/chronos/example/loss/penalize_underestimation.ipynb
  python/chronos/src/bigdl/chronos/pytorch/loss/__init__.py
  python/chronos/src/bigdl/chronos/pytorch/loss/asym_weight.py
  python/chronos/test/bigdl/chronos/pytorch/loss/test_asym_weight.py
Labels: Chronos

#7971 Nano: further support tensorflow customized training loop with multi-process
  python/nano/src/bigdl/nano/tf/keras/__init__.py
  python/nano/src/bigdl/nano/tf/keras/customized_training_utils.py
  python/nano/src/bigdl/nano/utils/tf/backend.py
  python/nano/src/bigdl/nano/utils/tf/subprocess_worker.py
  python/nano/test/tf/train/test_tf_nano_decorator.py
Labels: Nano

#7991 Chronos: add normalization for `TCNForecaster` of tensorflow backend
  python/chronos/src/bigdl/chronos/forecaster/tf/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/tcn_forecaster.py
  python/chronos/src/bigdl/chronos/model/tf2/TCN_keras.py
  python/chronos/src/bigdl/chronos/model/tf2/keras_model_wrapper.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_tcn_keras_forecaster.py
Labels: Chronos

#7814 Nano: add dGPU first push for pytorch InferenceOptimizer
  python/nano/scripts/bigdl-nano-init
  python/nano/setup.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_xpu_model.py
  python/nano/src/bigdl/nano/pytorch/context_manager.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/pytorch/__init__.py
  python/nano/src/bigdl/nano/utils/pytorch/load.py
  python/nano/src/bigdl/nano/utils/pytorch/xpu.py
Labels: Nano

#8002 [Nano] Nightly-build UT issue: fix tfds version to less than 4.9
  .github/actions/nano/setup-tensorflow-env/action.yml
Labels: test, Nano

#8006 Nano: TF multi process how-to for customized training loop
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Training/TensorFlow/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Training/TensorFlow/tensorflow_custom_training_multi_instance.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  docs/readthedocs/source/doc/Nano/Overview/tensorflow_train.md
  python/nano/src/bigdl/nano/tf/keras/customized_training_utils.py
  python/nano/tutorial/notebook/training/tensorflow/tensorflow_custom_training_multi_instance.ipynb
Labels: document, Nano

#7976 [ORCA] Fix for TF2 Pyspark Estimator Getting Stuck on Kubernetes
  python/orca/src/bigdl/orca/learn/tf2/pyspark_estimator.py
  python/orca/src/bigdl/orca/learn/tf2/spark_runner.py
Labels: orca

#8010 Nano: add more information about tf multi instance custom train
  python/nano/tutorial/notebook/training/tensorflow/tensorflow_custom_training_multi_instance.ipynb
Labels: Nano

#8014 Fix benchmark security issue brought by sql injection
  .github/workflows/performance-regression-test.yml
  python/benchmark/run.py
Labels: Nano

#8009 Nano: replace part of the pickle to json to avoid security issue
  python/nano/src/bigdl/nano/automl/utils/parallel.py
  python/nano/src/bigdl/nano/automl/utils/parallel_worker.py
  python/nano/src/bigdl/nano/pytorch/strategies/ddp_subprocess.py
  python/nano/src/bigdl/nano/pytorch/strategies/worker.py
Labels: Nano

#8000 Chronos: add example of tensorflow TCNForecaster
  python/chronos/use-case/electricity/tf/README.md
  python/chronos/use-case/electricity/tf/tcn-tf.py
Labels: Chronos

#8017 [Nano] Support torch 2.0 in setup and action test
  .github/workflows/nano_unit_tests_pytorch.yml
  python/nano/setup.py
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api_2.py
  python/nano/src/bigdl/nano/utils/common/__init__.py
  python/nano/src/bigdl/nano/utils/common/checker.py
  python/nano/src/bigdl/nano/utils/pytorch/__init__.py
  python/nano/src/bigdl/nano/utils/pytorch/version.py
  python/nano/test/inc/pytorch/test_quantize.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
  python/nano/test/pytorch/tests/train/test_channels_last.py
  python/nano/test/pytorch/tests/train/torch_nano/test_torch_nano_ipex.py
  python/nano/test/pytorch/tests/train/trainer/test_plugin.py
  python/nano/test/pytorch/tests/train/trainer/test_plugin_ipex.py
  python/nano/test/pytorch/tests/train/trainer/test_scale_lr.py
  python/nano/test/pytorch/tests/train/trainer/test_trainer_ipex.py
  python/nano/test/pytorch/tests/vision/test_vision_ipex.py
  python/nano/test/ray/test_ray_trainer.py
  python/nano/test/run-nano-pytorch-ray-tests.sh
Labels: Nano

#8016 [Nano] Support tuple input for openvino
  python/nano/src/bigdl/nano/deps/onnxruntime/core/onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/utils/common/__init__.py
  python/nano/src/bigdl/nano/utils/common/function.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
Labels: Nano

#8026 [Nano] add pt dgpu inference how-to-guide
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/accelerate_pytorch_inference_gpu.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/index.rst
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_gpu.ipynb
  python/nano/tutorial/notebook/inference/pytorch/run-nano-howto-guides-inference-pytorch-tests.sh
Labels: document, Nano

#8035 [Nano] Support `**kwargs` for `AcceleratedLightningModule`/`OpenVINO`/`ONNXRuntime`
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api_2.py
  python/nano/src/bigdl/nano/deps/onnxruntime/core/onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/model.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
Labels: Nano

#8045 Chronos: fix thread num error when use `get_context` and `predict_with_onnx` together
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/pytorch/context_manager.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#8044 [Nano] Support dict/tuple output by saving output signature
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/utils/pytorch/__init__.py
  python/nano/src/bigdl/nano/utils/pytorch/metadata.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
Labels: Nano

#8070 Chronos: quick fix failed uts
  .github/workflows/chronos-nb-python-2.4-py37.yml
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#8038 Nano: add more error information about customized training loop
  python/nano/src/bigdl/nano/tf/keras/customized_training_utils.py
Labels: Nano

#8079 [Nano] Fix dataloader transformation and ut
  python/nano/src/bigdl/nano/pytorch/low_precision/jit_int8_model.py
  python/nano/src/bigdl/nano/utils/pytorch/dataloader.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#8075 [Nano] Support reconstructing custom dict with dataclass
  python/nano/src/bigdl/nano/utils/pytorch/metadata.py
  python/nano/test/openvino/pytorch/test_openvino.py
Labels: Nano

#8083 [Doc] Mock `prophet` as doc building failed
  docs/readthedocs/source/conf.py
Labels: document

#8086 [Doc] Mock `prophet` and change version badge for BigDL 2.3.0
  docs/readthedocs/source/conf.py
Labels: document

#8096 Doc: Add known issues for Orca.
  docs/readthedocs/source/doc/Orca/Overview/known_issues.md
Labels: document, orca

#8074 [Nano] multiprocessing support for pipeline
  python/nano/src/bigdl/nano/pytorch/inference/pipeline.py
  python/nano/test/pytorch/tests/inference/test_pipeline.py
Labels: Nano

#8081 Chronos: update information about python version in installation document
  docs/readthedocs/source/_static/js/chronos_installation_panel.js
  docs/readthedocs/source/doc/Chronos/Overview/install.md
Labels: Chronos

#8104 Chronos: enhance `ThresholdDetector` to better handle anomaly detection of prediction data
  python/chronos/src/bigdl/chronos/detector/anomaly/th_detector.py
  python/chronos/test/bigdl/chronos/detector/anomaly/test_th_detector.py
  python/chronos/use-case/AIOps/AIOps_anomaly_detect_unsupervised_forecast_based.ipynb
Labels: Chronos

#8107 Nano: fix ppml related nano issues (env settings)
  python/nano/scripts/bigdl-nano-init
  python/nano/setup.py
Labels: Nano

#8134 Nano: make MKL thread setting an SGX-specific var for bigdl-nano-init
  python/nano/scripts/bigdl-nano-init
Labels: Nano
