Repository intel-analytics/ipex-llm, pull requests merged in 2023-08, with the labels that each got.

#8636 LLM: add chat & stream chat example for ChatGLM2 transformers int4
  python/llm/example/transformers/transformers_int4/chatglm2/README.md
  python/llm/example/transformers/transformers_int4/chatglm2/streamchat.py
Labels: llm

#8648 Chronos: fix nightly version installation
  python/chronos/src/setup.py
Labels: Chronos

#8646 LLM: first update descriptions for ChatGLM transformers int4 example
  python/llm/example/transformers/transformers_int4/chatglm/README.md
Labels: llm

#8659 LLM: support transformers int4 stream chat for langchain
  python/llm/src/bigdl/llm/langchain/llms/transformersllm.py
Labels: llm

#8683 LLM: set transformers lib version.
  python/llm/setup.py
Labels: llm

#8695 LLM: add chatglm native int4 transformers API
  python/llm/src/bigdl/llm/convert_model.py
  python/llm/src/bigdl/llm/ggml/convert.py
  python/llm/src/bigdl/llm/ggml/convert_model.py
  python/llm/src/bigdl/llm/ggml/model/chatglm/__init__.py
  python/llm/src/bigdl/llm/ggml/model/chatglm/chatglm.py
  python/llm/src/bigdl/llm/ggml/model/generation/utils.py
  python/llm/src/bigdl/llm/models.py
  python/llm/src/bigdl/llm/transformers/modelling_bigdl.py
  python/llm/src/bigdl/llm/utils/convert_chatglm.py
  python/llm/src/bigdl/llm/utils/convert_util.py
Labels: llm

#8699 LLM: add Qwen transformers int4 example
  python/llm/README.md
  python/llm/example/transformers/transformers_int4/README.md
  python/llm/example/transformers/transformers_int4/qwen/README.md
  python/llm/example/transformers/transformers_int4/qwen/generate.py
Labels: llm

#8700 [LLM] support ipex arc int4 & add basic llama2 example
  python/llm/example/transformers/transformers_int4/GPU/README.md
  python/llm/example/transformers/transformers_int4/GPU/llama2/README.md
  python/llm/example/transformers/transformers_int4/GPU/llama2/generate.py
  python/llm/setup.py
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/linear_quant.py
  python/llm/src/bigdl/llm/transformers/model.py
  python/llm/src/bigdl/llm/transformers/models/llama.py
Labels: llm

#8729 Nano: fix action of ipex
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#8734 LLM: support stop for starcoder native int4 stream
  python/llm/src/bigdl/llm/ggml/model/starcoder/starcoder.py
Labels: llm

#8718 Enable Nano to receive memory files as input.
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantized_model.py
  python/nano/src/bigdl/nano/utils/common/model.py
  python/nano/src/bigdl/nano/utils/pytorch/load.py
Labels: Nano

#8722 LLM: add internlm example on arc
  python/llm/example/transformers/transformers_int4/GPU/internlm/README.md
  python/llm/example/transformers/transformers_int4/GPU/internlm/generate.py
  python/llm/example/transformers/transformers_int4/GPU/llama2/README.md
  python/llm/example/transformers/transformers_int4/GPU/voiceassistant/README.md
Labels: llm

#8723 LLM: add mpt example on arc
  python/llm/example/transformers/transformers_int4/GPU/mpt/README.md
  python/llm/example/transformers/transformers_int4/GPU/mpt/generate.py
Labels: llm

#8741 LLM: add chatglm2 example for Arc
  python/llm/example/transformers/transformers_int4/GPU/README.md
  python/llm/example/transformers/transformers_int4/GPU/chatglm2/README.md
  python/llm/example/transformers/transformers_int4/GPU/chatglm2/generate.py
Labels: llm

#8750 LLM: fix langchain native int4 voiceasistant example
  python/llm/example/langchain/README.md
  python/llm/example/langchain/native_int4/voiceassistant.py
Labels: llm

#8742 LLM: add falcon example on arc
  python/llm/example/transformers/transformers_int4/GPU/falcon/README.md
  python/llm/example/transformers/transformers_int4/GPU/falcon/falcon-7b-instruct/modelling_RW.py
  python/llm/example/transformers/transformers_int4/GPU/falcon/generate.py
Labels: llm

#8760 LLM: add benchmark tool for gpu
  python/llm/dev/benchmark/README.md
  python/llm/dev/benchmark/gpu_benchmark_util.py
Labels: llm

#8763 LLM: reduce 1st token latency and update example
  python/llm/dev/benchmark/README.md
  python/llm/example/transformers/transformers_int4/GPU/chatglm2/generate.py
  python/llm/example/transformers/transformers_int4/GPU/llama2/generate.py
  python/llm/src/bigdl/llm/transformers/linear_quant.py
Labels: llm

#8747 LLM: update convert of llama family to support llama2-70B
  python/llm/src/bigdl/llm/ggml/convert.py
  python/llm/src/bigdl/llm/utils/convert_util.py
Labels: llm

#8774 Nano: update setup version of xpu
  python/nano/setup.py
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_gpu.ipynb
Labels: Nano

#8789 [Nano] Support OpenVINO 2023
  python/nano/src/bigdl/nano/deps/openvino/core/utils.py
Labels: Nano

#8795 LLM: update chatglm example to be more friendly for beginners
  python/llm/example/transformers/transformers_int4/chatglm/README.md
  python/llm/example/transformers/transformers_int4/chatglm/generate.py
Labels: llm

#8809 llm: update ARC int4 examples
  python/llm/example/transformers/transformers_int4/GPU/baichuan/generate.py
  python/llm/example/transformers/transformers_int4/GPU/chatglm2/README.md
  python/llm/example/transformers/transformers_int4/GPU/chatglm2/generate.py
  python/llm/example/transformers/transformers_int4/GPU/chatglm2/streamchat.py
  python/llm/example/transformers/transformers_int4/GPU/falcon/generate.py
  python/llm/example/transformers/transformers_int4/GPU/internlm/generate.py
  python/llm/example/transformers/transformers_int4/GPU/llama2/generate.py
  python/llm/example/transformers/transformers_int4/GPU/mpt/generate.py
  python/llm/example/transformers/transformers_int4/GPU/qwen/generate.py
  python/llm/example/transformers/transformers_int4/GPU/whisper/recognize.py
Labels: llm

#8820 LLM: update readme of GPU to specify oneapi version
  python/llm/example/transformers/transformers_int4/GPU/README.md
Labels: llm

#8845 LLM: update GPU doc
  README.md
  python/llm/README.md
  python/llm/example/gpu/README.md
Labels: llm

#8840 [LLM]Add arc gpt-j example
  python/llm/example/transformers/transformers_int4/GPU/gpt-j/generate.py
  python/llm/example/transformers/transformers_int4/GPU/gpt-j/readme.md
Labels: llm

#8860 Orca: fix pandas version in UT.
  .github/actions/orca/orca-tutorial-ncf-py39-spark3-action/nightly-test/action.yml
  .github/actions/orca/orca-tutorial-ncf-ray-py39-spark3-action/nightly-test/action.yml
Labels: orca
