Repository intel-analytics/ipex-llm, pull requests merged in 2023-09, with the labels that each got.

#8878 Update optimize_model=True in llama2 chatglm2 arc examples
  python/llm/example/gpu/chatglm2/generate.py
  python/llm/example/gpu/gpt-j/generate.py
  python/llm/example/gpu/gpt-j/readme.md
  python/llm/example/gpu/llama2/generate.py
Labels: llm

#8833 [LLM] BigDL-LLM Documentation Initial Version
  docs/readthedocs/source/_templates/sidebar_quicklinks.html
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/cli.md
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/gpu_supports.md
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/hugging_face_format.md
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/index.rst
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/langchain_api.md
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/native_format.md
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/optimize_model.md
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/transformers_style_api.rst
  docs/readthedocs/source/doc/LLM/Overview/examples.rst
  docs/readthedocs/source/doc/LLM/Overview/examples_cpu.md
  docs/readthedocs/source/doc/LLM/Overview/examples_gpu.md
  docs/readthedocs/source/doc/LLM/Overview/install.rst
  docs/readthedocs/source/doc/LLM/Overview/install_cpu.md
  docs/readthedocs/source/doc/LLM/Overview/install_gpu.md
  docs/readthedocs/source/doc/LLM/Overview/known_issues.md
  docs/readthedocs/source/doc/LLM/Overview/llm.md
  docs/readthedocs/source/doc/LLM/index.rst
  docs/readthedocs/source/doc/PythonAPI/LLM/transformers.rst
  docs/readthedocs/source/index.rst
Labels: llm

#8901 [ORCA] Hot-fix ray_tune_search issue on k8s cluster
  python/orca/src/bigdl/orca/automl/search/ray_tune/ray_tune_search_engine.py
Labels: orca

#8910 [LLM] Small link fix in document
  docs/readthedocs/source/doc/LLM/index.rst
Labels: llm

#8914 [ORCA] Hot-fix ray_on_spark_context error on multi-kinds of clusters
  python/orca/src/bigdl/orca/ray/ray_on_spark_context.py
Labels: orca

#8913 LLM: update setup to specify bigdl-core-xe version
  python/llm/setup.py
Labels: llm

#8916 LLM: add benchmark scripts on GPU
  python/llm/dev/benchmark/all-in-one/README.md
  python/llm/dev/benchmark/all-in-one/config.yaml
  python/llm/dev/benchmark/all-in-one/run-arc.sh
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#8894 LLM: add `optimize_model` examples for llama2 and chatglm
  python/llm/example/pytorch-models/README.md
  python/llm/example/pytorch-models/chatglm/README.md
  python/llm/example/pytorch-models/chatglm/generate.py
  python/llm/example/pytorch-models/llama2/README.md
  python/llm/example/pytorch-models/llama2/generate.py
  python/llm/example/pytorch-models/openai-whisper/readme.md
  python/llm/example/pytorch-models/openai-whisper/recognize.py
Labels: llm

#8948 Chronos: update tensorflow installation option
  .github/workflows/chronos-example-python-spark31.yml
  .github/workflows/chronos-howto-guides-python-spark31.yml
  .github/workflows/chronos-prvn-python-spark31.yml
  python/chronos/src/setup.py
Labels: Chronos

#8960 LLM: add gpu example of chinese-llama-2-7b
  python/llm/example/gpu/chinese-llama2/README.md
  python/llm/example/gpu/chinese-llama2/generate.py
Labels: llm

#8943 LLM: update llm benchmark scripts.
  python/llm/dev/benchmark/all-in-one/README.md
  python/llm/dev/benchmark/all-in-one/config.yaml
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#8965 LLM: reduce GPU memory for `optimize_model=True`
  python/llm/src/bigdl/llm/transformers/models/chatglm.py
  python/llm/src/bigdl/llm/transformers/models/chatglm2.py
  python/llm/src/bigdl/llm/transformers/models/llama.py
Labels: llm

#8986 LLM: update use_cahce=True in gpu benchmark
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#8989 LLM: fix installation on windows
  python/llm/setup.py
Labels: llm

#8994 LLM: add baichuan2 example for arc
  python/llm/example/gpu/README.md
  python/llm/example/gpu/hf-transformers-models/README.md
  python/llm/example/gpu/hf-transformers-models/baichuan2/README.md
  python/llm/example/gpu/hf-transformers-models/baichuan2/generate.py
Labels: llm

#8981 LLM: add auto torch dtype in bf16 benchmark.
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#8975 LLM: add `optimize_model` example for bert
  python/llm/example/pytorch-models/README.md
  python/llm/example/pytorch-models/bert/README.md
  python/llm/example/pytorch-models/bert/extract_feature.py
Labels: llm

#8996 LLM: update readme in benchmark test.
  python/llm/dev/benchmark/all-in-one/README.md
Labels: llm

#8997 LLM: Support optimized kv_cache for baichuan family
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/models/baichuan.py
  python/llm/src/bigdl/llm/transformers/models/baichuan2.py
  python/llm/src/bigdl/llm/transformers/models/chatglm.py
  python/llm/src/bigdl/llm/transformers/models/chatglm2.py
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#9001 [LLM] Fix GPU performance tests
  .github/actions/llm/setup-llm-env/action.yml
Labels: llm

#9002 LLM: add Baichuan2 cpu example
  python/llm/example/transformers/transformers_int4/README.md
  python/llm/example/transformers/transformers_int4/baichuan2/README.md
  python/llm/example/transformers/transformers_int4/baichuan2/generate.py
Labels: llm

#9012 LLM: add bloom kv cache support
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/models/bloom.py
Labels: llm

#9016 LLM: add `optimize_model` example for bark model
  python/llm/example/pytorch-models/README.md
  python/llm/example/pytorch-models/bark/README.md
  python/llm/example/pytorch-models/bark/synthesize_speech.py
Labels: llm

#9024 LLM: Fix empty cache
  python/llm/example/gpu/hf-transformers-models/baichuan/generate.py
  python/llm/example/gpu/hf-transformers-models/baichuan2/generate.py
  python/llm/src/bigdl/llm/transformers/models/baichuan.py
  python/llm/src/bigdl/llm/transformers/models/baichuan2.py
  python/llm/src/bigdl/llm/transformers/models/bloom.py
  python/llm/src/bigdl/llm/transformers/models/chatglm.py
  python/llm/src/bigdl/llm/transformers/models/chatglm2.py
  python/llm/src/bigdl/llm/transformers/models/falcon.py
  python/llm/src/bigdl/llm/transformers/models/gptj.py
  python/llm/src/bigdl/llm/transformers/models/gptneox.py
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#9029 LLM: fix kv cache issues of bloom and falcon.
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/models/bloom.py
  python/llm/src/bigdl/llm/transformers/models/falcon.py
Labels: llm

#9030 LLM: refactor kv cache
  python/llm/example/gpu/hf-transformers-models/falcon/generate.py
  python/llm/example/gpu/hf-transformers-models/gpt-j/generate.py
  python/llm/src/bigdl/llm/transformers/models/baichuan.py
  python/llm/src/bigdl/llm/transformers/models/baichuan2.py
  python/llm/src/bigdl/llm/transformers/models/bloom.py
  python/llm/src/bigdl/llm/transformers/models/chatglm.py
  python/llm/src/bigdl/llm/transformers/models/chatglm2.py
  python/llm/src/bigdl/llm/transformers/models/falcon.py
  python/llm/src/bigdl/llm/transformers/models/gptj.py
  python/llm/src/bigdl/llm/transformers/models/gptneox.py
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#9035 LLM: Change benchmark bf16 load format.
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#9044 llm: fix gptneox kv cache
  python/llm/src/bigdl/llm/transformers/models/gptneox.py
Labels: llm

#9036 [WIP] LLM: add kv cache support for internlm.
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/models/internlm.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#9058 LLM: Enable jemalloc in benchmark scripts.
  python/llm/dev/benchmark/all-in-one/README.md
  python/llm/dev/benchmark/all-in-one/run-spr.sh
Labels: llm

#9068 LLM: update key feature and installation page of document
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/index.rst
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/optimize_model.md
  docs/readthedocs/source/doc/LLM/Overview/install_cpu.md
  docs/readthedocs/source/doc/LLM/Overview/install_gpu.md
  docs/readthedocs/source/doc/LLM/index.rst
  docs/readthedocs/source/doc/PythonAPI/LLM/index.rst
  docs/readthedocs/source/doc/PythonAPI/LLM/optimize.rst
Labels: llm

#9072 LLM: support chatglm-18b convert attention forward in benchmark scripts.
  python/llm/src/bigdl/llm/transformers/convert.py
Labels: llm
