Repository intel-analytics/ipex-llm, pull requests merged in 2023-02, with the labels that each got.

#7374 Nano: Add some user guide and warning messages according to feedback
  docs/readthedocs/source/doc/Nano/Overview/install.md
  python/nano/src/bigdl/nano/pytorch/__init__.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
Labels: Nano

#5728 Chronos: xshards_dataset gendt_feature
  python/chronos/src/bigdl/chronos/data/experimental/xshards_tsdataset.py
  python/chronos/src/bigdl/chronos/data/utils/feature.py
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
Labels: Chronos

#7263 Nano: Use subprocess to calculate throughput for original model to achieve thread control
  python/nano/src/bigdl/nano/tf/keras/inference/_worker.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/test/tf/inference/test_inf_optimizer.py
Labels: Nano

#7387 Chronos: add how to guide for `forecaster.optimize`
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Howto/how_to_optimize_a_forecaster.nblink
  docs/readthedocs/source/doc/Chronos/Howto/index.rst
  python/chronos/colab-notebook/howto/how_to_optimize_a_forecaster.ipynb
Labels: document, Chronos

#7313 Nano: support evaluation related features for INC
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
  python/nano/src/bigdl/nano/deps/neural_compressor/core/quantization.py
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api.py
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api_2.py
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/metric.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/test/inc/pytorch/test_quantize.py
  python/nano/test/inc/tf/test_keras_quantize.py
Labels: Nano

#7337 [Nano] Add how-to guide for TensorFlow Keras inference using bf16 mixed precision
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/TensorFlow/tensorflow_inference_bf16.nblink
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/tensorflow/tensorflow_inference_bf16.ipynb
  python/nano/tutorial/notebook/training/tensorflow/tensorflow_training_bf16.ipynb
Labels: document, Nano

#7381 Chronos: update the forecaster.tune notebook
  .github/workflows/chronos-example-python-spark.yml
  python/chronos/dev/example/run-example-tests.sh
  python/chronos/example/hpo/muti_objective_hpo_with_builtin_latency_tutorial.ipynb
  python/chronos/src/bigdl/chronos/data/utils/public_dataset.py
Labels: Chronos

#7290 Nano: Update nano installation panel
  docs/readthedocs/source/_static/js/nano_installation_guide.js
Labels: document

#7375 Orca: add initial_epoch in ray estimator.
  python/orca/src/bigdl/orca/learn/tf2/ray_estimator.py
  python/orca/src/bigdl/orca/learn/tf2/tf_runner.py
Labels: orca

#7382 Orca: use tf operators to replace python operators in yolov3 example.
  python/orca/example/learn/tf2/yolov3/yoloV3.py
Labels: orca

#7393 Chronos: update installation panel
  docs/readthedocs/source/_static/js/chronos_installation_guide.js
  docs/readthedocs/source/doc/Chronos/Overview/install.md
Labels: document, Chronos

#7351 Nano: fix `bigdl-nano-init` to support MacOS
  python/nano/scripts/bigdl-nano-init
  python/nano/scripts/bigdl-nano-unset-env
Labels: Nano

#7391 Nano: update judgement of need_dataloader_type_transformation
  python/nano/src/bigdl/nano/utils/inference/pytorch/dataloader.py
Labels: Nano

#7383 Nano: fix keras attribute access
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api_2.py
  python/nano/src/bigdl/nano/deps/neural_compressor/onnx/tensorflow/quantization.py
  python/nano/src/bigdl/nano/tf/keras/amp/amp_api.py
  python/nano/src/bigdl/nano/tf/keras/amp/bfloat16.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/utils.py
Labels: Nano

#7232 Chronos: Add howto guide for export forecasting pipeline & parameter name refactor
  python/chronos/colab-notebook/howto/how_to_export_data_processing_pipeline_to_torchscript.ipynb
  python/chronos/colab-notebook/howto/how_to_export_torchscript_files.ipynb
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#7396 [Nano] Improve How-to Guides Navigations
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/conf.py
  docs/readthedocs/source/doc/Nano/Howto/Inference/OpenVINO/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Inference/TensorFlow/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Inference/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Install/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Install/install_in_colab.md
  docs/readthedocs/source/doc/Nano/Howto/Install/windows_guide.md
  docs/readthedocs/source/doc/Nano/Howto/Preprocessing/PyTorch/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Preprocessing/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Training/General/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorch/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Training/PyTorchLightning/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Training/TensorFlow/index.rst
  docs/readthedocs/source/doc/Nano/Howto/Training/index.rst
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  docs/readthedocs/source/doc/Nano/Overview/install.md
  python/nano/tutorial/notebook/inference/openvino/accelerate_inference_openvino_gpu.ipynb
  python/nano/tutorial/notebook/inference/openvino/openvino_inference.ipynb
  python/nano/tutorial/notebook/inference/openvino/openvino_inference_async.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_jit_ipex.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_openvino.ipynb
  python/nano/tutorial/notebook/inference/pytorch/inference_optimizer_optimize.ipynb
  python/nano/tutorial/notebook/inference/pytorch/multi_instance_pytorch_inference.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_context_manager.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_ipex.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_jit.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_onnx.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_openvino.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_inc.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_pot.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_openvino.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/tensorflow_inference_bf16.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/tensorflow_save_and_load_onnx.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/tensorflow_save_and_load_openvino.ipynb
  python/nano/tutorial/notebook/preprocessing/pytorch/accelerate_pytorch_cv_data_pipeline.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/accelerate_pytorch_lightning_training_ipex.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/accelerate_pytorch_lightning_training_multi_instance.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/pytorch_lightning_training_bf16.ipynb
  python/nano/tutorial/notebook/training/pytorch-lightning/pytorch_lightning_training_channels_last.ipynb
  python/nano/tutorial/notebook/training/pytorch/accelerate_pytorch_training_bf16.ipynb
  python/nano/tutorial/notebook/training/pytorch/accelerate_pytorch_training_ipex.ipynb
  python/nano/tutorial/notebook/training/pytorch/accelerate_pytorch_training_multi_instance.ipynb
  python/nano/tutorial/notebook/training/pytorch/convert_pytorch_training_torchnano.ipynb
  python/nano/tutorial/notebook/training/pytorch/pytorch_training_channels_last.ipynb
  python/nano/tutorial/notebook/training/pytorch/use_nano_decorator_pytorch_training.ipynb
  python/nano/tutorial/notebook/training/tensorflow/accelerate_tensorflow_training_multi_instance.ipynb
  python/nano/tutorial/notebook/training/tensorflow/tensorflow_training_bf16.ipynb
  python/nano/tutorial/notebook/training/tensorflow/tensorflow_training_embedding_sparseadam.ipynb
Labels: document, Nano

#7077 Chronos: add workflow to check tutorials
  .github/workflows/chronos-notebook-python-spark.yml
  python/chronos/dev/app/run-app-tests-pip.sh
Labels: Chronos

#7419 [Nano] Update How-to guides regarding `input_spec` parameter
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_openvino.ipynb
Labels: document, Nano

#7420 Nano: fix bug of context manager
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
Labels: Nano

#7412 Nano: fix chronos quantization ut
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#7418 Nano: update comment for input spec
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api_2.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
Labels: Nano

#7285 Nano: update troubleshooting guide
  docs/readthedocs/source/doc/Nano/Overview/troubshooting.md
Labels: document, Nano

#7426 Orca: remove unnecessary fsspec.
  python/orca/src/bigdl/orca/learn/pytorch/torch_runner.py
Labels: orca

#7427 Chronos: add better document for `space.Categorical` and `SamplerType.Grid`
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/nano/src/bigdl/nano/automl/pytorch/hposearcher.py
Labels: Chronos

#7428 Chronos: fix a out-of-range bug in evaluator.plot
  python/chronos/src/bigdl/chronos/metric/forecast_metrics.py
Labels: Chronos

#7407 Nano: Support multi-process features on MacOS
  python/nano/src/bigdl/nano/common/cpu_schedule.py
Labels: Nano

#7429 Nano: add OS support table
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Overview/install.md
  docs/readthedocs/source/doc/Nano/Overview/support.md
  python/nano/scripts/bigdl-nano-init
Labels: document, Nano

#7436 Chronos: remove redundant `no_grad` and change internal impl to `inference_mode`
  python/chronos/src/bigdl/chronos/benchmark/benchmark_chronos.py
  python/chronos/src/bigdl/chronos/pytorch/utils.py
  python/chronos/use-case/electricity/autoformer.py
  python/chronos/use-case/electricity/tcn.py
Labels: Chronos

#7398 Nano: fix keras traced/quantized model evaluate
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/inference/tf/model.py
  python/nano/test/tf/inference/test_trace_and_quantize.py
Labels: Nano

#6058 Orca: Add a PyTorch transfer learning example with data_loader as inputs.
  python/orca/tutorial/pytorch/transfer_learning/train.py
Labels: tutorial

#7422 Chronos: init bigdl-nano in nightly tests
  .github/workflows/chronos-install-option-py38-test.yml
  .github/workflows/chronos-nb-python-2.4-py37.yml
  python/chronos/dev/test/run-installation-options.sh
  python/chronos/test/bigdl/chronos/detector/anomaly/test_th_detector.py
Labels: Chronos

#7461 Chronos: update some missing description in autoformerforecaster api doc
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
Labels: Chronos

#7449 [Nano] Revise PyTorch Inference key feature doc regarding context manager
  docs/readthedocs/source/doc/Nano/Overview/pytorch_inference.md
Labels: document, Nano

#7470 feat: remove pillow dependencies.
  python/orca/src/bigdl/orca/data/image/preprocessing.py
  python/orca/src/bigdl/orca/data/image/voc_dataset.py
Labels: orca

#7471 Orca: fix port name.
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_pyspark_estimator.py
Labels: orca

#7468 Nano: support CPU fp16 when accelerator is openvino
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/openvino/tf/test_openvino_quantize.py
Labels: Nano

#7438 Nano/Chronos: add `packaging` to nano's setup to avoid no module error
  python/nano/setup.py
Labels: Chronos, Nano

#7491 Nano: update windows support document
  docs/readthedocs/source/doc/Nano/Overview/support.md
Labels: document, Nano

#7494 Nano: add setuptools version requirement
  python/nano/setup.py
Labels: Nano

#7453 [Nano] Revise outdated info in PyTorch Inference how-to guides
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/index.rst
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_jit_ipex.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_openvino.ipynb
  python/nano/tutorial/notebook/inference/pytorch/inference_optimizer_optimize.ipynb
  python/nano/tutorial/notebook/inference/pytorch/multi_instance_pytorch_inference.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_context_manager.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_ipex.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_jit.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_onnx.ipynb
  python/nano/tutorial/notebook/inference/pytorch/pytorch_save_and_load_openvino.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_inc.ipynb
  python/nano/tutorial/notebook/inference/pytorch/quantize_pytorch_inference_pot.ipynb
Labels: document, Nano

#7496 Nano: fix notebook cell timed out
  python/nano/notebooks/pytorch/tutorial/run-nano-notebooks-pytorch-tutorial-tests.sh
  python/nano/notebooks/tensorflow/tutorial/run-nano-notebooks-tensorflow-tutorial-tests.sh
Labels: Nano

#7500 Nano: fix input_sample which cause SD fails
  python/nano/src/bigdl/nano/utils/pytorch/input_sample.py
Labels: Nano

#7476 Chronos: update cpu_inference_acceleration example and add related test
  python/chronos/dev/example/run-example-tests.sh
  python/chronos/example/inference-acceleration/README.md
  python/chronos/example/inference-acceleration/cpu_inference_acceleration.py
Labels: Chronos

#7501 Nano: add some exclude test method for inferenceoptimizer ut
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
Labels: Nano

#7465 [Nano] Add How-to Guides Nightly Tests
  .github/actions/nano/pytorch-test/action.yml
  .github/actions/nano/tensorflow-test/action.yml
  python/nano/test/run-nano-pytorch-tests.sh
Labels: Nano

#7511 Nano: fix onnx performance degradation
  python/nano/src/bigdl/nano/deps/onnxruntime/core/onnxruntime_model.py
Labels: Nano

#7516 Chronos: fix quantization related ut
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#7517 Nano: upgrade to ipex 1.13.100
  python/nano/setup.py
  python/nano/src/bigdl/nano/pytorch/strategies/ipex_strategy.py
  python/nano/src/bigdl/nano/pytorch/torch_nano.py
  python/nano/test/pytorch/utils/_train_ipex_callback.py
Labels: Nano

#7508 Nano: update save & load and related ut
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/src/bigdl/nano/pytorch/utils.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/utils.py
  python/nano/test/inc/pytorch/test_quantize.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/pytorch/tests/inference/test_bf16.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
  python/nano/test/tf/inference/test_trace_and_quantize.py
Labels: Nano

#7525 Chronos: reduce overhead during inference
  python/chronos/src/bigdl/chronos/pytorch/utils.py
Labels: Chronos

#7520 Nano: use subprocess to calculate throughput for inc quantizated model
  python/nano/src/bigdl/nano/tf/keras/inference/_worker.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/test/tf/inference/test_inf_optimizer.py
Labels: Nano

#7376 Chronos: support quantization for keras forecasters
  python/chronos/dev/test/run-installation-options.sh
  python/chronos/dev/test/run-pytests.sh
  python/chronos/src/bigdl/chronos/forecaster/tf/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tf/tcn_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/tf/test_tcn_keras_forecaster.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
Labels: Chronos

#7515 [Nano] Make tf bf16 quantization not inplace
  python/nano/src/bigdl/nano/tf/keras/amp/bfloat16.py
  python/nano/test/tf/inference/test_trace_and_quantize.py
  python/nano/tutorial/notebook/inference/tensorflow/tensorflow_inference_bf16.ipynb
Labels: Nano

#7478 Nano: check affinity core number and omp thread number for both PT and TF
  python/nano/src/bigdl/nano/pytorch/__init__.py
  python/nano/src/bigdl/nano/tf/__init__.py
  python/nano/src/bigdl/nano/utils/common/__init__.py
  python/nano/src/bigdl/nano/utils/common/affinity_core.py
Labels: Nano

#7432 Nano: add auto channels_last_3d support
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/amp/bfloat16.py
  python/nano/src/bigdl/nano/utils/pytorch/__init__.py
  python/nano/src/bigdl/nano/utils/pytorch/channel_last.py
  python/nano/test/pytorch/tests/inference/test_bf16.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#7509 Nano: add Unet ut for PyTorch openvino & ipex+jit
  .github/workflows/nano_unit_tests_pytorch.yml
  python/nano/src/bigdl/nano/utils/pytorch/inspect.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#7279 Chronos: support new context manager without overhead
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/pytorch/context_manager.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#7559 Orca: update download link
  docs/readthedocs/source/doc/Orca/Overview/install.md
Labels: orca

#7551 Chronos: fix failed nightly test
  python/chronos/dev/test/run-installation-options.sh
  python/chronos/test/bigdl/chronos/forecaster/tf/test_tcn_keras_forecaster.py
Labels: Chronos

#7553 Nano: update onnx quantization ut
  python/nano/test/onnx/pytorch/test_inc_onnx.py
Labels: Nano

#7544 Chronos: rm chronos prvn from nano/orca's pr to push
  .github/workflows/chronos-example-python-spark.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37.yml
Labels: test, Chronos

#7570 Nano/Chronos: fix performance test again
  python/chronos/benchmark/forecaster_inference/forecaster_inference_benchmark.sh
  python/chronos/benchmark/forecaster_training/forecaster_training_benchmark.sh
  python/chronos/benchmark/tsdataset_processing/tsdataset_processing_benchmark.sh
  python/nano/src/bigdl/nano/utils/common/__init__.py
Labels: test

#7567 Nano: Fix nightly action
  .github/actions/nano/setup-pytorch-env/action.yml
Labels: Nano

#7569 [Orca] Known Issues Update
  docs/readthedocs/source/doc/Orca/Overview/known_issues.md
Labels: orca

#7523 Chronos: upgrade torch to 1.13.1 and add description about onnx in troubleshooting page
  docs/readthedocs/source/doc/Nano/Overview/troubshooting.md
  python/nano/setup.py
  python/nano/src/bigdl/nano/pytorch/context_manager.py
Labels: Chronos

#7588 Nano: Fix affinity detection
  python/nano/src/bigdl/nano/pytorch/__init__.py
  python/nano/src/bigdl/nano/utils/common/__init__.py
  python/nano/src/bigdl/nano/utils/common/affinity.py
Labels: Nano

#7598 [Nano] Add reminder in TF BF16 infer how-to for custom Keras model
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_onnx.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/accelerate_tensorflow_inference_openvino.ipynb
  python/nano/tutorial/notebook/inference/tensorflow/tensorflow_inference_bf16.ipynb
Labels: Nano

#7610 Nano: add same thread num and affinity core check to tf
  python/nano/src/bigdl/nano/tf/__init__.py
Labels: Nano

#7584 Chronos: update dockerfile
  docker/chronos-nightly/Dockerfile
  docker/chronos-nightly/README.md
  docker/chronos-nightly/install-python-env.sh
  docs/readthedocs/source/doc/Chronos/Howto/docker_guide_single_node.md
Labels: Chronos

#7600 Chronos: fix type deprecations in numpy 1.24
  python/chronos/src/bigdl/chronos/data/utils/roll_dataset.py
  python/chronos/src/bigdl/chronos/model/tcmf/time.py
  python/chronos/src/bigdl/chronos/model/tf1/VanillaLSTM_keras.py
  python/chronos/src/setup.py
  python/chronos/test/bigdl/chronos/data/experimental/test_xshardstsdataset.py
Labels: Chronos

#7614 Chronos: deploy default bigdl-chronos image
  .github/workflows/nightly_build.yml
Labels: Chronos

#7603 Chronos: move `import` to reduce inference overhead
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
Labels: Chronos

#7555 [ORCA] Enhance Continuous Training with TF2 PySpark Backend
  python/orca/src/bigdl/orca/learn/tf2/pyspark_estimator.py
  python/orca/src/bigdl/orca/learn/tf2/spark_runner.py
  python/orca/test/bigdl/orca/learn/ray/tf/test_tf_spark_estimator.py
Labels: orca

#7621 Nano: fix `__getattr__` of PytorchIPEXJITModel and update attributes related uts
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_quantization_model.py
  python/nano/test/inc/pytorch/test_quantize.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
  python/nano/test/pytorch/tests/inference/test_bf16.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#7629 Nano: fix bigdl-nano-init and turbojpeg
  python/nano/scripts/bigdl-nano-init
  python/nano/src/bigdl/nano/pytorch/vision/datasets/datasets.py
Labels: Nano

#7630 Chronos: fix docker build error
  .github/workflows/nightly_build.yml
Labels: Chronos

#7605 [Nano] Add installation option for users to choose stock TensorFlow
  .github/workflows/nano_unit_tests_tensorflow.yml
  python/nano/setup.py
Labels: Nano

#7632 Chronos: fix errors caused by `np.object`
  python/chronos/test/bigdl/chronos/data/test_tsdataset.py
Labels: Chronos

#7636 Nano: split tf base UT into train and inference
  .github/actions/nano/tensorflow-test/action.yml
  .github/workflows/nano_unit_tests_tensorflow.yml
  python/nano/test/run-nano-tf-inference-tests.sh
  python/nano/test/run-nano-tf-train-tests.sh
Labels: test, Nano

#7637 Chronos: update how to download from dockerhub in guide
  docker/chronos-nightly/README.md
  docs/readthedocs/source/doc/Chronos/Howto/docker_guide_single_node.md
Labels: Chronos

#7622 [Nano] Update installation panel to include stock TensorFlow
  docs/readthedocs/source/_static/css/nano_installation_guide.css
  docs/readthedocs/source/_static/js/nano_installation_guide.js
  docs/readthedocs/source/doc/Nano/Overview/install.md
Labels: Nano

#7619 [ORCA] Refactor Load Checkpoint with PyTorch Pyspark
  python/orca/src/bigdl/orca/learn/pytorch/core/modelIO.py
Labels: orca

#7647 Nano: fix ut of channels_last_3d_inference
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
Labels: Nano

#7654 Nano: fix saving model compiled without metrics in keras
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/model.py
  python/nano/test/tf/inference/test_inf_optimizer.py
Labels: Nano

#7633 Nano: support compressed saving logic for JIT model
  python/nano/src/bigdl/nano/deps/ipex/ipex_api.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/pytorch/load.py
  python/nano/src/bigdl/nano/utils/pytorch/save.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
Labels: Nano

#7557 Nano: Add a multi-stage pipeline
  python/nano/src/bigdl/nano/pytorch/__init__.py
  python/nano/src/bigdl/nano/pytorch/inference/__init__.py
  python/nano/src/bigdl/nano/pytorch/inference/pipeline.py
  python/nano/test/pytorch/tests/inference/test_pipeline.py
Labels: Nano

#7665 Nano/Chronos: update the requirements txt for chronos and nano
  python/requirements/chronos/requirements_all.txt
  python/requirements/nano/requirements.txt
  python/requirements/nano/requirements_inference.txt
  python/requirements/nano/requirements_tensorflow.txt
  python/requirements/nano/requirements_torch.txt
Labels: Chronos, Nano

#7578 Nano: update quantization dataloader preprocess
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/pytorch/dataloader.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
Labels: Nano

#7656 Nano: fix performance test dependency version
  .github/workflows/performance-regression-test.yml
  python/chronos/benchmark/forecaster_inference/forecaster_inference_benchmark.sh
  python/nano/benchmark/keras_inference_optimizer/run.sh
  python/nano/benchmark/resnet50/pytorch_resnet50_finetune.sh
  python/nano/benchmark/torch_inference_optimizer/optimize.py
Labels: test, Nano

#7673 Nano: fix input shape
  python/nano/benchmark/torch_inference_optimizer/optimize.py
Labels: test, Nano

#7601 Nano: Refactor nano nightly test and add windows nightly test
  .github/actions/nano/pytorch-test/action.yml
  .github/actions/nano/setup-pytorch-env/action.yml
  .github/actions/nano/setup-tensorflow-env/action.yml
  .github/actions/nano/tensorflow-test/action.yml
  .github/workflows/nano-nightly-test.yml
  python/nano/tutorial/notebook/inference/openvino/run-nano-howto-guides-inference-openvino-tests.sh
  python/nano/tutorial/notebook/inference/pytorch/run-nano-howto-guides-inference-pytorch-tests.sh
  python/nano/tutorial/notebook/inference/tensorflow/run-nano-howto-guides-inference-tensorflow-tests.sh
  python/nano/tutorial/notebook/preprocessing/pytorch/run-nano-howto-guides-preprocessing-pytorch-tests.sh
  python/nano/tutorial/notebook/training/pytorch-lightning/run-nano-howto-guides-training-pytorch-lightning-tests.sh
  python/nano/tutorial/notebook/training/pytorch/run-nano-howto-guides-training-pytorch-tests.sh
  python/nano/tutorial/notebook/training/tensorflow/run-nano-howto-guides-training-tensorflow-tests.sh
Labels: test, Nano

#7684 Nano: improve bigdl-nano-init
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#7686 [Nano/Chronos] Restyle installation panel
  docs/readthedocs/source/_static/css/chronos_installation_guide.css
  docs/readthedocs/source/_static/css/installation_panel.css
  docs/readthedocs/source/_static/js/chronos_installation_panel.js
  docs/readthedocs/source/_static/js/nano_installation_panel.js
  docs/readthedocs/source/doc/Chronos/Overview/install.md
  docs/readthedocs/source/doc/Nano/Overview/install.md
Labels: document, Chronos, Nano

#7689 Nano: fix static_int8_ipex model load in performance test
  python/nano/benchmark/torch_inference_optimizer/inference.py
Labels: test, Nano

#7609 Chronos: add nbeatsforecaster hpo and uts
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
Labels: Chronos

#7682 Nano: allow pipeline to specify CPU cores for each stage
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/inference/pipeline.py
  python/nano/src/bigdl/nano/pytorch/strategies/ddp_spawn.py
  python/nano/src/bigdl/nano/utils/common/__init__.py
  python/nano/src/bigdl/nano/utils/common/env.py
  python/nano/test/pytorch/tests/inference/test_pipeline.py
Labels: Nano

#7685 Nano: add invalidInputError for unexpected behaviours
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantized_model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/inc/pytorch/test_quantize.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
Labels: Nano

#7571 Chronos: add nightly test
  .github/workflows/chronos-nb-python-2.4-py37.yml
  python/chronos/dev/test/run-installation-options.sh
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
Labels: Chronos

#7695 Nano: Add more options for InferenceOptimizer and Fix JIT BF16 ut
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/common/optimizer/acceleration_option.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
Labels: Nano

#7702 Nano: quick fix bigdl-nano-init
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#7710 [ORCA] K8s Tutorial Update
  docs/readthedocs/source/doc/Orca/Tutorial/k8s.md
Labels: document, orca

#7703 Chronos: `bigdl.chronos.aiops` first push
  docs/readthedocs/source/doc/PythonAPI/Chronos/aiops.rst
  docs/readthedocs/source/doc/PythonAPI/Chronos/index.rst
  python/chronos/dev/test/run-pytests.sh
  python/chronos/src/bigdl/chronos/aiops/__init__.py
  python/chronos/src/bigdl/chronos/aiops/config_generator/__init__.py
  python/chronos/src/bigdl/chronos/aiops/config_generator/config_generator.py
  python/chronos/src/bigdl/chronos/aiops/config_generator/trigger.py
  python/chronos/src/setup.py
  python/chronos/test/bigdl/chronos/aiops/__init__.py
  python/chronos/test/bigdl/chronos/aiops/test_config_generator.py
  python/requirements/chronos/requirements_all.txt
Labels: Chronos

#7708 Nano: migrate client-stable-diffusion into client application
  python/nano/client-application/StableDiffusion/README.md
  python/nano/client-application/StableDiffusion/launch.py
  python/nano/client-application/StableDiffusion/requirements.txt
  python/nano/client-application/StableDiffusion/stable_diffusion/__init__.py
  python/nano/client-application/StableDiffusion/stable_diffusion/converter.py
  python/nano/client-application/StableDiffusion/stable_diffusion/pipelines/__init__.py
  python/nano/client-application/StableDiffusion/stable_diffusion/pipelines/nano_stable_diffusion.py
  python/nano/client-application/StableDiffusion/stable_diffusion/runner.py
  python/nano/client-application/StableDiffusion/stable_diffusion/runner_process.py
  python/nano/client-application/StableDiffusion/stable_diffusion/utils.py
Labels: Nano
