Repository intel-analytics/ipex-llm, pull requests merged in 2023-05, with the labels that each got.

#8160 Add MKL_DYNAMIC to bigdl-nano sgx profile
  python/nano/scripts/bigdl-nano-init
  python/nano/scripts/bigdl-nano-unset-env
Labels: Nano

#8137 [Nano] Upgrade python to 3.8
  .github/workflows/nano-nightly-test.yml
  .github/workflows/nano_howto_guides_tests.yml
  .github/workflows/nano_notebooks_tests.yml
  .github/workflows/nano_unit_tests_basic.yml
  .github/workflows/nano_unit_tests_tensorflow.yml
  .github/workflows/performance-regression-test.yml
  docs/readthedocs/source/doc/Nano/Overview/install.md
Labels: Nano

#8163 [Nano] Support python 3.10 in nightly test
  .github/actions/nano/setup-pytorch-env/action.yml
  .github/actions/nano/setup-tensorflow-env/action.yml
  .github/workflows/nano-nightly-test.yml
  docs/readthedocs/source/doc/Nano/Overview/install.md
  python/nano/setup.py
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantization.py
Labels: Nano

#8146 [Nano] Add how-to-guide for pytorch async pipeline
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/accelerate_pytorch_inference_async_pipeline.nblink
  docs/readthedocs/source/doc/Nano/Howto/Inference/PyTorch/index.rst
  docs/readthedocs/source/doc/Nano/Howto/index.rst
  python/nano/tutorial/notebook/inference/pytorch/accelerate_pytorch_inference_async_pipeline.ipynb
Labels: document, Nano

#8174 [Nano] fix link of win.md
  docs/readthedocs/source/doc/Nano/Howto/Install/windows_guide.md
Labels: document, Nano

#8175 [nano]Fix nano nightly test
  .github/actions/nano/pytorch-test/action.yml
Labels: test, Nano

#8173 Nano: make get_cgroup_cpuset function flexible for a subset of resource
  python/nano/src/bigdl/nano/utils/common/schedule.py
Labels: Nano

#8048 Chronos: improve prvd and nb tests with more python versions
  .github/workflows/chronos-example-python-spark31.yml
  .github/workflows/chronos-howto-guides-python-spark31.yml
  .github/workflows/chronos-install-option-py38-test.yml
  .github/workflows/chronos-nb-python-spark31.yml
  .github/workflows/chronos-notebook-python-spark31.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37.yml
  .github/workflows/chronos-prvn-python-spark31.yml
  docs/readthedocs/source/_static/js/chronos_installation_panel.js
  docs/readthedocs/source/doc/Chronos/Overview/install.md
  python/chronos/colab-notebook/howto/how_to_export_torchscript_files.ipynb
  python/chronos/dev/test/run-benchmark-tool.sh
  python/chronos/dev/test/run-pytests-howto-guides.sh
  python/chronos/src/setup.py
  python/chronos/use-case/AIOps/AIOps_anomaly_detect_unsupervised.ipynb
  python/dev/release_default_linux.sh
Labels: test, Chronos

#8193 Orca: add requirement in docker.
  docker/orca/install-orca-env.sh
Labels: orca

#8191 Chronos: quick fix OMP_NUM_THREADS setting of multi processes test
  .github/workflows/chronos-nb-python-spark31.yml
  .github/workflows/chronos-prvn-python-spark31.yml
  python/chronos/dev/test/run-installation-options.sh
  python/chronos/dev/test/run-pytests.sh
Labels: Chronos

#8210 Orca: modify dockerfile, change ADD to COPY
  docker/orca/Dockerfile
Labels: orca

#8213 Chronos: fix SDL error of Dockerfile
  docker/chronos-nightly/Dockerfile
Labels: Chronos

#8207 [Nano] Update ipex to 2.0.1 for nano and restore ipex related tests
  python/nano/setup.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
  python/nano/test/pytorch/tests/train/torch_nano/test_torch_nano_ipex.py
  python/nano/test/pytorch/tests/train/trainer/test_plugin_ipex.py
  python/nano/test/pytorch/tests/train/trainer/test_trainer_ipex.py
Labels: Nano

#8225 LLM: add first round files
  python/llm/readme.md
  python/llm/setup.py
  python/llm/src/bigdl/__init__.py
  python/llm/src/bigdl/llm/__init__.py
  python/llm/src/bigdl/llm/ggml/__init__.py
Labels: llm

#8222 fix: hadolint info and warning for Dockerfile.
  docker/orca/Dockerfile
  docker/orca/download-bigdl.sh
  docker/orca/install-orca-env.sh
Labels: orca

#8221 Chronos: fix SDL related warning and info in Dockerfile
  docker/chronos-nightly/Dockerfile
Labels: Chronos

#8237 [nano]fix optuna version
  .github/actions/nano/setup-pytorch-env/action.yml
  .github/actions/nano/setup-tensorflow-env/action.yml
  .github/workflows/nano_unit_tests_pytorch.yml
  .github/workflows/nano_unit_tests_tensorflow.yml
  docs/readthedocs/source/doc/Nano/Overview/hpo.rst
  python/nano/notebooks/hpo/custom.ipynb
  python/nano/notebooks/hpo/seq_and_func.ipynb
Labels: test, Nano

#8235 LLM: support converting to ggml format
  python/llm/dev/test/pep8-1.7.0.py
  python/llm/src/bigdl/llm/ggml/__init__.py
  python/llm/src/bigdl/llm/ggml/convert.py
  python/llm/src/bigdl/llm/utils/convert_util.py
Labels: llm
