Repository intel-analytics/ipex-llm, pull requests merged in 2023-03, with the labels that each got.

#7699 Nano: support oneccl as process group backend
  .github/actions/nano/setup-pytorch-env/action.yml
  .github/workflows/nano_unit_tests_pytorch.yml
  python/nano/src/bigdl/nano/deps/ray/ray_distributed.py
  python/nano/src/bigdl/nano/pytorch/strategies/ddp_spawn.py
  python/nano/src/bigdl/nano/pytorch/strategies/k8s.py
  python/nano/src/bigdl/nano/pytorch/torch_nano.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/test/pytorch/tests/train/torch_nano/test_torch_nano.py
  python/nano/test/pytorch/tests/train/trainer/test_plugin.py
  python/nano/test/ray/test_ray_trainer.py
  python/nano/test/ray/test_torch_nano_ray.py
Labels: Nano

#7713 Nano: upgrade jemalloc to 5.3.0
  python/nano/setup.py
  python/nano/test/run-nano-tf-train-tests.sh
Labels: Nano

#7720 Nano: update oneccl support based on comments
  python/nano/src/bigdl/nano/pytorch/torch_nano.py
  python/nano/src/bigdl/nano/pytorch/trainer/Trainer.py
  python/nano/src/bigdl/nano/utils/pytorch/__init__.py
  python/nano/src/bigdl/nano/utils/pytorch/check_deps.py
Labels: Nano

#7721 Nano: update installation part of sd application
  python/nano/client-application/StableDiffusion/README.md
Labels: Nano

#7729 Nano: remove performance related part of sd application
  python/nano/client-application/StableDiffusion/README.md
Labels: Nano

#7638 Chronos: support numpy in and out onnx/openvino models without converting to tensors
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/lstm_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/nbeats_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/seq2seq_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/tcn_forecaster.py
  python/chronos/src/bigdl/chronos/pytorch/utils.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_seq2seq_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/deps/onnxruntime/pytorch/pytorch_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
Labels: Chronos

#7730 [ORCA] Update Databricks Doc for Runtime Version Issue
  docs/readthedocs/source/doc/UserGuide/databricks.md
Labels: document, orca

#7735 [Nano] Make methods from `BaseInferenceOptimizer` shown in api doc of TF `InferenceOptimizer`
  docs/readthedocs/source/doc/PythonAPI/Nano/tensorflow.rst
Labels: document, Nano

#7737 Nano: fix trace custom model which doesn't support `compute_output_shape`
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/tf/__init__.py
  python/nano/src/bigdl/nano/utils/tf/preprocess.py
  python/nano/test/tf/inference/test_trace_and_quantize.py
Labels: Nano

#7663 Chronos: fix quantization of openvino
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_lstm_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_nbeats_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_tcn_forecaster.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/metric.py
Labels: Chronos

#7756 Chronos: fix ImportError of `TSPipeline`
  python/chronos/src/bigdl/chronos/autots/__init__.py
Labels: Chronos

#7743 Nano: add CentOS nightly test
  .github/actions/nano/pytorch-test/action.yml
  .github/actions/nano/remove-pytorch-env/action.yml
  .github/actions/nano/remove-tensorflow-env/action.yml
  .github/actions/nano/setup-pytorch-env/action.yml
  .github/actions/nano/setup-tensorflow-env/action.yml
  .github/actions/nano/tensorflow-test/action.yml
  .github/workflows/nano-nightly-test.yml
Labels: test, Nano

#7749 Nano: add output_tensors parameter for `quantize` and `optimize`
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/test/onnx/pytorch/test_inc_onnx.py
  python/nano/test/onnx/pytorch/test_onnx.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
Labels: Nano

#7759 Nano: fix set torch num threads
  python/nano/src/bigdl/nano/pytorch/__init__.py
Labels: Nano

#7483 Nano: support jit int8 quantization for pytorch
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/pytorch/low_precision/jit_int8_api.py
  python/nano/src/bigdl/nano/pytorch/low_precision/jit_int8_model.py
  python/nano/src/bigdl/nano/utils/common/optimizer/acceleration_option.py
  python/nano/src/bigdl/nano/utils/common/optimizer/format.py
  python/nano/src/bigdl/nano/utils/common/optimizer/optimizer.py
  python/nano/src/bigdl/nano/utils/pytorch/load.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
  python/nano/test/run-nano-codestyle-test.sh
Labels: Nano

#7781 Nano: remove the usage of `py_function` when using openvino
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/tf/new_model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/new_model.py
  python/nano/src/bigdl/nano/utils/tf/__init__.py
  python/nano/src/bigdl/nano/utils/tf/data.py
  python/nano/test/tf/inference/test_trace_and_quantize.py
Labels: Nano

#7766 Nano: TF customized training loop multi-process training
  python/nano/src/bigdl/nano/tf/keras/__init__.py
  python/nano/src/bigdl/nano/tf/keras/customized_training_utils.py
  python/nano/test/run-nano-tf-train-tests.sh
  python/nano/test/tf/train/test_tf_nano_decorator.py
Labels: Nano

#7786 Nano: Remove the usage of `py_function` when using onnxruntime
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api_2.py
  python/nano/src/bigdl/nano/deps/neural_compressor/onnx/tensorflow/quantization.py
  python/nano/src/bigdl/nano/deps/onnxruntime/onnxruntime_api.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/new_model.py
  python/nano/src/bigdl/nano/utils/tf/preprocess.py
  python/nano/test/onnx/tf/test_inc_onnx.py
  python/nano/test/onnx/tf/test_onnx.py
  python/nano/test/tf/inference/test_trace_and_quantize.py
Labels: Nano

#7792 Nano: remove usage of `py_function` when using inc
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api.py
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api_2.py
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/new_model.py
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/quantization.py
Labels: Nano

#7800 [Nano/Chronos] Fixed failure in API doc rendering
  docs/readthedocs/source/conf.py
Labels: document, Chronos, Nano

#7698 [ORCA] Reduce Training Time Cost with PyTorch Pyspark Estimator
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_pyspark_estimator.py
  python/orca/src/bigdl/orca/learn/pytorch/pytorch_pyspark_worker.py
Labels: orca

#7472 [Chronos] add multi-process dataloader support in chronos base_forecaster
  python/chronos/src/bigdl/chronos/forecaster/base_forecaster.py
  python/chronos/src/bigdl/chronos/forecaster/utils.py
Labels: Chronos

#7817 Nano: code cleanup
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api.py
  python/nano/src/bigdl/nano/deps/neural_compressor/inc_api_2.py
  python/nano/src/bigdl/nano/deps/neural_compressor/onnx/tensorflow/quantization.py
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/model.py
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/new_model.py
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/quantization.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/tensorflow_onnxruntime_model.py
  python/nano/src/bigdl/nano/deps/openvino/openvino_api.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/new_model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/model.py
  python/nano/src/bigdl/nano/tf/new_model.py
  python/nano/src/bigdl/nano/utils/tf/__init__.py
  python/nano/src/bigdl/nano/utils/tf/data.py
Labels: Nano

#7815 Nano: quick fix a small issue
  python/nano/src/bigdl/nano/pytorch/amp/bfloat16.py
Labels: Nano

#7824 Nano: fix schedule of GOMP
  python/nano/scripts/bigdl-nano-init
  python/nano/src/bigdl/nano/pytorch/__init__.py
Labels: Nano

#7826 Nano: Remove output_shape usage
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/tf/__init__.py
  python/nano/src/bigdl/nano/utils/tf/preprocess.py
  python/nano/test/tf/inference/test_trace_and_quantize.py
Labels: Nano

#7833 Nano: fix tf bf16 conversion for functional API model with Conv2DTranspose layer
  python/nano/src/bigdl/nano/tf/keras/amp/bfloat16.py
  python/nano/test/tf/inference/test_trace_and_quantize.py
Labels: Nano

#7837 Nano: support tf onnx passing kwargs
  python/nano/src/bigdl/nano/deps/neural_compressor/tensorflow/model.py
  python/nano/src/bigdl/nano/deps/onnxruntime/tensorflow/model.py
  python/nano/src/bigdl/nano/deps/openvino/tf/model.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
  python/nano/src/bigdl/nano/tf/model.py
  python/nano/src/bigdl/nano/utils/tf/data.py
Labels: Nano

#7852 Nano: support dynamic axes for GPU
  python/nano/src/bigdl/nano/deps/openvino/pytorch/model.py
  python/nano/test/openvino/pytorch/test_openvino.py
  python/nano/test/openvino/pytorch/test_openvino_quantize.py
Labels: Nano

#7856 Nano: quick fix torch optimizer
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
Labels: Nano

#7823 Nano: check whether `bigdl-nano-init` was sourced
  python/nano/scripts/bigdl-nano-init
Labels: Nano

#7803 Nano: latency multi samples calculator
  python/nano/src/bigdl/nano/pytorch/inference/optimizer.py
  python/nano/src/bigdl/nano/utils/common/optimizer/__init__.py
  python/nano/src/bigdl/nano/utils/common/optimizer/latency.py
  python/nano/test/pytorch/tests/inference/test_inference_optimizer.py
Labels: Nano

#7859 Chronos: fix nightly build test
  python/chronos/dev/test/run-installation-options.sh
  python/chronos/src/bigdl/chronos/autots/__init__.py
  python/chronos/src/bigdl/chronos/autots/autotsestimator.py
  python/chronos/test/bigdl/chronos/autots/test_autotsestimator.py
Labels: test, Chronos

#7884 Nano: quick fix performance test
  python/nano/benchmark/torch_inference_optimizer/inference.py
Labels: test, Nano

#7886 Nano: fix jit int8
  python/nano/src/bigdl/nano/pytorch/low_precision/jit_int8_model.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
  python/nano/test/pytorch/tests/train/trainer/test_trainer_precision.py
Labels: Nano

#7874 Chronos: update `ThresholdDetector` and anomaly detect example
  python/chronos/src/bigdl/chronos/detector/anomaly/th_detector.py
  python/chronos/use-case/AIOps/AIOps_anomaly_detect_unsupervised_forecast_based.ipynb
  python/chronos/use-case/AIOps/README.md
Labels: Chronos

#7903 Chronos: improve test clean env logic
  .github/workflows/chronos-example-python-spark.yml
  .github/workflows/chronos-howto-guides-test.yml
  .github/workflows/chronos-install-option-py38-test.yml
  .github/workflows/chronos-nb-python-2.4-py37.yml
  .github/workflows/chronos-notebook-python-spark.yml
  .github/workflows/chronos-prvn-python-spark-2.4-py37.yml
  .github/workflows/chronos-prvn-python-spark-3.1-py37.yml
Labels: test, Chronos

#7898 Chronos: add anomaly detection example to docker and test script
  .github/workflows/chronos-notebook-python-spark.yml
  docker/chronos-nightly/Dockerfile
  python/chronos/dev/app/run-app-tests-pip.sh
  python/chronos/use-case/AIOps/AIOps_anomaly_detect_unsupervised_forecast_based.ipynb
Labels: Chronos

#7901 Nano: fix nightly test
  .github/actions/nano/pytorch-test/action.yml
Labels: test, Nano

#7920 Nano: Fix jit int8 save
  python/nano/src/bigdl/nano/pytorch/low_precision/jit_int8_model.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#7862 Nano: fix tf load model with custom objects
  python/nano/src/bigdl/nano/tf/keras/amp/bfloat16.py
  python/nano/src/bigdl/nano/tf/keras/inference/optimizer.py
Labels: Nano

#7950 Chronos: fix implementation of TCNForecaster of tensorflow backend
  python/chronos/src/bigdl/chronos/model/tf2/TCN_keras.py
Labels: Chronos

#7940 Chronos: support context manager in AutoformerForecaster
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
  python/chronos/test/bigdl/chronos/forecaster/test_autoformer_forecaster.py
Labels: Chronos

#7961 Chronos: quick fix autoformer and prvd test
  python/chronos/dev/test/run-pytests.sh
  python/chronos/src/bigdl/chronos/forecaster/autoformer_forecaster.py
Labels: Chronos

#7962 [Nano] Fix missing `enable_onednn` paramater for `PytorchIPEXJITBF16Model`
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_bf16_model.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
Labels: Nano

#7958 [Nano] support keyword argument for `PytorchIPEXJITModel` model
  python/nano/src/bigdl/nano/deps/ipex/ipex_inference_model.py
  python/nano/test/pytorch/tests/inference/test_bf16_ipex.py
  python/nano/test/pytorch/tests/inference/test_ipex_jit_inference.py
Labels: Nano

#7960 Chronos: AIOps User Guide
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/Chronos/Image/aiops-workflow.png
  docs/readthedocs/source/doc/Chronos/Overview/aiops.md
  docs/readthedocs/source/doc/Chronos/Overview/deep_dive.rst
Labels: document, Chronos
