Repository intel-analytics/ipex-llm, pull requests merged in 2023-10, with the labels that each got.

#9067 LLM: basic api support for esimd fp16
  python/llm/src/bigdl/llm/ggml/quantize.py
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/low_bit_linear.py
  python/llm/src/bigdl/llm/transformers/model.py
Labels: llm

#9113 LLM: improve transformers style API doc
  docs/readthedocs/source/doc/PythonAPI/LLM/optimize.rst
  docs/readthedocs/source/doc/PythonAPI/LLM/transformers.rst
  python/llm/src/bigdl/llm/utils/lazy_load_torch.py
Labels: document, llm

#9112 LLM: add benchmark script for Max gpu and ipex fp16 gpu
  python/llm/dev/benchmark/all-in-one/README.md
  python/llm/dev/benchmark/all-in-one/config.yaml
  python/llm/dev/benchmark/all-in-one/run-max-gpu.sh
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#9122 LLM: update setup.py to add `bigdl-core-xe-esimd` package
  python/llm/setup.py
Labels: llm

#9126 LLM: update benchmark_util.py for beam search
  python/llm/dev/benchmark/benchmark_util.py
Labels: llm

#9129 LLM: fix llama tokenizer for all-in-one benchmark
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#9136 LLM: update some gpu examples
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/aquila/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/aquila/generate.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/dolly-v1/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/dolly-v1/generate.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/dolly-v2/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/dolly-v2/generate.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/vicuna/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/vicuna/generate.py
Labels: llm

#9137 LLM: fix inaccurate input / output tokens of current all-in-one benchmark
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#9141 LLM: support num_beams in all-in-one benchmark
  python/llm/dev/benchmark/all-in-one/README.md
  python/llm/dev/benchmark/all-in-one/config.yaml
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#9142 LLM: add gpu pytorch-models example llama2 and chatglm2
  python/llm/example/GPU/PyTorch-Models/Model/README.md
  python/llm/example/GPU/PyTorch-Models/Model/chatglm2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/chatglm2/generate.py
  python/llm/example/GPU/PyTorch-Models/Model/chatglm2/streamchat.py
  python/llm/example/GPU/PyTorch-Models/Model/llama2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/llama2/generate.py
Labels: llm

#9148 LLM: Fix Qwen kv_cache optimization
  python/llm/src/bigdl/llm/transformers/models/qwen.py
Labels: llm

#9152 LLM: add baichuan and baichuan2 to gpu pytorch model example
  python/llm/example/GPU/PyTorch-Models/Model/README.md
  python/llm/example/GPU/PyTorch-Models/Model/baichuan/README.md
  python/llm/example/GPU/PyTorch-Models/Model/baichuan/generate.py
  python/llm/example/GPU/PyTorch-Models/Model/baichuan2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/baichuan2/generate.py
Labels: llm

#9153 LLM: add dolly-v1 and dolly-v2 to gpu pytorch model example
  python/llm/example/GPU/PyTorch-Models/Model/dolly-v1/README.md
  python/llm/example/GPU/PyTorch-Models/Model/dolly-v1/generate.py
  python/llm/example/GPU/PyTorch-Models/Model/dolly-v2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/dolly-v2/generate.py
Labels: llm

#9154 LLM: add replit and starcoder to gpu pytorch model example
  python/llm/example/GPU/PyTorch-Models/Model/README.md
  python/llm/example/GPU/PyTorch-Models/Model/replit/README.md
  python/llm/example/GPU/PyTorch-Models/Model/replit/generate.py
  python/llm/example/GPU/PyTorch-Models/Model/starcoder/README.md
  python/llm/example/GPU/PyTorch-Models/Model/starcoder/generate.py
Labels: llm

#9166 LLM: add fuse rope and norm optimization for Baichuan.
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/models/baichuan.py
  python/llm/src/bigdl/llm/transformers/models/baichuan2.py
Labels: llm

#9165 LLM: add kv_cache optimization for chatglm2-6b-32k
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/models/chatglm2_32k.py
Labels: llm

#9184 LLM: add fuse optimization for Mistral.
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/models/mistral.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#9180 expose modules_to_not_convert in optimize_model
  python/llm/src/bigdl/llm/optimize.py
  python/llm/src/bigdl/llm/transformers/model.py
Labels: llm

#9190 LLM: fix convert of chatglm
  python/llm/src/bigdl/llm/transformers/convert.py
Labels: llm

#9191 LLM: fix ChatGLMConfig check
  python/llm/src/bigdl/llm/transformers/convert.py
Labels: llm

#9193 LLM: support kv_cache optimization for Qwen-VL-Chat
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/qwen/generate.py
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/models/qwen_vl.py
Labels: llm

#9179 LLM: add CPU More-Data-Types and Save-Load examples
  python/llm/example/CPU/PyTorch-Models/More-Data-Types/.keep
  python/llm/example/CPU/PyTorch-Models/More-Data-Types/README.md
  python/llm/example/CPU/PyTorch-Models/More-Data-Types/generate.py
  python/llm/example/CPU/PyTorch-Models/Save-Load/.keep
  python/llm/example/CPU/PyTorch-Models/Save-Load/README.md
  python/llm/example/CPU/PyTorch-Models/Save-Load/generate.py
Labels: llm

#9186 LLM: update example doc page
  docs/readthedocs/source/doc/LLM/Overview/examples.rst
  docs/readthedocs/source/doc/LLM/Overview/examples_cpu.md
  docs/readthedocs/source/doc/LLM/Overview/examples_gpu.md
Labels: document, llm

#9183 LLM: add save & load usage in PyTorch API key feature page
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/optimize_model.md
Labels: document, llm

#9208 Chronos: fix psutil version
  python/chronos/src/setup.py
Labels: Chronos

#9210 LLM: fix wrong length in gptj kv_cache optimization
  python/llm/src/bigdl/llm/transformers/models/gptj.py
Labels: llm

#9215 LLM: fix chatglm kv cache optimization
  python/llm/src/bigdl/llm/transformers/models/chatglm.py
Labels: llm

#9212 LLM: improve gpu supports key feature doc page
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/finetune.md
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/gpu_supports.md
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/gpu_supports.rst
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/index.rst
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/inference_on_gpu.md
  docs/readthedocs/source/doc/LLM/Overview/install_gpu.md
Labels: document, llm

#9222 LLM: update langchain api document page
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/hugging_face_format.md
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/langchain_api.md
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/native_format.md
  docs/readthedocs/source/doc/PythonAPI/LLM/langchain.rst
  docs/readthedocs/source/index.rst
  python/llm/src/bigdl/llm/langchain/embeddings/transformersembeddings.py
  python/llm/src/bigdl/llm/langchain/llms/transformersllm.py
Labels: document, llm

#9255 LLM: fix benchmark issue
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#9257 LLM: add `low_bit` option in benchmark scripts
  python/llm/dev/benchmark/all-in-one/config.yaml
  python/llm/dev/benchmark/all-in-one/run.py
Labels: llm

#9264 LLM: update perf test configuration
  python/llm/test/benchmark/arc-perf-test.yaml
Labels: llm

#9281 LLM: fix pretraining_tp arguments issue.
  python/llm/src/bigdl/llm/transformers/model.py
Labels: llm

#9291 [LLM] Skip CPU performance test for now
  .github/workflows/llm_performance_tests.yml
Labels: llm

#9314 LLM: update QLoRA example about accelerate version
  python/llm/example/GPU/QLoRA-FineTuning/README.md
Labels: llm
