Repository intel-analytics/ipex-llm, pull requests merged in 2023-06, with the labels that each got.

#8238 Add dev wheel building script for LLM package on Windows
  .github/workflows/llm_unit_tests_basic_windows.yml
  python/llm/dev/release.sh
  python/llm/dev/release_default_windows.sh
Labels: llm

#8250 LLM: fix and update related license in llama pybinding
  python/llm/src/bigdl/llm/ggml/model/llama/llama.py
  python/llm/src/bigdl/llm/ggml/model/llama/llama_cpp.py
  python/llm/src/bigdl/llm/ggml/model/llama/llama_types.py
Labels: llm

#8234 LLM: first push gptneox pybinding
  python/llm/src/bigdl/llm/ggml/model/__init__.py
  python/llm/src/bigdl/llm/ggml/model/gptneox/__init__.py
  python/llm/src/bigdl/llm/ggml/model/gptneox/gptneox.py
  python/llm/src/bigdl/llm/ggml/model/gptneox/gptneox_cpp.py
  python/llm/src/bigdl/llm/ggml/model/gptneox/gptneox_types.py
Labels: llm

#8252 [LLM] First push for Bloomz pybinding
  python/llm/src/bigdl/llm/ggml/model/bloom/__init__.py
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom.py
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom_cpp.py
Labels: llm

#8243 [LLM] Enable UT workflow logics for LLM
  .github/workflows/llm_unit_tests_basic_windows.yml
  python/llm/dev/release.sh
  python/llm/test/__init__.py
  python/llm/test/packaging/test_install.py
  python/llm/test/run-llm-basic-tests.sh
Labels: llm

#8244 [llm] Add convert_model api
  python/llm/src/bigdl/llm/ggml/__init__.py
  python/llm/src/bigdl/llm/ggml/convert_model.py
  python/llm/src/bigdl/llm/ggml/quantize.py
Labels: llm

#8226 [ORCA] Replace Optimizer_weights for Upgrading to TensorFlow 2.12
  python/orca/src/bigdl/orca/learn/tf2/pyspark_estimator.py
  python/orca/src/bigdl/orca/learn/tf2/spark_runner.py
Labels: orca

#8262 LLM: accelerate sample of gptneox and update quantize
  python/llm/src/bigdl/llm/ggml/convert_model.py
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom.py
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom_cpp.py
  python/llm/src/bigdl/llm/ggml/model/gptneox/gptneox.py
  python/llm/src/bigdl/llm/ggml/model/gptneox/gptneox_cpp.py
  python/llm/src/bigdl/llm/ggml/quantize.py
Labels: llm

#8260 [LLM] add convert's python deps for LLM
  .github/workflows/llm_unit_tests_basic_windows.yml
  python/llm/dev/release.sh
  python/llm/setup.py
Labels: llm

#8271 [LLM] Add transformers-like API from_pretrained
  python/llm/src/bigdl/llm/ggml/convert_model.py
  python/llm/src/bigdl/llm/ggml/quantize.py
  python/llm/src/bigdl/llm/ggml/transformers/__init__.py
  python/llm/src/bigdl/llm/ggml/transformers/model.py
Labels: llm

#8279 [LLM] add long time loading disclaimer for LLM model converting
  python/llm/src/bigdl/llm/ggml/convert.py
Labels: llm

#8276 [LLM] llm transformers format interface
  python/llm/src/bigdl/llm/ggml/model/generation/__init__.py
  python/llm/src/bigdl/llm/ggml/model/generation/utils.py
  python/llm/src/bigdl/llm/ggml/model/gptneox/gptneox.py
  python/llm/src/bigdl/llm/ggml/model/llama/llama.py
Labels: llm

#8282 Chronos: fix failed nightly docker build
  docker/chronos-nightly/Dockerfile
Labels: Chronos

#8283 LLM: Support `generate(max_new_tokens=...)`, `tokenize` and `decode` for transformers-like API
  python/llm/src/bigdl/llm/ggml/model/generation/utils.py
  python/llm/src/bigdl/llm/ggml/model/gptneox/gptneox.py
  python/llm/src/bigdl/llm/ggml/model/llama/llama.py
Labels: llm

#8278 LLM: enhancements for `convert_model`
  python/llm/setup.py
  python/llm/src/bigdl/llm/ggml/convert.py
  python/llm/src/bigdl/llm/ggml/convert_model.py
  python/llm/src/bigdl/llm/ggml/quantize.py
  python/llm/src/bigdl/llm/ggml/transformers/model.py
Labels: llm

#8264 [LLM] Add dev wheel building and basic UT script for LLM package on Linux
  .github/workflows/llm_unit_tests_basic_linux.yml
  python/llm/dev/release_default_linux.sh
Labels: llm

#8284 LLM: add bloom dll/exe in setup
  python/llm/setup.py
Labels: llm

#8280 LLM: add stop words and enhance output for bloom pybinding
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom.py
Labels: llm

#8297 LLM: avoid unnecessary `import torch` except converting process
  python/llm/src/bigdl/llm/utils/convert_util.py
Labels: llm

#8239 LLM: Command line wrapper for llama/bloom/gptneox
  python/llm/README.md
  python/llm/setup.py
  python/llm/src/bigdl/llm/cli/llm-cli
  python/llm/src/bigdl/llm/cli/llm-cli.ps1
Labels: llm

#8288 [LLM] llm transformers api support batch actions
  python/llm/src/bigdl/llm/ggml/model/generation/utils.py
Labels: llm

#8304 LLM: fix convert path error of gptneox and bloom on windows
  python/llm/src/bigdl/llm/utils/convert_util.py
Labels: llm

#8306 Nano: support tuple kwargs for OpenVINO
  python/nano/src/bigdl/nano/deps/openvino/core/model.py
  python/nano/test/openvino/pytorch/test_openvino.py
Labels: Nano

#8286 [LLM] Add examples for `gptneox`, `llama`, and `bloom` family model using transformers-like API
  python/llm/example/bloom/README.md
  python/llm/example/bloom/bloom.py
  python/llm/example/gptneox/README.md
  python/llm/example/gptneox/gptneox.py
  python/llm/example/llama/README.md
  python/llm/example/llama/llama.py
Labels: example, llm

#8296 LLM: add new readme as first version document
  python/llm/README.md
Labels: llm

#8315 [LLM] Unify transformers-like API example for 3 different model families
  python/llm/example/bloom/README.md
  python/llm/example/bloom/bloom.py
  python/llm/example/gptneox/README.md
  python/llm/example/gptneox/gptneox.py
  python/llm/example/llama/README.md
  python/llm/example/llama/llama.py
  python/llm/example/transformers/README.md
  python/llm/example/transformers/int4_pipeline.py
Labels: example, llm

#8256 [LLM] langchain integrations and examples
  python/llm/dev/test/lint-python
  python/llm/example/langchain/README.md
  python/llm/example/langchain/docqa.py
  python/llm/example/langchain/streamchat.py
  python/llm/example/simple.py
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom.py
  python/llm/src/bigdl/llm/langchain/__init__.py
  python/llm/src/bigdl/llm/langchain/embeddings/__init__.py
  python/llm/src/bigdl/llm/langchain/embeddings/bigdlllm.py
  python/llm/src/bigdl/llm/langchain/llms/__init__.py
  python/llm/src/bigdl/llm/langchain/llms/bigdlllm.py
Labels: llm

#8313 Nano: fix bug of `@nano(use_ipex=True)`
  python/nano/src/bigdl/nano/pytorch/torch_nano.py
  python/nano/test/pytorch/tests/train/torch_nano/test_torch_nano_ipex.py
Labels: Nano

#8277 Orca: fix API compatibility for tf2.12 in ray backend Estimator.
  python/orca/src/bigdl/orca/learn/tf2/tf_runner.py
  python/orca/test/bigdl/orca/learn/spark/test_tf2_estimator.py
Labels: orca

#8323 LLM: Update subprocess to show error message
  python/llm/src/bigdl/llm/ggml/quantize.py
Labels: llm

#8322 Fix missing import of ipex int8 model
  python/nano/src/bigdl/nano/deps/neural_compressor/pytorch/quantized_model.py
Labels: Nano

#8298 add convert-gptq-to-ggml.py to bigdl-llama
  python/llm/src/bigdl/llm/gptq/convert/convert-gptq-to-ggml.py
Labels: llm

#8316 LLM: first add `_tokenize`, `detokenize` and `_generate` for bloom pybinding
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom.py
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom_cpp.py
  python/llm/src/bigdl/llm/ggml/model/gptneox/gptneox.py
  python/llm/src/bigdl/llm/ggml/model/llama/llama.py
Labels: llm

#8326 LLM: update `convert_model` to support int8
  python/llm/src/bigdl/llm/ggml/convert_model.py
Labels: llm

#8329 LLM: binary file version control on source forge
  .github/workflows/llm_unit_tests_basic_linux.yml
  .github/workflows/llm_unit_tests_basic_windows.yml
  python/llm/setup.py
Labels: llm

#8320 [LLM] Add Actions for downloading & converting models
  .github/workflows/llm_unit_test_linux.yml
  .github/workflows/llm_unit_tests_windows.yml
  python/llm/test/basic/convert/test_convert_model.py
  python/llm/test/basic/install/test_install.py
  python/llm/test/run-llm-basic-tests.sh
Labels: llm

#8338 LLM: support int8 and tmp_path for `from_pretrained`
  python/llm/src/bigdl/llm/ggml/transformers/model.py
Labels: llm

#8342 LLM: fix match in setup.py
  python/llm/setup.py
Labels: llm

#8339 Orca: upgrade protobuf.
  python/orca/src/setup.py
  python/requirements/orca/requirements_automl.txt
  python/requirements/orca/requirements_ray.txt
Labels: orca

#8345 LLM: Update convert of gpenox to sync with new libgptneox.so
  python/llm/src/bigdl/llm/utils/convert_util.py
Labels: llm

#8349 [LLM] Refactor LLM Linux tests
  .github/workflows/llm-nightly-test.yml
  .github/workflows/llm_unit_tests_linux.yml
  .github/workflows/llm_unit_tests_windows.yml
  python/llm/test/convert/test_convert_model.py
  python/llm/test/install/test_install.py
  python/llm/test/run-llm-basic-tests.sh
  python/llm/test/run-llm-convert-tests.sh
  python/llm/test/run-llm-install-tests.sh
Labels: llm

#8343 [LLM] Unittest for llm-cli
  .github/actions/llm/llm-cli-flow-verification-linux/action.yml
  .github/workflows/llm_unit_tests_linux.yml
Labels: llm

#8346 LLM: add basic uts related to inference
  .github/workflows/llm_unit_tests_linux.yml
  python/llm/test/inference/test_call_models.py
  python/llm/test/run-llm-inference-tests.sh
Labels: llm

#8341 Chronos: update tensorflow support in installation doc
  docs/readthedocs/source/_static/css/installation_panel.css
  docs/readthedocs/source/doc/Chronos/Overview/install.md
Labels: Chronos

#8362 LLM: fix bugs during supporting bloom in langchain
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom.py
Labels: llm

#8359 LLM: convert and quantize support for StarCoder
  python/llm/src/bigdl/llm/ggml/convert.py
  python/llm/src/bigdl/llm/ggml/convert_model.py
  python/llm/src/bigdl/llm/ggml/quantize.py
  python/llm/src/bigdl/llm/ggml/transformers/model.py
  python/llm/src/bigdl/llm/utils/convert_util.py
Labels: llm

#8374 [LLM] README revise for `llm_convert`
  python/llm/README.md
Labels: llm

#8373 Chronos: quick fix failed INC related tests
  .github/workflows/chronos-nb-python-spark31.yml
Labels: Chronos

#8354 LLM: First commit of StarCoder pybinding
  python/llm/setup.py
  python/llm/src/bigdl/llm/ggml/model/starcoder/__init__.py
  python/llm/src/bigdl/llm/ggml/model/starcoder/starcoder.py
  python/llm/src/bigdl/llm/ggml/model/starcoder/starcoder_cpp.py
Labels: llm

#8377 LLM: support starcoder in llm-cli
  python/llm/src/bigdl/llm/cli/llm-cli
  python/llm/src/bigdl/llm/cli/llm-cli.ps1
  python/llm/src/bigdl/llm/models.py
  python/llm/src/bigdl/llm/utils/convert_util.py
Labels: llm

#8378 LLM: fix `ModuleNotFoundError` when use llm-cli
  python/llm/src/bigdl/llm/convert_model.py
Labels: llm

#8357 [LLM] langchain bloom, UT's, default parameters
  .github/workflows/llm_unit_tests_linux.yml
  python/llm/src/bigdl/llm/langchain/embeddings/bigdlllm.py
  python/llm/src/bigdl/llm/langchain/llms/bigdlllm.py
  python/llm/test/langchain/test_langchain.py
  python/llm/test/run-llm-langchain-tests.sh
Labels: llm

#8382 LLM: raise warning instead of error when use unsupported parameters
  python/llm/src/bigdl/llm/ggml/model/bloom/bloom.py
  python/llm/src/bigdl/llm/ggml/model/starcoder/starcoder.py
Labels: llm

#8392 LLM: add chatglm-6b example for transformer_int4 usage
  python/llm/example/transformers_int4.py
Labels: example, llm

#8379 LLM: add UT for starcoder (convert, inference) update examples and readme
  .github/workflows/llm-nightly-test.yml
  .github/workflows/llm_unit_tests_linux.yml
  python/llm/README.md
  python/llm/example/transformers/README.md
  python/llm/example/transformers/int4_pipeline.py
  python/llm/test/convert/test_convert_model.py
  python/llm/test/inference/test_call_models.py
Labels: example, llm

#8395 LLM: Check GPTQ outfile directory
  python/llm/src/bigdl/llm/convert_model.py
Labels: llm

#8407 Orca: add exception hander in log monitor.
  python/orca/src/bigdl/orca/learn/log_monitor.py
Labels: orca

#8406 LLM: update bloom and starcoder usage in transformers_int4_pipeline
  python/llm/example/transformers/README.md
  python/llm/example/transformers/int4_pipeline.py
Labels: llm

#8328 [LLM] LLM windows daily test
  .github/workflows/bigdl-llm-winlog.yml
  python/llm/test/win/ftp-get-stable-ckpts.txt.example
  python/llm/test/win/ftp.txt.example
  python/llm/test/win/win_env_setup_and_test.bat
  python/llm/test/win/win_test_log.py
  python/llm/test/win/win_test_starter.bat
Labels: llm

#8413 Fix libturbo-jpeg pentest issue
  .github/workflows/nano_unit_tests_tensorflow.yml
  python/nano/setup.py
Labels: Nano

#8417 LLM: fix langchain windows failure
  .github/workflows/llm_unit_tests_windows.yml
  python/llm/test/langchain/test_langchain.py
  python/llm/test/run-llm-windows-tests.sh
Labels: llm

#8399 LLM: add a dev tool for getting glibc/glibcxx requirement
  python/llm/dev/print_glib_requirement.py
Labels: llm

#8418 Orca: enable SSL certificate verification.
  python/orca/src/bigdl/orca/data/file.py
  python/orca/src/bigdl/orca/data/utils.py
  python/orca/src/bigdl/orca/learn/utils.py
  python/orca/test/bigdl/orca/data/test_file.py
Labels: orca
