Repository intel-analytics/ipex-llm, pull requests merged in 2024-01, with the labels that each got.

#9813 LLM: fix installation of codellama
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/codellama/README.md
  python/llm/example/CPU/PyTorch-Models/Model/codellama/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/codellama/readme.md
  python/llm/example/GPU/PyTorch-Models/Model/codellama/README.md
Labels: llm

#9820 LLM: fix chatglm3 issue
  python/llm/src/bigdl/llm/transformers/models/chatglm2.py
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#9835 LLM: update qlora alpaca example to change lora usage
  python/llm/example/GPU/QLoRA-FineTuning/alpaca-qlora/alpaca_qlora_finetuning.py
Labels: example

#9830 LLM: fix accuracy issue of chatglm3
  python/llm/src/bigdl/llm/transformers/models/chatglm2.py
Labels: llm

#9841 LLM: fix first token judgement of flash attention
  python/llm/src/bigdl/llm/transformers/models/chatglm2.py
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#9838 LLM: update check for deepspeed
  python/llm/src/bigdl/llm/transformers/convert.py
Labels: llm

#9846 LLM: add flash attention for mistral / mixtral
  python/llm/src/bigdl/llm/transformers/models/mistral.py
  python/llm/src/bigdl/llm/transformers/models/mixtral.py
Labels: llm

#9860 LLM: add mlp fusion for fp8e5 and update related check
  python/llm/src/bigdl/llm/transformers/models/baichuan2.py
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/mixtral.py
  python/llm/src/bigdl/llm/transformers/models/qwen.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#9856 Support llm-awq backend
  python/llm/example/CPU/HF-Transformers-AutoModels/Advanced-Quantizations/AWQ/README.md
  python/llm/example/CPU/HF-Transformers-AutoModels/Advanced-Quantizations/GGUF/README.md
  python/llm/src/bigdl/llm/transformers/awq/awq.py
  python/llm/src/bigdl/llm/transformers/awq/awq_config.py
  python/llm/src/bigdl/llm/transformers/awq/linear.py
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/model.py
Labels: llm

#9871 LLM: update esimd sdp kernel
  python/llm/src/bigdl/llm/transformers/models/llama.py
Labels: llm

#9878 LLM: support qkv fusion for fp8e5
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/mistral.py
Labels: llm

#9891 LLM: fix mlp check of mixtral
  python/llm/src/bigdl/llm/transformers/models/mixtral.py
Labels: llm

#9900 LLM: fix chatglm3 sdp to support speculative decoding
  python/llm/src/bigdl/llm/transformers/models/chatglm2.py
Labels: llm

#9872 LLM: add Ceval benchmark test.
  python/llm/dev/benchmark/ceval/README.md
  python/llm/dev/benchmark/ceval/eval.py
  python/llm/dev/benchmark/ceval/evaluators/evaluator.py
  python/llm/dev/benchmark/ceval/evaluators/llama.py
  python/llm/dev/benchmark/ceval/evaluators/qwen.py
  python/llm/dev/benchmark/ceval/run.sh
Labels: test, llm

#9926 LLM: Fix rope of chatglm3 to support speculative decoding on CPU
  python/llm/src/bigdl/llm/transformers/models/chatglm2.py
Labels: llm

#9940 LLM: add avg token latency information and benchmark guide of autotp
  python/llm/dev/benchmark/README.md
  python/llm/example/GPU/Deepspeed-AutoTP/README.md
  python/llm/example/GPU/Deepspeed-AutoTP/deepspeed_autotp.py
Labels: llm

#9959 LLM: limit esimd sdp usage for k_len < 8
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#9902 LLM GPU Example Update for Windows Support
  docs/readthedocs/source/doc/LLM/Overview/KeyFeatures/inference_on_gpu.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/aquila/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/aquila2/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/baichuan/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/baichuan2/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/bluelm/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/chatglm2/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/chatglm2/generate.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/chatglm2/streamchat.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/chatglm3/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/chinese-llama2/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/codellama/readme.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/distil-whisper/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/dolly-v1/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/dolly-v2/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/falcon/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/flan-t5/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/gpt-j/readme.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/internlm/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/llama2/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/mistral/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/mixtral/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/mpt/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/phi-1_5/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/qwen-vl/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/qwen/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/replit/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/solar/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/starcoder/readme.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/vicuna/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/voiceassistant/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/whisper/readme.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/yi/README.md
  python/llm/example/GPU/PyTorch-Models/Model/README.md
  python/llm/example/GPU/PyTorch-Models/Model/aquila2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/baichuan/README.md
  python/llm/example/GPU/PyTorch-Models/Model/baichuan2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/bluelm/README.md
  python/llm/example/GPU/PyTorch-Models/Model/chatglm2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/chatglm3/README.md
  python/llm/example/GPU/PyTorch-Models/Model/codellama/README.md
  python/llm/example/GPU/PyTorch-Models/Model/distil-whisper/README.md
  python/llm/example/GPU/PyTorch-Models/Model/dolly-v1/README.md
  python/llm/example/GPU/PyTorch-Models/Model/dolly-v2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/flan-t5/README.md
  python/llm/example/GPU/PyTorch-Models/Model/llama2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/llava/README.md
  python/llm/example/GPU/PyTorch-Models/Model/mistral/README.md
  python/llm/example/GPU/PyTorch-Models/Model/mixtral/README.md
  python/llm/example/GPU/PyTorch-Models/Model/phi-1_5/README.md
  python/llm/example/GPU/PyTorch-Models/Model/qwen-vl/README.md
  python/llm/example/GPU/PyTorch-Models/Model/replit/README.md
  python/llm/example/GPU/PyTorch-Models/Model/solar/README.md
  python/llm/example/GPU/PyTorch-Models/Model/starcoder/README.md
  python/llm/example/GPU/PyTorch-Models/Model/yi/README.md
  python/llm/example/GPU/README.md
Labels: llm

#9932 LLM: add mlp & qkv fusion for FP16 Llama-7B
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
  python/llm/src/bigdl/llm/transformers/utils.py
Labels: llm

#10007 LLM: fix truncation logic of past_key_values in chatglm multi turn chat
  python/llm/portable-zip/chat.py
Labels: llm

#10020 fix nano action
  .github/actions/nano/setup-pytorch-env/action.yml
Labels: Nano

#10023 LLM: update fp16 linear on ARC/FLEX
  python/llm/src/bigdl/llm/transformers/low_bit_linear.py
Labels: llm

#9980 Add AutoGen CPU and XPU Example
  python/llm/example/CPU/Applications/autogen/README.md
  python/llm/example/CPU/Applications/autogen/teachability_new_knowledge.py
  python/llm/example/GPU/Applications/autogen/README.md
  python/llm/example/GPU/Applications/autogen/teachability_new_knowledge.py
Labels: example
