Repository intel-analytics/ipex-llm, pull requests merged in 2024-02, with the labels that each got.

#10055 LLM: add initial FAQ page
  docs/readthedocs/source/_toc.yml
  docs/readthedocs/source/doc/LLM/Overview/FAQ/general_info.md
  docs/readthedocs/source/doc/LLM/Overview/FAQ/index.rst
  docs/readthedocs/source/doc/LLM/Overview/FAQ/resolve_error.md
Labels: document, llm

#10021 LLM: Add initial DPO finetuning example
  python/llm/example/GPU/LLM-Finetuning/DPO/README.md
  python/llm/example/GPU/LLM-Finetuning/DPO/dpo_finetuning.py
  python/llm/example/GPU/LLM-Finetuning/DPO/export_merged_model.py
  python/llm/example/GPU/LLM-Finetuning/README.md
Labels: llm

#10068 LLM: add solutions of some frequently asked questions
  docs/readthedocs/source/doc/LLM/Overview/FAQ/resolve_error.md
Labels: document, llm

#10077 LLM: support speecht5_tts
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/low_bit_linear.py
Labels: llm

#10078 LLM: make finetuning examples more common for other models
  python/llm/example/GPU/LLM-Finetuning/LoRA/alpaca_lora_finetuning.py
  python/llm/example/GPU/LLM-Finetuning/LoRA/export_merged_model.py
  python/llm/example/GPU/LLM-Finetuning/QA-LoRA/alpaca_qalora_finetuning.py
  python/llm/example/GPU/LLM-Finetuning/QA-LoRA/export_merged_model.py
  python/llm/example/GPU/LLM-Finetuning/QLoRA/alpaca-qlora/alpaca_qlora_finetuning.py
  python/llm/example/GPU/LLM-Finetuning/QLoRA/alpaca-qlora/export_merged_model.py
  python/llm/example/GPU/LLM-Finetuning/ReLora/alpaca_relora_finetuning.py
  python/llm/example/GPU/LLM-Finetuning/ReLora/export_merged_model.py
Labels: llm

#10052 add phixtral and optimize phi-moe
  README.md
  python/llm/README.md
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/phixtral/README.md
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/phixtral/generate.py
  python/llm/example/CPU/PyTorch-Models/Model/phixtral/README.md
  python/llm/example/CPU/PyTorch-Models/Model/phixtral/generate.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/phixtral/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/phixtral/generate.py
  python/llm/example/GPU/PyTorch-Models/Model/phixtral/README.md
  python/llm/example/GPU/PyTorch-Models/Model/phixtral/generate.py
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/models/phixtral.py
Labels: example, llm

#10042 LLM: 2bit quantization support
  python/llm/src/bigdl/llm/ggml/model/llama/llama_cpp.py
  python/llm/src/bigdl/llm/ggml/quantize.py
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/low_bit_linear.py
  python/llm/src/bigdl/llm/transformers/model.py
  python/llm/src/bigdl/llm/transformers/utils.py
Labels: llm

#10119 LLM: update FAQ about `too many open files`
  docs/readthedocs/source/doc/LLM/Overview/FAQ/resolve_error.md
  python/llm/example/GPU/LLM-Finetuning/LoRA/README.md
  python/llm/example/GPU/LLM-Finetuning/QA-LoRA/README.md
  python/llm/example/GPU/LLM-Finetuning/QLoRA/alpaca-qlora/README.md
  python/llm/example/GPU/LLM-Finetuning/README.md
  python/llm/example/GPU/LLM-Finetuning/ReLora/README.md
Labels: llm

#10106 LLM: support models hosted by modelscope
  python/llm/src/bigdl/llm/transformers/model.py
  python/llm/src/bigdl/llm/transformers/utils.py
Labels: llm

#10124 LLM: add default torch_dtype for fp16.
  python/llm/src/bigdl/llm/transformers/model.py
Labels: llm

#10126 LLM: add Modelscope model example
  python/llm/example/CPU/ModelScope-Models/README.md
  python/llm/example/CPU/ModelScope-Models/generate.py
  python/llm/example/CPU/README.md
  python/llm/example/GPU/ModelScope-Models/README.md
  python/llm/example/GPU/ModelScope-Models/generate.py
  python/llm/example/GPU/README.md
Labels: llm

#10132 LLM: basic support for q2k
  python/llm/src/bigdl/llm/ggml/quantize.py
  python/llm/src/bigdl/llm/transformers/low_bit_linear.py
  python/llm/src/bigdl/llm/transformers/model.py
  python/llm/src/bigdl/llm/transformers/utils.py
Labels: llm

#10154 LLM: fix device setting during saving optimized model
  python/llm/src/bigdl/llm/transformers/model.py
Labels: llm

#10191 LLM: support iq2 for mixtral
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/utils.py
Labels: llm

#10183 LLM: add qlora finetuning example using `trl.SFTTrainer`
  python/llm/example/GPU/LLM-Finetuning/QLoRA/README.md
  python/llm/example/GPU/LLM-Finetuning/QLoRA/trl-example/README.md
  python/llm/example/GPU/LLM-Finetuning/QLoRA/trl-example/export_merged_model.py
  python/llm/example/GPU/LLM-Finetuning/QLoRA/trl-example/qlora_finetuning.py
Labels: llm

#10205 LLM: add esimd sdp support for chatglm3
  python/llm/src/bigdl/llm/transformers/models/chatglm2.py
Labels: llm

#10207 LLM: add GGUF-IQ2 examples
  python/llm/example/GPU/HF-Transformers-AutoModels/Advanced-Quantizations/GGUF-IQ2/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Advanced-Quantizations/GGUF-IQ2/generate.py
  python/llm/src/bigdl/llm/ggml/quantize.py
  python/llm/src/bigdl/llm/transformers/low_bit_linear.py
  python/llm/src/bigdl/llm/transformers/model.py
  python/llm/src/bigdl/llm/transformers/utils.py
Labels: llm

#10014 Add CPU and GPU examples of phi-2
  README.md
  python/llm/README.md
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/phi-2/README.md
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/phi-2/generate.py
  python/llm/example/CPU/PyTorch-Models/Model/phi-2/README.md
  python/llm/example/CPU/PyTorch-Models/Model/phi-2/generate.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/phi-2/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/phi-2/generate.py
  python/llm/example/GPU/PyTorch-Models/Model/phi-2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/phi-2/generate.py
Labels: example, llm

#9946 Add CPU and GPU examples for Yuan2-2B-hf
  README.md
  python/llm/README.md
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/yuan2/README.md
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/yuan2/generate.py
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/yuan2/yuan2-2B-instruct/config.json
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/yuan2/yuan2-2B-instruct/yuan_hf_model.py
  python/llm/example/CPU/PyTorch-Models/Model/yuan2/README.md
  python/llm/example/CPU/PyTorch-Models/Model/yuan2/generate.py
  python/llm/example/CPU/PyTorch-Models/Model/yuan2/yuan2-2B-instruct/config.json
  python/llm/example/CPU/PyTorch-Models/Model/yuan2/yuan2-2B-instruct/yuan_hf_model.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/yuan2/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/yuan2/generate.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/yuan2/yuan2-2B-instruct/config.json
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/yuan2/yuan2-2B-instruct/yuan_hf_model.py
  python/llm/example/GPU/PyTorch-Models/Model/yuan2/README.md
  python/llm/example/GPU/PyTorch-Models/Model/yuan2/generate.py
  python/llm/example/GPU/PyTorch-Models/Model/yuan2/yuan2-2B-instruct/config.json
  python/llm/example/GPU/PyTorch-Models/Model/yuan2/yuan2-2B-instruct/yuan_hf_model.py
Labels: example

#10219 LLM: support fp16 embedding & add mlp fusion for iq2_xxs
  python/llm/src/bigdl/llm/transformers/convert.py
  python/llm/src/bigdl/llm/transformers/embedding.py
  python/llm/src/bigdl/llm/transformers/model.py
  python/llm/src/bigdl/llm/transformers/models/mistral.py
  python/llm/src/bigdl/llm/transformers/models/mixtral.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#10242 Orca: upgrade spark 3.4.1.
  python/dllib/src/setup.py
  python/orca/src/bigdl/orca/data/ray_xshards.py
  python/orca/src/bigdl/orca/data/shard.py
  python/orca/test/bigdl/orca/learn/test_tf2_basic.py
Labels: orca

#10235 Chronos: fix failed action
  .github/workflows/chronos-howto-guides-python-spark31.yml
  python/chronos/src/bigdl/chronos/benchmark/benchmark_chronos.py
Labels: Chronos

#9867 Add CPU and GPU examples for DeciLM-7B
  README.md
  python/llm/README.md
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/deciLM-7b/README.md
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/deciLM-7b/generate.py
  python/llm/example/CPU/PyTorch-Models/Model/deciLM-7b/README.md
  python/llm/example/CPU/PyTorch-Models/Model/deciLM-7b/generate.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/deciLM-7b/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/deciLM-7b/generate.py
  python/llm/example/GPU/PyTorch-Models/Model/deciLM-7b/README.md
  python/llm/example/GPU/PyTorch-Models/Model/deciLM-7b/generate.py
Labels: example

#9104 LLM: Meta Llama2 example
  python/llm/example/CPU/PyTorch-Models/Model/meta-llama/README.md
  python/llm/example/CPU/PyTorch-Models/Model/meta-llama/cpu.patch
  python/llm/example/CPU/PyTorch-Models/Model/meta-llama/example_chat_completion.py
  python/llm/example/CPU/PyTorch-Models/Model/meta-llama/example_text_completion.py
Labels: example, llm

#9797 Add cpu and gpu examples of Mamba
  README.md
  python/llm/README.md
  python/llm/example/CPU/PyTorch-Models/Model/mamba/README.md
  python/llm/example/CPU/PyTorch-Models/Model/mamba/generate.py
  python/llm/example/CPU/PyTorch-Models/Model/mamba/model.py
  python/llm/example/GPU/PyTorch-Models/Model/mamba/README.md
  python/llm/example/GPU/PyTorch-Models/Model/mamba/generate.py
  python/llm/example/GPU/PyTorch-Models/Model/mamba/model.py
Labels: example, llm

#10255 Update AutoGen README
  python/llm/example/CPU/Applications/autogen/README.md
  python/llm/example/GPU/Applications/autogen/README.md
Labels: example, llm

#9991 Add Deepseek-6.7B
  README.md
  python/llm/README.md
  python/llm/dev/benchmark/all-in-one/config.yaml
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/deepseek/README.md
  python/llm/example/CPU/HF-Transformers-AutoModels/Model/deepseek/generate.py
  python/llm/example/CPU/PyTorch-Models/Model/deepseek/README.md
  python/llm/example/CPU/PyTorch-Models/Model/deepseek/generate.py
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/deepseek/README.md
  python/llm/example/GPU/HF-Transformers-AutoModels/Model/deepseek/generate.py
  python/llm/example/GPU/PyTorch-Models/Model/deepseek/README.md
  python/llm/example/GPU/PyTorch-Models/Model/deepseek/generate.py
Labels: example, llm

#10270 LLM: relax batch check of flash atttention by double check attention mask
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/utils.py
Labels: llm

#10271 LLM: Update qkv fusion for GGUF-IQ2
  python/llm/example/GPU/HF-Transformers-AutoModels/Advanced-Quantizations/GGUF-IQ2/generate.py
  python/llm/src/bigdl/llm/transformers/models/llama.py
  python/llm/src/bigdl/llm/transformers/models/mistral.py
  python/llm/src/bigdl/llm/transformers/models/mixtral.py
Labels: llm
